In [1]:
import tensorflow as tf
from tensorflow.keras import Sequential
from tensorflow.keras.layers import Flatten, Dense, Dropout, BatchNormalization
from tensorflow.keras.layers import Conv1D, MaxPooling1D
from tensorflow.keras.optimizers import Adam
print(tf.__version__)

2.12.0

In [2]:
import pandas as pd
import numpy as np
import os
import math
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, LabelEncoder

In [3]:
# filepath = "merged_u1-50_w001_resampled.csv"
filepath = "D:/online dataset csv files preprocessing/merged_u1-50_w001_resampled.csv"

df_original = pd.read_csv(filepath)

In [4]:
df_original

,timestamp,LAx,LAy,LAz,GYx,GYy,GYz,name
0,924313410000000,1.242813,-0.160181,-0.900440,0.194931,-0.004242,0.163818,1
1,924313420000000,1.117246,-0.187921,-1.529893,0.236458,0.076378,0.133293,1
2,924313430000000,0.912846,-0.192566,-1.570929,0.226074,0.012253,0.108246,1
3,924313440000000,0.874858,-0.227208,-1.453511,0.139336,-0.050667,0.085030,1
4,924313450000000,0.834022,-0.282976,-1.292671,-0.013374,-0.109314,0.078308,1
...,...,...,...,...,...,...,...,...
2055043,1368327120000000,-9.502644,-7.178468,4.246279,-2.834417,-0.120428,-0.987857,50
2055044,1368327130000000,-9.443804,-7.698220,3.059675,-2.638940,0.561997,-0.947715,50
2055045,1368327140000000,-8.345459,-6.805815,1.853457,-2.483606,1.225222,-0.954696,50
2055046,1368327150000000,-7.580540,-5.629017,1.559257,-2.429500,1.769765,-1.003565,50
2055047,1368327160000000,-6.952915,-4.589512,1.755390,-2.426010,2.099633,-0.980876,50

In [5]:
drop_values = [7, 32, 22, 19, 50]

# Drop rows based on conditions in the "name" column
df_original = df_original[~df_original['name'].isin(drop_values)]
df_original

,timestamp,LAx,LAy,LAz,GYx,GYy,GYz,name
0,924313410000000,1.242813,-0.160181,-0.900440,0.194931,-0.004242,0.163818,1
1,924313420000000,1.117246,-0.187921,-1.529893,0.236458,0.076378,0.133293,1
2,924313430000000,0.912846,-0.192566,-1.570929,0.226074,0.012253,0.108246,1
3,924313440000000,0.874858,-0.227208,-1.453511,0.139336,-0.050667,0.085030,1
4,924313450000000,0.834022,-0.282976,-1.292671,-0.013374,-0.109314,0.078308,1
...,...,...,...,...,...,...,...,...
2025055,12367900000000,2.077829,2.416126,-1.081501,-0.192919,-0.278187,-0.239816,49
2025056,12367910000000,2.021396,0.872086,-0.409698,0.479632,0.130033,0.110848,49
2025057,12367920000000,0.800086,-1.380429,1.259032,1.242781,0.612863,0.310162,49
2025058,12367930000000,-0.835712,-2.578688,2.644251,1.785298,0.871865,0.318689,49
2025059,12367940000000,-2.730023,-2.689757,3.954028,2.095461,0.807914,0.187589,49

In [6]:
label = LabelEncoder()
df_original['name'] = label.fit_transform(df_original['name'])
df_original

C:\Users\szizo\AppData\Local\Temp\ipykernel_8220\2860499691.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_original['name'] = label.fit_transform(df_original['name'])

,timestamp,LAx,LAy,LAz,GYx,GYy,GYz,name
0,924313410000000,1.242813,-0.160181,-0.900440,0.194931,-0.004242,0.163818,0
1,924313420000000,1.117246,-0.187921,-1.529893,0.236458,0.076378,0.133293,0
2,924313430000000,0.912846,-0.192566,-1.570929,0.226074,0.012253,0.108246,0
3,924313440000000,0.874858,-0.227208,-1.453511,0.139336,-0.050667,0.085030,0
4,924313450000000,0.834022,-0.282976,-1.292671,-0.013374,-0.109314,0.078308,0
...,...,...,...,...,...,...,...,...
2025055,12367900000000,2.077829,2.416126,-1.081501,-0.192919,-0.278187,-0.239816,44
2025056,12367910000000,2.021396,0.872086,-0.409698,0.479632,0.130033,0.110848,44
2025057,12367920000000,0.800086,-1.380429,1.259032,1.242781,0.612863,0.310162,44
2025058,12367930000000,-0.835712,-2.578688,2.644251,1.785298,0.871865,0.318689,44
2025059,12367940000000,-2.730023,-2.689757,3.954028,2.095461,0.807914,0.187589,44

In [7]:
num_users = df_original['name'].nunique()
num_users

45

In [8]:
df_original.isnull().sum()

timestamp    0
LAx          0
LAy          0
LAz          0
GYx          0
GYy          0
GYz          0
name         0
dtype: int64

In [9]:
df_original.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1857230 entries, 0 to 2025059
Data columns (total 8 columns):
 #   Column     Dtype
---  ------     -----
 0   timestamp  int64
 1   LAx        float64
 2   LAy        float64
 3   LAz        float64
 4   GYx        float64
 5   GYy        float64
 6   GYz        float64
 7   name       int64
dtypes: float64(6), int64(2)
memory usage: 127.5 MB

In [10]:
df_original['name'].value_counts()

16    82714
42    65984
25    60052
6     60036
5     60005
7     59986
36    59984
11    59984
2     59958
34    59958
32    55050
10    51686
1     48001
9     47946
29    47824
44    47614
37    41946
35    41946
28    41945
30    41945
23    41535
26    40959
20    35980
14    35974
17    35948
24    35947
27    35947
3     35946
19    34545
33    32186
39    31414
38    30100
15    29997
43    29990
12    29950
41    29945
8     28892
0     26790
40    26022
21    25926
4     25792
31    25173
22    23949
13    17985
18    15774
Name: name, dtype: int64

In [11]:
df_Xtime = df_original.copy()
df_Xtime = df_Xtime.drop(['timestamp'], axis = 1).copy()
df_Xtime.shape

(1857230, 7)

In [12]:
df_Xtime

              LAx       LAy       LAz       GYx       GYy       GYz  name
0        1.242813 -0.160181 -0.900440  0.194931 -0.004242  0.163818     0
1        1.117246 -0.187921 -1.529893  0.236458  0.076378  0.133293     0
2        0.912846 -0.192566 -1.570929  0.226074  0.012253  0.108246     0
3        0.874858 -0.227208 -1.453511  0.139336 -0.050667  0.085030     0
4        0.834022 -0.282976 -1.292671 -0.013374 -0.109314  0.078308     0
...           ...       ...       ...       ...       ...       ...   ...
2025055  2.077829  2.416126 -1.081501 -0.192919 -0.278187 -0.239816    44
2025056  2.021396  0.872086 -0.409698  0.479632  0.130033  0.110848    44
2025057  0.800086 -1.380429  1.259032  1.242781  0.612863  0.310162    44
2025058 -0.835712 -2.578688  2.644251  1.785298  0.871865  0.318689    44
2025059 -2.730023 -2.689757  3.954028  2.095461  0.807914  0.187589    44

[1857230 rows x 7 columns]

In [13]:
X = df_Xtime[['LAx', 'LAy', 'LAz','GYx', 'GYy', 'GYz']].copy()
y = df_Xtime['name'].copy()

In [14]:
scaler = StandardScaler()
X_transformed = X.copy()
# X_transformed = scaler.fit_transform(X_transformed) #No_scalling

scaled_X = pd.DataFrame(data = X_transformed, columns = ['LAx', 'LAy', 'LAz','GYx', 'GYy', 'GYz'])
scaled_X['label'] = y.values

scaled_X

              LAx       LAy       LAz       GYx       GYy       GYz  label
0        1.242813 -0.160181 -0.900440  0.194931 -0.004242  0.163818      0
1        1.117246 -0.187921 -1.529893  0.236458  0.076378  0.133293      0
2        0.912846 -0.192566 -1.570929  0.226074  0.012253  0.108246      0
3        0.874858 -0.227208 -1.453511  0.139336 -0.050667  0.085030      0
4        0.834022 -0.282976 -1.292671 -0.013374 -0.109314  0.078308      0
...           ...       ...       ...       ...       ...       ...    ...
2025055  2.077829  2.416126 -1.081501 -0.192919 -0.278187 -0.239816     44
2025056  2.021396  0.872086 -0.409698  0.479632  0.130033  0.110848     44
2025057  0.800086 -1.380429  1.259032  1.242781  0.612863  0.310162     44
2025058 -0.835712 -2.578688  2.644251  1.785298  0.871865  0.318689     44
2025059 -2.730023 -2.689757  3.954028  2.095461  0.807914  0.187589     44

[1857230 rows x 7 columns]

In [15]:
df_test = pd.DataFrame(columns=['LAx','LAy','LAz','GYx','GYy','GYz','label'])
df_train = pd.DataFrame(columns=['LAx','LAy','LAz','GYx','GYy','GYz','label'])

for i in range(0,num_users):
    df_original_i = scaled_X[scaled_X['label'] == i]
    length = len(df_original_i)
    num_rows_70 = int(length*0.7)
    
    train_row = df_original_i[:num_rows_70]
    test_row = df_original_i[num_rows_70:]
    
    df_train = df_train.append(train_row, ignore_index=True)
    df_test = df_test.append(test_row, ignore_index=True)

df_train.shape, df_test.shape

C:\Users\szizo\AppData\Local\Temp\ipykernel_8220\1631389044.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_train = df_train.append(train_row, ignore_index=True)
C:\Users\szizo\AppData\Local\Temp\ipykernel_8220\1631389044.py:13: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_test = df_test.append(test_row, ignore_index=True)

((1300041, 7), (557189, 7))

In [16]:
import scipy.stats as stats

Fs = 100
frame_size = Fs*6 
hop_size = Fs*2

In [17]:
 df_original['name'].nunique()

45

In [18]:
def get_frames(df, frame_size, hop_size):
    N_FEATURES = 6

    frames = []
    labels = []
    
    num_users = df_original['name'].nunique()
    for j in range (0,num_users): 
        filtered_df = df[df['label'] == j]
        filtered_df = filtered_df.drop('label', axis = 1)
        for i in range(0, len(filtered_df) - frame_size, hop_size):
            LAx = filtered_df['LAx'].values[i: i + frame_size]
            LAy = filtered_df['LAy'].values[i: i + frame_size]
            LAz = filtered_df['LAz'].values[i: i + frame_size]
            GYx = filtered_df['GYx'].values[i: i + frame_size]
            GYy = filtered_df['GYy'].values[i: i + frame_size]
            GYz = filtered_df['GYz'].values[i: i + frame_size]
            

            label = j

            frames.append([LAx, LAy, LAz, GYx, GYy , GYz])
            labels.append(label)

    frames = np.asarray(frames).reshape(-1, frame_size, N_FEATURES)
    labels = np.asarray(labels)
    
    return frames, labels

In [19]:
# X, y = get_frames(scaled_X,frame_size, hop_size)
# X.shape, y.shape

In [20]:
X_train_Unshuffeled,y_train_Unshuffeled = get_frames(df_train,frame_size,hop_size)
X_test, y_test = get_frames(df_test,frame_size,hop_size)
X_train_Unshuffeled.shape, X_test.shape, y_train_Unshuffeled.shape, y_test.shape

((6380, 600, 6), (2666, 600, 6), (6380,), (2666,))

In [21]:
# X_train_val, X_test, y_train_val, y_test = train_test_split(X, y, test_size = 0.3, random_state = 0, stratify = y)

X_train, X_validation, y_train, y_validation = train_test_split(X_train_Unshuffeled, y_train_Unshuffeled, test_size = 0.1, random_state = 0, stratify = y_train_Unshuffeled)
X_train.shape, X_test.shape, X_validation.shape

((5742, 600, 6), (2666, 600, 6), (638, 600, 6))

In [22]:
X_train[0].shape, X_test[0].shape, X_validation[0].shape

((600, 6), (600, 6), (600, 6))

In [23]:
# num = df_original['name'].iloc[-1]
# num

In [24]:
len(np.unique(y_test))

45

In [25]:
np.unique(y_test)

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33,
       34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44])

In [26]:
# # Subtract 1 from each label in y_train
# y_train = np.array(y_train) - 1
# y_test = np.array(y_test) - 1
# y_validation = np.array(y_validation) - 1

In [27]:
y_train.shape, y_test.shape, y_validation.shape

((5742,), (2666,), (638,))

In [28]:
y_train_o = np.eye(50)[y_train]
y_test_o = np.eye(50)[y_test]
y_validation_o = np.eye(50)[y_validation]

In [29]:
y_train_o.shape, y_validation_o.shape, y_validation_o.shape

((5742, 50), (638, 50), (638, 50))

In [30]:
# tut
# model = Sequential()
# model.add(Conv1D(filters=64, kernel_size=3, activation='relu', input_shape=X_train[0].shape))
# model.add(Conv1D(filters=64, kernel_size=3, activation='relu'))
# model.add(Dropout(0.5))
# model.add(MaxPooling1D(pool_size=2))
# model.add(Flatten())
# model.add(Dense(100, activation='relu'))
# model.add(Dense(50, activation='softmax'))

In [43]:
# chatgpt
model = Sequential()
model.add(Conv1D(filters=32, kernel_size=3, activation='relu', input_shape=X_train[0].shape))
model.add(MaxPooling1D(pool_size=2))
model.add(Conv1D(filters=64, kernel_size=3, activation='relu'))
model.add(MaxPooling1D(pool_size=2))
model.add(Conv1D(filters=128, kernel_size=3, activation='relu'))
model.add(MaxPooling1D(pool_size=2))
model.add(Flatten())
model.add(Dense(256, activation='relu'))
model.add(Dropout(0.5))
model.add(Dense(num_users +1, activation='softmax'))

In [44]:
model.summary(line_length = 75)

Model: "sequential_2"
___________________________________________________________________________
 Layer (type)                    Output Shape                  Param #
===========================================================================
 conv1d_6 (Conv1D)               (None, 598, 32)               608

 max_pooling1d_6 (MaxPooling1D)  (None, 299, 32)               0

 conv1d_7 (Conv1D)               (None, 297, 64)               6208

 max_pooling1d_7 (MaxPooling1D)  (None, 148, 64)               0

 conv1d_8 (Conv1D)               (None, 146, 128)              24704

 max_pooling1d_8 (MaxPooling1D)  (None, 73, 128)               0

 flatten_2 (Flatten)             (None, 9344)                  0

 dense_4 (Dense)                 (None, 256)                   2392320

 dropout_2 (Dropout)             (None, 256)                   0

 dense_5 (Dense)                 (None, 46)                    11822

===========================================================================
Total params: 2,435,662
Trainable params: 2,435,662
Non-trainable params: 0
___________________________________________________________________________

In [45]:
model.compile(optimizer=Adam(learning_rate = 0.001), loss=tf.keras.losses.SparseCategoricalCrossentropy(), metrics = ['accuracy'])

In [46]:
early_stopping = tf.keras.callbacks.EarlyStopping(
    monitor = 'val_loss',
    mode = 'auto',
    min_delta = 0,
    patience = 2,
    verbose = 0,
    restore_best_weights = True
)

In [47]:
history = model.fit(X_train, y_train, epochs = 30,callbacks = [early_stopping], 
                    validation_data= (X_validation, y_validation), verbose=1)

Epoch 1/30
180/180 [==============================] - 10s 48ms/step - loss: 2.3495 - accuracy: 0.3936 - val_loss: 0.4184 - val_accuracy: 0.8699
Epoch 2/30
180/180 [==============================] - 8s 47ms/step - loss: 0.5320 - accuracy: 0.8157 - val_loss: 0.1794 - val_accuracy: 0.9138
Epoch 3/30
180/180 [==============================] - 8s 47ms/step - loss: 0.3143 - accuracy: 0.8758 - val_loss: 0.1320 - val_accuracy: 0.9201
Epoch 4/30
180/180 [==============================] - 9s 47ms/step - loss: 0.2285 - accuracy: 0.8960 - val_loss: 0.1354 - val_accuracy: 0.9279
Epoch 5/30
180/180 [==============================] - 9s 47ms/step - loss: 0.1948 - accuracy: 0.9105 - val_loss: 0.1267 - val_accuracy: 0.9201
Epoch 6/30
180/180 [==============================] - 9s 48ms/step - loss: 0.1839 - accuracy: 0.9068 - val_loss: 0.1237 - val_accuracy: 0.9295
Epoch 7/30
180/180 [==============================] - 9s 47ms/step - loss: 0.1743 - accuracy: 0.9124 - val_loss: 0.1237 - val_accuracy: 0.9295
Epoch 8/30
180/180 [==============================] - 9s 47ms/step - loss: 0.1699 - accuracy: 0.9180 - val_loss: 0.1265 - val_accuracy: 0.9295

In [48]:
test_loss, test_accuracy = model.evaluate(X_test, y_test)
print('Test loss: {0: .4f}. Test accuracy: {1: .2f}%'.format(test_loss, test_accuracy*100))

84/84 [==============================] - 1s 10ms/step - loss: 0.2487 - accuracy: 0.9017
Test loss:  0.2487. Test accuracy:  90.17%

In [51]:
# filepath = "merged_u1-50_w001_resampled.csv"
filepath = "D:/online dataset csv files preprocessing/merged_u1-50_w001_resampled.csv"

df_original_unknown = pd.read_csv(filepath)

In [52]:
# drop_values = [7, 32, 22, 19, 50]

# Drop rows based on conditions in the "name" column
df_original_unknown = df_original_unknown[df_original_unknown['name'].isin([7, 32, 22, 19, 50])]
df_original_unknown

,timestamp,LAx,LAy,LAz,GYx,GYy,GYz,name
256492,1443687862850000000,0.822001,2.906170,-5.513826,0.956322,-0.585342,-1.195572,7
256493,1443687862860000000,1.369423,6.672983,-5.748380,1.393097,-0.693466,-1.277435,7
256494,1443687862870000000,1.944728,7.625208,-3.660502,1.672859,-1.410011,-1.302483,7
256495,1443687862880000000,3.151748,8.435455,-0.016925,1.736389,-1.994598,-1.272537,7
256496,1443687862890000000,3.776059,8.172326,1.637594,1.545799,-1.959175,-1.169319,7
...,...,...,...,...,...,...,...,...
2055043,1368327120000000,-9.502644,-7.178468,4.246279,-2.834417,-0.120428,-0.987857,50
2055044,1368327130000000,-9.443804,-7.698220,3.059675,-2.638940,0.561997,-0.947715,50
2055045,1368327140000000,-8.345459,-6.805815,1.853457,-2.483606,1.225222,-0.954696,50
2055046,1368327150000000,-7.580540,-5.629017,1.559257,-2.429500,1.769765,-1.003565,50
2055047,1368327160000000,-6.952915,-4.589512,1.755390,-2.426010,2.099633,-0.980876,50

In [53]:
df_Xtime_unk = df_original_unknown.copy()
df_Xtime_unk = df_Xtime_unk.drop(['timestamp'], axis = 1).copy()
df_Xtime_unk.shape

(197818, 7)

In [58]:
X_unk = df_Xtime_unk[['LAx', 'LAy', 'LAz','GYx', 'GYy', 'GYz']].copy()
y_unk = df_Xtime_unk['name'].copy()

In [59]:
scaler_unk = StandardScaler()
X_transformed_unk = X_unk.copy()
# X_transformed = scaler.fit_transform(X_transformed) #No_scalling

scaled_X_unk = pd.DataFrame(data = X_transformed_unk, columns = ['LAx', 'LAy', 'LAz','GYx', 'GYy', 'GYz'])
scaled_X_unk['label'] = y_unk.values

scaled_X_unk

              LAx       LAy       LAz       GYx       GYy       GYz  label
256492   0.822001  2.906170 -5.513826  0.956322 -0.585342 -1.195572      7
256493   1.369423  6.672983 -5.748380  1.393097 -0.693466 -1.277435      7
256494   1.944728  7.625208 -3.660502  1.672859 -1.410011 -1.302483      7
256495   3.151748  8.435455 -0.016925  1.736389 -1.994598 -1.272537      7
256496   3.776059  8.172326  1.637594  1.545799 -1.959175 -1.169319      7
...           ...       ...       ...       ...       ...       ...    ...
2055043 -9.502644 -7.178468  4.246279 -2.834417 -0.120428 -0.987857     50
2055044 -9.443804 -7.698220  3.059675 -2.638940  0.561997 -0.947715     50
2055045 -8.345459 -6.805815  1.853457 -2.483606  1.225222 -0.954696     50
2055046 -7.580540 -5.629017  1.559257 -2.429500  1.769765 -1.003565     50
2055047 -6.952915 -4.589512  1.755390 -2.426010  2.099633 -0.980876     50

[197818 rows x 7 columns]

In [60]:


# Assuming you have a DataFrame named 'scaled_X'

df_test_unk = pd.DataFrame(columns=['LAx','LAy','LAz','GYx','GYy','GYz','label'])
df_train_unk = pd.DataFrame(columns=['LAx','LAy','LAz','GYx','GYy','GYz','label'])

for i in range(1, 51):
    df_original_i = scaled_X_unk[scaled_X_unk['label'] == i]
    length = len(df_original_i)
    num_rows_70 = int(length * 0.7)

    train_row = df_original_i[:num_rows_70]
    test_row = df_original_i[num_rows_70:]

    df_train_unk = df_train_unk.append(train_row, ignore_index=True)
    df_test_unk = df_test_unk.append(test_row, ignore_index=True)

df_train_unk.shape, df_test_unk.shape

C:\Users\szizo\AppData\Local\Temp\ipykernel_8220\1048326157.py:14: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_train_unk = df_train_unk.append(train_row, ignore_index=True)
C:\Users\szizo\AppData\Local\Temp\ipykernel_8220\1048326157.py:15: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_test_unk = df_test_unk.append(test_row, ignore_index=True)

((138470, 7), (59348, 7))

In [65]:
def get_frames_unk(df, frame_size, hop_size):
    N_FEATURES = 6

    frames = []
    labels = []
    
#     num_users = df_original['name'].nunique()
    for j in [7, 32, 22, 19, 50]: 
        filtered_df = df[df['label'] == j]
        filtered_df = filtered_df.drop('label', axis = 1)
        for i in range(0, len(filtered_df) - frame_size, hop_size):
            LAx = filtered_df['LAx'].values[i: i + frame_size]
            LAy = filtered_df['LAy'].values[i: i + frame_size]
            LAz = filtered_df['LAz'].values[i: i + frame_size]
            GYx = filtered_df['GYx'].values[i: i + frame_size]
            GYy = filtered_df['GYy'].values[i: i + frame_size]
            GYz = filtered_df['GYz'].values[i: i + frame_size]
            

            label = j

            frames.append([LAx, LAy, LAz, GYx, GYy , GYz])
            labels.append(label)

    frames = np.asarray(frames).reshape(-1, frame_size, N_FEATURES)
    labels = np.asarray(labels)
    
    return frames, labels

In [66]:
X_train_Unshuffeled_unk,y_train_Unshuffeled_unk = get_frames_unk(df_train_unk,frame_size,hop_size)
X_test_unk, y_test_unk = get_frames(df_test_unk,frame_size,hop_size)
X_train_Unshuffeled_unk.shape, X_test_unk.shape, y_train_Unshuffeled_unk.shape, y_test_unk.shape

((679, 600, 6), (241, 600, 6), (679,), (241,))

In [67]:
# X_train_val, X_test, y_train_val, y_test = train_test_split(X, y, test_size = 0.3, random_state = 0, stratify = y)

X_train_unk, X_validation_unk, y_train_unk, y_validation_unk = train_test_split(X_train_Unshuffeled_unk, y_train_Unshuffeled_unk, test_size = 0.1, random_state = 0, stratify = y_train_Unshuffeled_unk)
X_train_unk.shape, X_test_unk.shape, X_validation_unk.shape

((611, 600, 6), (241, 600, 6), (68, 600, 6))

In [71]:
y_train_unk

array([ 7, 22, 32, 32, 22, 22, 22, 50, 19, 19, 19, 22, 19,  7, 32, 19,  7,
       32,  7, 32, 32,  7,  7, 19,  7, 22, 19, 22, 22, 19,  7,  7, 22, 22,
       32, 22, 22, 32,  7,  7, 32, 50,  7, 19, 22,  7,  7, 19, 32, 32, 19,
       50,  7, 19, 32,  7, 32, 32, 19, 19, 32,  7, 22, 19,  7, 32,  7,  7,
        7, 32, 22, 22,  7, 22, 32, 50, 32, 32, 19, 19, 19, 19, 22, 32, 32,
       50,  7,  7, 19,  7,  7,  7,  7, 19,  7, 32,  7, 32, 19, 22, 32,  7,
        7,  7, 32, 19, 32,  7, 19, 50, 50,  7, 50, 50, 19, 32,  7,  7, 19,
       32, 32, 50,  7, 32, 22, 32, 32, 32, 32,  7, 32, 19,  7, 50, 50, 32,
       32, 50,  7, 32, 32,  7, 19, 19, 19, 32, 19,  7,  7,  7, 32, 32,  7,
       19,  7, 32, 32, 22, 22,  7, 50, 19, 22,  7,  7, 32,  7, 50, 32,  7,
       19, 50, 50, 32, 32,  7, 50, 22, 32, 19, 32, 19, 22, 22, 19, 19, 50,
       32, 19, 32, 19, 32, 32, 50, 50, 50, 19, 32, 22, 22, 32, 32, 32, 22,
       32, 32, 50, 32, 50, 50, 22, 50, 50, 19, 50, 32, 19, 22,  7, 19, 32,
       19, 50, 32, 22, 32, 32, 50, 19, 50,  7, 32, 19, 22,  7, 50,  7, 22,
       19,  7, 50, 32, 32, 50, 32, 50, 32, 32, 19, 32, 32, 32,  7, 19, 50,
        7, 22, 32, 32, 32, 22,  7, 32, 50, 19, 50, 32,  7, 50,  7, 19, 19,
       32, 32,  7, 32, 50, 50, 32, 32, 50, 32,  7, 22, 19, 32, 19, 50, 22,
       22, 22, 50, 22, 50,  7,  7,  7,  7, 32, 50, 50,  7, 19, 19,  7, 32,
        7, 32, 50, 32,  7, 22, 32,  7, 50,  7, 32,  7, 19, 32, 19, 32, 22,
       19,  7, 32, 19, 32, 19, 50, 19,  7, 50,  7, 19, 19,  7,  7, 32,  7,
       50, 50, 50,  7, 50, 32,  7, 32, 19,  7, 19, 50, 19, 19, 32, 32, 19,
        7,  7, 19, 50,  7, 19,  7, 22, 32,  7,  7, 19, 22, 19,  7, 32, 50,
       32, 19, 32,  7, 32, 22, 19, 50, 32,  7, 32, 22, 32,  7, 19, 32, 19,
       32, 22,  7, 32, 32, 32, 32, 32, 19, 32,  7,  7, 32, 32, 22, 32, 32,
        7, 50, 50, 32, 32, 22,  7, 32, 19, 32,  7, 32, 50, 22, 19, 19, 50,
       19, 19,  7, 50,  7,  7, 22, 19, 50, 19,  7, 19,  7, 19, 19, 22, 19,
        7,  7, 32, 19, 19,  7, 19,  7, 50, 32, 32, 50, 19, 19, 32,  7, 50,
       19, 19, 50, 19, 32, 19,  7,  7, 32, 50, 50,  7, 22, 50,  7, 19, 22,
        7, 22, 50, 22, 22, 32,  7,  7,  7, 19,  7, 19, 50, 22, 22,  7, 32,
       22, 22, 32, 22, 19, 32, 32, 32, 19, 19,  7, 19, 32,  7, 50, 32,  7,
        7, 32, 22,  7, 32,  7, 22, 50, 50, 19,  7,  7, 19, 32, 22, 50,  7,
       50, 32, 19, 22, 32, 32, 32, 50, 22, 19, 32, 22,  7,  7, 32,  7, 50,
       19, 32, 19, 50, 19, 19, 50, 22,  7, 50,  7, 19, 19, 19, 32, 50, 22,
       50, 50, 32, 22, 32, 22, 19,  7, 19,  7, 19, 50,  7, 50,  7, 32, 32,
        7,  7, 19,  7, 19, 32,  7,  7, 22, 19, 22, 19, 50, 32, 19, 50, 19,
       22, 22, 19,  7, 22, 32, 19, 32, 19,  7, 50,  7,  7, 32, 32, 19])

In [68]:
np.unique(y_train_unk)

array([ 7, 19, 22, 32, 50])

In [70]:
predictions = model.predict(X_test_unk)

# Convert predictions to class labels
class_predictions = np.argmax(predictions, axis=1)
class_predictions

8/8 [==============================] - 0s 10ms/step

array([ 3,  3, 14,  3,  3,  3, 16, 14, 16, 14, 14, 14,  3,  3, 16, 16,  3,
        3,  3,  3,  3,  3,  3,  3,  3,  3,  3,  3,  3,  3,  3,  3, 16, 14,
       14, 14, 14,  3,  3,  3,  3,  3,  3,  3,  3,  3,  3, 16,  3,  3,  3,
        3,  3,  3,  3, 16, 16, 14,  3,  3,  3,  3,  3,  3,  3,  3,  3,  3,
       14, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15,
       15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15,
       15, 19, 15, 15, 15, 15, 15, 15, 19, 19, 19, 39, 19, 19, 19, 19, 19,
       39, 39, 15, 39, 39, 39, 39, 19, 19, 19, 23, 31, 31, 23, 31, 31, 31,
       23, 23, 31, 31, 23, 23, 31, 31, 23, 31, 31, 23, 23, 31, 31, 23, 23,
       31, 31, 31, 31, 31, 31, 31, 23, 31, 31, 23, 23, 10, 10, 10, 10, 10,
       10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10,
       10, 10, 10, 10, 10, 10, 10, 10, 43, 43, 29, 29, 29, 10, 43, 43, 10,
       43, 43, 43, 43, 43, 43, 43, 43, 43, 43, 43, 43, 43, 43, 43, 32, 43,
       43, 43, 43, 43, 43, 43, 43, 43, 43, 43, 43, 43, 43, 43, 43, 43, 43,
       43, 43, 32], dtype=int64)