In [1]:
import tensorflow as tf
from tensorflow.keras import Sequential
from tensorflow.keras.layers import Flatten, Dense, Dropout, BatchNormalization
from tensorflow.keras.layers import Conv1D, MaxPooling1D
from tensorflow.keras.optimizers import Adam
print(tf.__version__)

2.12.0

In [2]:
import pandas as pd
import numpy as np
import os
import math
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, LabelEncoder

In [3]:
# filepath = "merged_u1-50_w001_resampled.csv"
filepath = "D:/online dataset csv files preprocessing/merged_u1-50_w001_resampled.csv"

df_original = pd.read_csv(filepath)

In [4]:
df_original

,timestamp,LAx,LAy,LAz,GYx,GYy,GYz,name
0,924313410000000,1.242813,-0.160181,-0.900440,0.194931,-0.004242,0.163818,1
1,924313420000000,1.117246,-0.187921,-1.529893,0.236458,0.076378,0.133293,1
2,924313430000000,0.912846,-0.192566,-1.570929,0.226074,0.012253,0.108246,1
3,924313440000000,0.874858,-0.227208,-1.453511,0.139336,-0.050667,0.085030,1
4,924313450000000,0.834022,-0.282976,-1.292671,-0.013374,-0.109314,0.078308,1
...,...,...,...,...,...,...,...,...
2055043,1368327120000000,-9.502644,-7.178468,4.246279,-2.834417,-0.120428,-0.987857,50
2055044,1368327130000000,-9.443804,-7.698220,3.059675,-2.638940,0.561997,-0.947715,50
2055045,1368327140000000,-8.345459,-6.805815,1.853457,-2.483606,1.225222,-0.954696,50
2055046,1368327150000000,-7.580540,-5.629017,1.559257,-2.429500,1.769765,-1.003565,50
2055047,1368327160000000,-6.952915,-4.589512,1.755390,-2.426010,2.099633,-0.980876,50

In [5]:
drop_values = [6, 31, 33, 42]

# Drop rows based on conditions in the "name" column
df_original = df_original[~df_original['name'].isin(drop_values)]
df_original

,timestamp,LAx,LAy,LAz,GYx,GYy,GYz,name
0,924313410000000,1.242813,-0.160181,-0.900440,0.194931,-0.004242,0.163818,1
1,924313420000000,1.117246,-0.187921,-1.529893,0.236458,0.076378,0.133293,1
2,924313430000000,0.912846,-0.192566,-1.570929,0.226074,0.012253,0.108246,1
3,924313440000000,0.874858,-0.227208,-1.453511,0.139336,-0.050667,0.085030,1
4,924313450000000,0.834022,-0.282976,-1.292671,-0.013374,-0.109314,0.078308,1
...,...,...,...,...,...,...,...,...
2055043,1368327120000000,-9.502644,-7.178468,4.246279,-2.834417,-0.120428,-0.987857,50
2055044,1368327130000000,-9.443804,-7.698220,3.059675,-2.638940,0.561997,-0.947715,50
2055045,1368327140000000,-8.345459,-6.805815,1.853457,-2.483606,1.225222,-0.954696,50
2055046,1368327150000000,-7.580540,-5.629017,1.559257,-2.429500,1.769765,-1.003565,50
2055047,1368327160000000,-6.952915,-4.589512,1.755390,-2.426010,2.099633,-0.980876,50

In [6]:
label = LabelEncoder()
df_original['name'] = label.fit_transform(df_original['name'])
df_original

C:\Users\szizo\AppData\Local\Temp\ipykernel_12532\2860499691.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_original['name'] = label.fit_transform(df_original['name'])

,timestamp,LAx,LAy,LAz,GYx,GYy,GYz,name
0,924313410000000,1.242813,-0.160181,-0.900440,0.194931,-0.004242,0.163818,0
1,924313420000000,1.117246,-0.187921,-1.529893,0.236458,0.076378,0.133293,0
2,924313430000000,0.912846,-0.192566,-1.570929,0.226074,0.012253,0.108246,0
3,924313440000000,0.874858,-0.227208,-1.453511,0.139336,-0.050667,0.085030,0
4,924313450000000,0.834022,-0.282976,-1.292671,-0.013374,-0.109314,0.078308,0
...,...,...,...,...,...,...,...,...
2055043,1368327120000000,-9.502644,-7.178468,4.246279,-2.834417,-0.120428,-0.987857,45
2055044,1368327130000000,-9.443804,-7.698220,3.059675,-2.638940,0.561997,-0.947715,45
2055045,1368327140000000,-8.345459,-6.805815,1.853457,-2.483606,1.225222,-0.954696,45
2055046,1368327150000000,-7.580540,-5.629017,1.559257,-2.429500,1.769765,-1.003565,45
2055047,1368327160000000,-6.952915,-4.589512,1.755390,-2.426010,2.099633,-0.980876,45

In [7]:
df_original.isnull().sum()

timestamp    0
LAx          0
LAy          0
LAz          0
GYx          0
GYy          0
GYz          0
name         0
dtype: int64

In [8]:
df_original.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1875205 entries, 0 to 2055047
Data columns (total 8 columns):
 #   Column     Dtype
---  ------     -----
 0   timestamp  int64
 1   LAx        float64
 2   LAy        float64
 3   LAz        float64
 4   GYx        float64
 5   GYy        float64
 6   GYz        float64
 7   name       int64
dtypes: float64(6), int64(2)
memory usage: 128.8 MB

In [9]:
df_original['name'].value_counts()

16    82714
42    65984
27    60052
6     60036
7     59986
11    59984
37    59984
2     59958
35    59958
33    55050
29    52339
10    51686
1     48001
5     47947
9     47946
30    47824
44    47614
36    41946
17    41946
31    41945
25    41535
28    40959
22    35980
14    35974
18    35948
26    35947
3     35946
21    34545
34    32186
39    31414
38    30100
15    29997
43    29990
45    29988
12    29950
41    29945
8     28892
0     26790
40    26022
23    25926
4     25792
20    25598
32    25173
24    23949
13    17985
19    15774
Name: name, dtype: int64

In [10]:
df_Xtime = df_original.copy()
df_Xtime = df_Xtime.drop(['timestamp'], axis = 1).copy()
df_Xtime.shape

(1875205, 7)

In [11]:
df_Xtime

              LAx       LAy       LAz       GYx       GYy       GYz  name
0        1.242813 -0.160181 -0.900440  0.194931 -0.004242  0.163818     0
1        1.117246 -0.187921 -1.529893  0.236458  0.076378  0.133293     0
2        0.912846 -0.192566 -1.570929  0.226074  0.012253  0.108246     0
3        0.874858 -0.227208 -1.453511  0.139336 -0.050667  0.085030     0
4        0.834022 -0.282976 -1.292671 -0.013374 -0.109314  0.078308     0
...           ...       ...       ...       ...       ...       ...   ...
2055043 -9.502644 -7.178468  4.246279 -2.834417 -0.120428 -0.987857    45
2055044 -9.443804 -7.698220  3.059675 -2.638940  0.561997 -0.947715    45
2055045 -8.345459 -6.805815  1.853457 -2.483606  1.225222 -0.954696    45
2055046 -7.580540 -5.629017  1.559257 -2.429500  1.769765 -1.003565    45
2055047 -6.952915 -4.589512  1.755390 -2.426010  2.099633 -0.980876    45

[1875205 rows x 7 columns]

In [12]:
X = df_Xtime[['LAx', 'LAy', 'LAz','GYx', 'GYy', 'GYz']].copy()
y = df_Xtime['name'].copy()

In [13]:
scaler = StandardScaler()
X_transformed = X.copy()
# X_transformed = scaler.fit_transform(X_transformed) #No_scalling

scaled_X = pd.DataFrame(data = X_transformed, columns = ['LAx', 'LAy', 'LAz','GYx', 'GYy', 'GYz'])
scaled_X['label'] = y.values

scaled_X

              LAx       LAy       LAz       GYx       GYy       GYz  label
0        1.242813 -0.160181 -0.900440  0.194931 -0.004242  0.163818      0
1        1.117246 -0.187921 -1.529893  0.236458  0.076378  0.133293      0
2        0.912846 -0.192566 -1.570929  0.226074  0.012253  0.108246      0
3        0.874858 -0.227208 -1.453511  0.139336 -0.050667  0.085030      0
4        0.834022 -0.282976 -1.292671 -0.013374 -0.109314  0.078308      0
...           ...       ...       ...       ...       ...       ...    ...
2055043 -9.502644 -7.178468  4.246279 -2.834417 -0.120428 -0.987857     45
2055044 -9.443804 -7.698220  3.059675 -2.638940  0.561997 -0.947715     45
2055045 -8.345459 -6.805815  1.853457 -2.483606  1.225222 -0.954696     45
2055046 -7.580540 -5.629017  1.559257 -2.429500  1.769765 -1.003565     45
2055047 -6.952915 -4.589512  1.755390 -2.426010  2.099633 -0.980876     45

[1875205 rows x 7 columns]

In [14]:
df_test = pd.DataFrame(columns=['LAx','LAy','LAz','GYx','GYy','GYz','label'])
df_train = pd.DataFrame(columns=['LAx','LAy','LAz','GYx','GYy','GYz','label'])

for i in range(1,51):
    df_original_i = scaled_X[scaled_X['label'] == i]
    length = len(df_original_i)
    num_rows_70 = int(length*0.7)
    
    train_row = df_original_i[:num_rows_70]
    test_row = df_original_i[num_rows_70:]
    
    df_train = df_train.append(train_row, ignore_index=True)
    df_test = df_test.append(test_row, ignore_index=True)

df_train.shape, df_test.shape

C:\Users\szizo\AppData\Local\Temp\ipykernel_12532\2597348167.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_train = df_train.append(train_row, ignore_index=True)
C:\Users\szizo\AppData\Local\Temp\ipykernel_12532\2597348167.py:13: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_test = df_test.append(test_row, ignore_index=True)

((1293870, 7), (554545, 7))

In [15]:
import scipy.stats as stats

Fs = 100
frame_size = Fs*6 
hop_size = Fs*2

In [16]:
def get_frames(df, frame_size, hop_size):
    N_FEATURES = 6

    frames = []
    labels = []
    
    last_value = df['label'].iloc[-1]
    for j in range (1,last_value+1): 
        filtered_df = df[df['label'] == j]
        filtered_df = filtered_df.drop('label', axis = 1)
        for i in range(0, len(filtered_df) - frame_size, hop_size):
            LAx = filtered_df['LAx'].values[i: i + frame_size]
            LAy = filtered_df['LAy'].values[i: i + frame_size]
            LAz = filtered_df['LAz'].values[i: i + frame_size]
            GYx = filtered_df['GYx'].values[i: i + frame_size]
            GYy = filtered_df['GYy'].values[i: i + frame_size]
            GYz = filtered_df['GYz'].values[i: i + frame_size]
            

            label = j

            frames.append([LAx, LAy, LAz, GYx, GYy , GYz])
            labels.append(label)

    frames = np.asarray(frames).reshape(-1, frame_size, N_FEATURES)
    labels = np.asarray(labels)
    
    return frames, labels

In [17]:
# X, y = get_frames(scaled_X,frame_size, hop_size)
# X.shape, y.shape

In [18]:
X_train_Unshuffeled,y_train_Unshuffeled = get_frames(df_train,frame_size,hop_size)
X_test, y_test = get_frames(df_test,frame_size,hop_size)
X_train_Unshuffeled.shape, X_test.shape, y_train_Unshuffeled.shape, y_test.shape

((6349, 600, 6), (2652, 600, 6), (6349,), (2652,))

In [19]:
# X_train_val, X_test, y_train_val, y_test = train_test_split(X, y, test_size = 0.3, random_state = 0, stratify = y)

X_train, X_validation, y_train, y_validation = train_test_split(X_train_Unshuffeled, y_train_Unshuffeled, test_size = 0.1, random_state = 0, stratify = y_train_Unshuffeled)
X_train.shape, X_test.shape, X_validation.shape

((5714, 600, 6), (2652, 600, 6), (635, 600, 6))

In [20]:
X_train[0].shape, X_test[0].shape, X_validation[0].shape

((600, 6), (600, 6), (600, 6))

In [21]:
num = df_original['name'].iloc[-1]
num

45

In [22]:
# Subtract 1 from each label in y_train
y_train = np.array(y_train) - 1
y_test = np.array(y_test) - 1
y_validation = np.array(y_validation) - 1

In [23]:
y_train.shape, y_test.shape, y_validation.shape

((5714,), (2652,), (635,))

In [24]:
y_train_o = np.eye(50)[y_train]
y_test_o = np.eye(50)[y_test]
y_validation_o = np.eye(50)[y_validation]

In [25]:
y_train_o.shape, y_validation_o.shape, y_validation_o.shape

((5714, 50), (635, 50), (635, 50))

In [26]:
# tut
# model = Sequential()
# model.add(Conv1D(filters=64, kernel_size=3, activation='relu', input_shape=X_train[0].shape))
# model.add(Conv1D(filters=64, kernel_size=3, activation='relu'))
# model.add(Dropout(0.5))
# model.add(MaxPooling1D(pool_size=2))
# model.add(Flatten())
# model.add(Dense(100, activation='relu'))
# model.add(Dense(50, activation='softmax'))

In [27]:
# chatgpt
model = Sequential()
model.add(Conv1D(filters=32, kernel_size=3, activation='relu', input_shape=X_train[0].shape))
model.add(MaxPooling1D(pool_size=2))
model.add(Conv1D(filters=64, kernel_size=3, activation='relu'))
model.add(MaxPooling1D(pool_size=2))
model.add(Conv1D(filters=128, kernel_size=3, activation='relu'))
model.add(MaxPooling1D(pool_size=2))
model.add(Flatten())
model.add(Dense(256, activation='relu'))
model.add(Dropout(0.5))
model.add(Dense(46, activation='softmax'))

In [28]:
model.summary(line_length = 75)

Model: "sequential"
___________________________________________________________________________
 Layer (type)                    Output Shape                  Param #
===========================================================================
 conv1d (Conv1D)                 (None, 598, 32)               608

 max_pooling1d (MaxPooling1D)    (None, 299, 32)               0

 conv1d_1 (Conv1D)               (None, 297, 64)               6208

 max_pooling1d_1 (MaxPooling1D)  (None, 148, 64)               0

 conv1d_2 (Conv1D)               (None, 146, 128)              24704

 max_pooling1d_2 (MaxPooling1D)  (None, 73, 128)               0

 flatten (Flatten)               (None, 9344)                  0

 dense (Dense)                   (None, 256)                   2392320

 dropout (Dropout)               (None, 256)                   0

 dense_1 (Dense)                 (None, 46)                    11822

===========================================================================
Total params: 2,435,662
Trainable params: 2,435,662
Non-trainable params: 0
___________________________________________________________________________

In [29]:
model.compile(optimizer=Adam(learning_rate = 0.001), loss=tf.keras.losses.SparseCategoricalCrossentropy(), metrics = ['accuracy'])

In [30]:
early_stopping = tf.keras.callbacks.EarlyStopping(
    monitor = 'val_loss',
    mode = 'auto',
    min_delta = 0,
    patience = 2,
    verbose = 0,
    restore_best_weights = True
)

In [31]:
history = model.fit(X_train, y_train, epochs = 30,callbacks = [early_stopping], 
                    validation_data= (X_validation, y_validation), verbose=1)

Epoch 1/30
179/179 [==============================] - 10s 47ms/step - loss: 2.1331 - accuracy: 0.4559 - val_loss: 0.2185 - val_accuracy: 0.9669
Epoch 2/30
179/179 [==============================] - 8s 46ms/step - loss: 0.3482 - accuracy: 0.8976 - val_loss: 0.0704 - val_accuracy: 0.9858
Epoch 3/30
179/179 [==============================] - 8s 46ms/step - loss: 0.1830 - accuracy: 0.9449 - val_loss: 0.0651 - val_accuracy: 0.9843
Epoch 4/30
179/179 [==============================] - 8s 46ms/step - loss: 0.1260 - accuracy: 0.9624 - val_loss: 0.0429 - val_accuracy: 0.9906
Epoch 5/30
179/179 [==============================] - 8s 47ms/step - loss: 0.0746 - accuracy: 0.9772 - val_loss: 0.0440 - val_accuracy: 0.9890
Epoch 6/30
179/179 [==============================] - 8s 47ms/step - loss: 0.0624 - accuracy: 0.9797 - val_loss: 0.0564 - val_accuracy: 0.9843

In [32]:
test_loss, test_accuracy = model.evaluate(X_test, y_test)
print('Test loss: {0: .4f}. Test accuracy: {1: .2f}%'.format(test_loss, test_accuracy*100))

83/83 [==============================] - 1s 10ms/step - loss: 0.1103 - accuracy: 0.9789
Test loss:  0.1103. Test accuracy:  97.89%

In [33]:
np.unique(y_test)

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33,
       34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44])

In [34]:

unique_users = np.unique(y_test)
acc = np.empty(len(unique_users))
for user in unique_users:
    print(user)
    indices = np.where(y_test == user)
    user_y = y_test[indices]
    user_X= X_test[indices]
    test_loss, test_accuracy = model.evaluate(user_X, user_y)
    acc[user] = test_accuracy
acc

0
3/3 [==============================] - 0s 9ms/step - loss: 3.4389e-05 - accuracy: 1.0000
1
3/3 [==============================] - 0s 12ms/step - loss: 5.7963e-05 - accuracy: 1.0000
2
2/2 [==============================] - 0s 9ms/step - loss: 0.0011 - accuracy: 1.0000
3
2/2 [==============================] - 0s 6ms/step - loss: 0.5434 - accuracy: 0.9167
4
3/3 [==============================] - 0s 8ms/step - loss: 9.7402e-04 - accuracy: 1.0000
5
3/3 [==============================] - 0s 11ms/step - loss: 3.2369e-04 - accuracy: 1.0000
6
3/3 [==============================] - 0s 11ms/step - loss: 0.2021 - accuracy: 0.9770
7
2/2 [==============================] - 0s 7ms/step - loss: 0.4581 - accuracy: 0.9268
8
3/3 [==============================] - 0s 9ms/step - loss: 6.6565e-04 - accuracy: 1.0000
9
3/3 [==============================] - 0s 10ms/step - loss: 0.4344 - accuracy: 0.9200
10
3/3 [==============================] - 0s 10ms/step - loss: 5.9865e-06 - accuracy: 1.0000
11
2/2 [==============================] - 0s 7ms/step - loss: 2.2488e-04 - accuracy: 1.0000
12
1/1 [==============================] - 0s 32ms/step - loss: 0.0304 - accuracy: 1.0000
13
2/2 [==============================] - 0s 8ms/step - loss: 0.0035 - accuracy: 1.0000
14
2/2 [==============================] - 0s 8ms/step - loss: 0.0090 - accuracy: 1.0000
15
4/4 [==============================] - 0s 10ms/step - loss: 4.7689e-04 - accuracy: 1.0000
16
2/2 [==============================] - 0s 12ms/step - loss: 7.8807e-05 - accuracy: 1.0000
17
2/2 [==============================] - 0s 9ms/step - loss: 2.3579e-05 - accuracy: 1.0000
18
1/1 [==============================] - 0s 33ms/step - loss: 0.2913 - accuracy: 0.9048
19
2/2 [==============================] - 0s 6ms/step - loss: 0.2537 - accuracy: 0.9444
20
2/2 [==============================] - 0s 9ms/step - loss: 0.0186 - accuracy: 1.0000
21
2/2 [==============================] - 0s 8ms/step - loss: 5.9032e-04 - accuracy: 1.0000
22
2/2 [==============================] - 0s 6ms/step - loss: 0.5982 - accuracy: 0.9444
23
2/2 [==============================] - 0s 4ms/step - loss: 0.0110 - accuracy: 1.0000
24
2/2 [==============================] - 0s 10ms/step - loss: 0.0331 - accuracy: 0.9833
25
2/2 [==============================] - 0s 10ms/step - loss: 0.0026 - accuracy: 1.0000
26
3/3 [==============================] - 0s 10ms/step - loss: 2.7635e-06 - accuracy: 1.0000
27
2/2 [==============================] - 0s 11ms/step - loss: 0.2225 - accuracy: 0.9492
28
3/3 [==============================] - 0s 9ms/step - loss: 0.1714 - accuracy: 0.9342
29
3/3 [==============================] - 0s 8ms/step - loss: 3.7121e-04 - accuracy: 1.0000
30
2/2 [==============================] - 0s 11ms/step - loss: 0.0027 - accuracy: 1.0000
31
2/2 [==============================] - 0s 5ms/step - loss: 0.0855 - accuracy: 0.9714
32
3/3 [==============================] - 0s 10ms/step - loss: 0.7971 - accuracy: 0.8375
33
2/2 [==============================] - 0s 9ms/step - loss: 0.4086 - accuracy: 0.9348
34
3/3 [==============================] - 0s 11ms/step - loss: 4.7112e-04 - accuracy: 1.0000
35
2/2 [==============================] - 0s 11ms/step - loss: 2.1965e-05 - accuracy: 1.0000
36
3/3 [==============================] - 0s 16ms/step - loss: 0.0451 - accuracy: 0.9885
37
2/2 [==============================] - 0s 8ms/step - loss: 0.3373 - accuracy: 0.9535
38
2/2 [==============================] - 0s 7ms/step - loss: 0.3035 - accuracy: 0.9333
39
2/2 [==============================] - 0s 7ms/step - loss: 0.4685 - accuracy: 0.8919
40
2/2 [==============================] - 0s 7ms/step - loss: 0.0082 - accuracy: 1.0000
41
3/3 [==============================] - 0s 11ms/step - loss: 4.3383e-04 - accuracy: 1.0000
42
2/2 [==============================] - 0s 8ms/step - loss: 0.0093 - accuracy: 1.0000
43
3/3 [==============================] - 0s 8ms/step - loss: 0.0016 - accuracy: 1.0000
44
2/2 [==============================] - 0s 7ms/step - loss: 3.0300e-04 - accuracy: 1.0000

array([1.        , 1.        , 1.        , 0.91666669, 1.        ,
       1.        , 0.9770115 , 0.92682928, 1.        , 0.92000002,
       1.        , 1.        , 1.        , 1.        , 1.        ,
       1.        , 1.        , 1.        , 0.90476191, 0.94444442,
       1.        , 1.        , 0.94444442, 1.        , 0.98333335,
       1.        , 1.        , 0.94915253, 0.93421054, 1.        ,
       1.        , 0.97142857, 0.83749998, 0.93478262, 1.        ,
       1.        , 0.98850572, 0.95348835, 0.93333334, 0.8918919 ,
       1.        , 1.        , 1.        , 1.        , 1.        ])

In [35]:
outlier_indices = np.where(acc < 0.80)
outlier_indices

(array([], dtype=int64),)