In [1]:
import tensorflow as tf
from tensorflow.keras import Sequential
from tensorflow.keras.layers import Flatten, Dense, Dropout, BatchNormalization
from tensorflow.keras.layers import Conv1D, MaxPooling1D
from tensorflow.keras.optimizers import Adam
print(tf.__version__)

2.12.0

In [2]:
import pandas as pd
import numpy as np
import os
import math
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, LabelEncoder

In [3]:
from sklearn.svm import OneClassSVM

In [4]:
# filepath = "merged_u1-50_w001_resampled.csv"
filepath = "D:/online dataset csv files preprocessing/merged_u1-50_w001_resampled.csv"

df_original = pd.read_csv(filepath)

In [5]:
df_original

,timestamp,LAx,LAy,LAz,GYx,GYy,GYz,name
0,924313410000000,1.242813,-0.160181,-0.900440,0.194931,-0.004242,0.163818,1
1,924313420000000,1.117246,-0.187921,-1.529893,0.236458,0.076378,0.133293,1
2,924313430000000,0.912846,-0.192566,-1.570929,0.226074,0.012253,0.108246,1
3,924313440000000,0.874858,-0.227208,-1.453511,0.139336,-0.050667,0.085030,1
4,924313450000000,0.834022,-0.282976,-1.292671,-0.013374,-0.109314,0.078308,1
...,...,...,...,...,...,...,...,...
2055043,1368327120000000,-9.502644,-7.178468,4.246279,-2.834417,-0.120428,-0.987857,50
2055044,1368327130000000,-9.443804,-7.698220,3.059675,-2.638940,0.561997,-0.947715,50
2055045,1368327140000000,-8.345459,-6.805815,1.853457,-2.483606,1.225222,-0.954696,50
2055046,1368327150000000,-7.580540,-5.629017,1.559257,-2.429500,1.769765,-1.003565,50
2055047,1368327160000000,-6.952915,-4.589512,1.755390,-2.426010,2.099633,-0.980876,50

In [6]:
drop_values = [6, 31, 33, 42]

# Drop rows based on conditions in the "name" column
df_original = df_original[~df_original['name'].isin(drop_values)]
df_original

,timestamp,LAx,LAy,LAz,GYx,GYy,GYz,name
0,924313410000000,1.242813,-0.160181,-0.900440,0.194931,-0.004242,0.163818,1
1,924313420000000,1.117246,-0.187921,-1.529893,0.236458,0.076378,0.133293,1
2,924313430000000,0.912846,-0.192566,-1.570929,0.226074,0.012253,0.108246,1
3,924313440000000,0.874858,-0.227208,-1.453511,0.139336,-0.050667,0.085030,1
4,924313450000000,0.834022,-0.282976,-1.292671,-0.013374,-0.109314,0.078308,1
...,...,...,...,...,...,...,...,...
2055043,1368327120000000,-9.502644,-7.178468,4.246279,-2.834417,-0.120428,-0.987857,50
2055044,1368327130000000,-9.443804,-7.698220,3.059675,-2.638940,0.561997,-0.947715,50
2055045,1368327140000000,-8.345459,-6.805815,1.853457,-2.483606,1.225222,-0.954696,50
2055046,1368327150000000,-7.580540,-5.629017,1.559257,-2.429500,1.769765,-1.003565,50
2055047,1368327160000000,-6.952915,-4.589512,1.755390,-2.426010,2.099633,-0.980876,50

In [7]:
label = LabelEncoder()
df_original['name'] = label.fit_transform(df_original['name']).copy()
df_original

C:\Users\szizo\AppData\Local\Temp\ipykernel_25756\1130618396.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_original['name'] = label.fit_transform(df_original['name']).copy()

,timestamp,LAx,LAy,LAz,GYx,GYy,GYz,name
0,924313410000000,1.242813,-0.160181,-0.900440,0.194931,-0.004242,0.163818,0
1,924313420000000,1.117246,-0.187921,-1.529893,0.236458,0.076378,0.133293,0
2,924313430000000,0.912846,-0.192566,-1.570929,0.226074,0.012253,0.108246,0
3,924313440000000,0.874858,-0.227208,-1.453511,0.139336,-0.050667,0.085030,0
4,924313450000000,0.834022,-0.282976,-1.292671,-0.013374,-0.109314,0.078308,0
...,...,...,...,...,...,...,...,...
2055043,1368327120000000,-9.502644,-7.178468,4.246279,-2.834417,-0.120428,-0.987857,45
2055044,1368327130000000,-9.443804,-7.698220,3.059675,-2.638940,0.561997,-0.947715,45
2055045,1368327140000000,-8.345459,-6.805815,1.853457,-2.483606,1.225222,-0.954696,45
2055046,1368327150000000,-7.580540,-5.629017,1.559257,-2.429500,1.769765,-1.003565,45
2055047,1368327160000000,-6.952915,-4.589512,1.755390,-2.426010,2.099633,-0.980876,45

In [8]:
num_classes_both = df_original['name'].nunique()
num_classes_both

46

In [9]:
df_original.isnull().sum()

timestamp    0
LAx          0
LAy          0
LAz          0
GYx          0
GYy          0
GYz          0
name         0
dtype: int64

In [10]:
df_original.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1875205 entries, 0 to 2055047
Data columns (total 8 columns):
 #   Column     Dtype
---  ------     -----
 0   timestamp  int64
 1   LAx        float64
 2   LAy        float64
 3   LAz        float64
 4   GYx        float64
 5   GYy        float64
 6   GYz        float64
 7   name       int64
dtypes: float64(6), int64(2)
memory usage: 128.8 MB

In [11]:
df_original['name'].value_counts()

16    82714
42    65984
27    60052
6     60036
7     59986
11    59984
37    59984
2     59958
35    59958
33    55050
29    52339
10    51686
1     48001
5     47947
9     47946
30    47824
44    47614
36    41946
17    41946
31    41945
25    41535
28    40959
22    35980
14    35974
18    35948
26    35947
3     35946
21    34545
34    32186
39    31414
38    30100
15    29997
43    29990
45    29988
12    29950
41    29945
8     28892
0     26790
40    26022
23    25926
4     25792
20    25598
32    25173
24    23949
13    17985
19    15774
Name: name, dtype: int64

In [12]:
df_Xtime = df_original.copy()
df_Xtime = df_Xtime.drop(['timestamp'], axis = 1).copy()
df_Xtime.shape

(1875205, 7)

In [13]:
df_Xtime

              LAx       LAy       LAz       GYx       GYy       GYz  name
0        1.242813 -0.160181 -0.900440  0.194931 -0.004242  0.163818     0
1        1.117246 -0.187921 -1.529893  0.236458  0.076378  0.133293     0
2        0.912846 -0.192566 -1.570929  0.226074  0.012253  0.108246     0
3        0.874858 -0.227208 -1.453511  0.139336 -0.050667  0.085030     0
4        0.834022 -0.282976 -1.292671 -0.013374 -0.109314  0.078308     0
...           ...       ...       ...       ...       ...       ...   ...
2055043 -9.502644 -7.178468  4.246279 -2.834417 -0.120428 -0.987857    45
2055044 -9.443804 -7.698220  3.059675 -2.638940  0.561997 -0.947715    45
2055045 -8.345459 -6.805815  1.853457 -2.483606  1.225222 -0.954696    45
2055046 -7.580540 -5.629017  1.559257 -2.429500  1.769765 -1.003565    45
2055047 -6.952915 -4.589512  1.755390 -2.426010  2.099633 -0.980876    45

[1875205 rows x 7 columns]

In [14]:
X = df_Xtime[['LAx', 'LAy', 'LAz','GYx', 'GYy', 'GYz']].copy()
y = df_Xtime['name'].copy()

In [15]:
scaler = StandardScaler()
X_transformed = X.copy()
# X_transformed = scaler.fit_transform(X_transformed) #No_scalling

scaled_X = pd.DataFrame(data = X_transformed, columns = ['LAx', 'LAy', 'LAz','GYx', 'GYy', 'GYz'])
scaled_X['label'] = y.values

scaled_X

              LAx       LAy       LAz       GYx       GYy       GYz  label
0        1.242813 -0.160181 -0.900440  0.194931 -0.004242  0.163818      0
1        1.117246 -0.187921 -1.529893  0.236458  0.076378  0.133293      0
2        0.912846 -0.192566 -1.570929  0.226074  0.012253  0.108246      0
3        0.874858 -0.227208 -1.453511  0.139336 -0.050667  0.085030      0
4        0.834022 -0.282976 -1.292671 -0.013374 -0.109314  0.078308      0
...           ...       ...       ...       ...       ...       ...    ...
2055043 -9.502644 -7.178468  4.246279 -2.834417 -0.120428 -0.987857     45
2055044 -9.443804 -7.698220  3.059675 -2.638940  0.561997 -0.947715     45
2055045 -8.345459 -6.805815  1.853457 -2.483606  1.225222 -0.954696     45
2055046 -7.580540 -5.629017  1.559257 -2.429500  1.769765 -1.003565     45
2055047 -6.952915 -4.589512  1.755390 -2.426010  2.099633 -0.980876     45

[1875205 rows x 7 columns]

In [16]:
df_unk = scaled_X[scaled_X['label'].isin([1,12,24,33,42,14,7])]
scaled_X_known = scaled_X[~scaled_X['label'].isin([1,12,24,33,42,14,7])]
df_unk.shape, scaled_X_known.shape

((318894, 7), (1556311, 7))

In [17]:
scaled_X_known['label'].unique()

array([ 0,  2,  3,  4,  5,  6,  8,  9, 10, 11, 13, 15, 16, 17, 18, 19, 20,
       21, 22, 23, 25, 26, 27, 28, 29, 30, 31, 32, 34, 35, 36, 37, 38, 39,
       40, 41, 43, 44, 45], dtype=int64)

In [18]:
df_unk

              LAx       LAy       LAz       GYx       GYy       GYz  label
26790    0.125257  1.957727 -5.775075  1.014694 -0.602997 -0.449493      1
26791    0.167732  1.815942 -5.286167  1.031807 -0.515022 -0.528915      1
26792    0.480174  1.606921 -5.489661  1.060516 -0.441719 -0.629715      1
26793    1.004947  1.458322 -6.301949  1.083725 -0.450279 -0.702393      1
26794    1.282830  1.430590 -6.711755  1.077011 -0.533348 -0.731720      1
...           ...       ...       ...       ...       ...       ...    ...
1947451 -0.764909 -0.013322 -1.012644 -1.002965  0.139626  0.274989     42
1947452 -0.867745  0.042661 -0.761317 -1.120209  0.327216  0.265396     42
1947453 -0.908311  0.093705 -1.217119 -1.229991  0.506278  0.285647     42
1947454 -0.946631  0.185764 -1.063538 -1.282218  0.740765  0.333611     42
1947455 -1.048719  0.008233 -1.694177 -1.219333  1.137262  0.390101     42

[318894 rows x 7 columns]

In [19]:
scaled_X_known

              LAx       LAy       LAz       GYx       GYy       GYz  label
0        1.242813 -0.160181 -0.900440  0.194931 -0.004242  0.163818      0
1        1.117246 -0.187921 -1.529893  0.236458  0.076378  0.133293      0
2        0.912846 -0.192566 -1.570929  0.226074  0.012253  0.108246      0
3        0.874858 -0.227208 -1.453511  0.139336 -0.050667  0.085030      0
4        0.834022 -0.282976 -1.292671 -0.013374 -0.109314  0.078308      0
...           ...       ...       ...       ...       ...       ...    ...
2055043 -9.502644 -7.178468  4.246279 -2.834417 -0.120428 -0.987857     45
2055044 -9.443804 -7.698220  3.059675 -2.638940  0.561997 -0.947715     45
2055045 -8.345459 -6.805815  1.853457 -2.483606  1.225222 -0.954696     45
2055046 -7.580540 -5.629017  1.559257 -2.429500  1.769765 -1.003565     45
2055047 -6.952915 -4.589512  1.755390 -2.426010  2.099633 -0.980876     45

[1556311 rows x 7 columns]

In [20]:
df_test = pd.DataFrame(columns=['LAx','LAy','LAz','GYx','GYy','GYz','label'])
df_train = pd.DataFrame(columns=['LAx','LAy','LAz','GYx','GYy','GYz','label'])

for i in range(0,51):
    df_original_i = scaled_X_known[scaled_X_known['label'] == i]
    length = len(df_original_i)
    num_rows_70 = int(length*0.7)
    
    train_row = df_original_i[:num_rows_70]
    test_row = df_original_i[num_rows_70:]
    
    df_train = df_train.append(train_row, ignore_index=True)
    df_test = df_test.append(test_row, ignore_index=True)

df_train.shape, df_test.shape

C:\Users\szizo\AppData\Local\Temp\ipykernel_25756\3690900224.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_train = df_train.append(train_row, ignore_index=True)
C:\Users\szizo\AppData\Local\Temp\ipykernel_25756\3690900224.py:13: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_test = df_test.append(test_row, ignore_index=True)

((1089400, 7), (466911, 7))

In [21]:
import scipy.stats as stats

Fs = 100
frame_size = Fs*6 
hop_size = Fs*2

In [22]:
def get_frames(df, frame_size, hop_size):
    N_FEATURES = 6

    frames = []
    labels = []
    
    last_value = df['label'].iloc[-1]
    for j in range (0,last_value+1): 
        filtered_df = df[df['label'] == j]
        filtered_df = filtered_df.drop('label', axis = 1)
        for i in range(0, len(filtered_df) - frame_size, hop_size):
            LAx = filtered_df['LAx'].values[i: i + frame_size]
            LAy = filtered_df['LAy'].values[i: i + frame_size]
            LAz = filtered_df['LAz'].values[i: i + frame_size]
            GYx = filtered_df['GYx'].values[i: i + frame_size]
            GYy = filtered_df['GYy'].values[i: i + frame_size]
            GYz = filtered_df['GYz'].values[i: i + frame_size]
            

            label = j

            frames.append([LAx, LAy, LAz, GYx, GYy , GYz])
            labels.append(label)

    frames = np.asarray(frames).reshape(-1, frame_size, N_FEATURES)
    labels = np.asarray(labels)
    
    return frames, labels

In [23]:
# X, y = get_frames(scaled_X,frame_size, hop_size)
# X.shape, y.shape

In [24]:
df_train['label'].nunique()

39

In [25]:
len(df_train[df_train['label'] == 1])

0

In [26]:
X_train_Unshuffeled,y_train_Unshuffeled = get_frames(df_train,frame_size,hop_size)
X_test, y_test = get_frames(df_test,frame_size,hop_size)
X_train_Unshuffeled.shape, X_test.shape, y_train_Unshuffeled.shape, y_test.shape

((5344, 600, 6), (2231, 600, 6), (5344,), (2231,))

In [27]:
# X_train_val, X_test, y_train_val, y_test = train_test_split(X, y, test_size = 0.3, random_state = 0, stratify = y)

X_train, X_validation, y_train, y_validation = train_test_split(X_train_Unshuffeled, y_train_Unshuffeled, test_size = 0.1, random_state = 0, stratify = y_train_Unshuffeled)
X_train.shape, X_test.shape, X_validation.shape

((4809, 600, 6), (2231, 600, 6), (535, 600, 6))

In [28]:
X_train[0].shape, X_test[0].shape, X_validation[0].shape

((600, 6), (600, 6), (600, 6))

In [29]:
num = df_original['name'].iloc[-1]
num

45

In [30]:
# # Subtract 1 from each label in y_train
# y_train = np.array(y_train) - 1
# y_test = np.array(y_test) - 1
# y_validation = np.array(y_validation) - 1

In [31]:
y_train.shape, y_test.shape, y_validation.shape

((4809,), (2231,), (535,))

In [32]:
# y_train_o = np.eye(50)[y_train]
# y_test_o = np.eye(50)[y_test]
# y_validation_o = np.eye(50)[y_validation]

In [33]:
# y_train_o.shape, y_validation_o.shape, y_validation_o.shape

In [34]:
# tut
# model = Sequential()
# model.add(Conv1D(filters=64, kernel_size=3, activation='relu', input_shape=X_train[0].shape))
# model.add(Conv1D(filters=64, kernel_size=3, activation='relu'))
# model.add(Dropout(0.5))
# model.add(MaxPooling1D(pool_size=2))
# model.add(Flatten())
# model.add(Dense(100, activation='relu'))
# model.add(Dense(50, activation='softmax'))

In [35]:
# num_classes = 51  # Including the unknown class

# # Convert your labels to include the unknown class
# y_train_with_unknown = y_train.copy()  # Make a copy of the original labels
# y_train_with_unknown[y_train_with_unknown > num_classes-2] = num_classes-1  # Set labels above num_classes-2 to the unknown class label

In [36]:
num_classes_known = len(np.unique(y_train))
num_classes_known

39

In [37]:
# chatgpt
model = Sequential()
model.add(Conv1D(filters=32, kernel_size=3, activation='relu', input_shape=X_train[0].shape))
model.add(MaxPooling1D(pool_size=2))
model.add(Conv1D(filters=64, kernel_size=3, activation='relu'))
model.add(MaxPooling1D(pool_size=2))
model.add(Conv1D(filters=128, kernel_size=3, activation='relu'))
model.add(MaxPooling1D(pool_size=2))
model.add(Flatten())
model.add(Dense(256, activation='relu'))
model.add(Dropout(0.5))
model.add(Dense(num_classes_known, activation='softmax'))

In [38]:
model.summary(line_length = 75)

Model: "sequential"
___________________________________________________________________________
 Layer (type)                    Output Shape                  Param #
===========================================================================
 conv1d (Conv1D)                 (None, 598, 32)               608

 max_pooling1d (MaxPooling1D)    (None, 299, 32)               0

 conv1d_1 (Conv1D)               (None, 297, 64)               6208

 max_pooling1d_1 (MaxPooling1D)  (None, 148, 64)               0

 conv1d_2 (Conv1D)               (None, 146, 128)              24704

 max_pooling1d_2 (MaxPooling1D)  (None, 73, 128)               0

 flatten (Flatten)               (None, 9344)                  0

 dense (Dense)                   (None, 256)                   2392320

 dropout (Dropout)               (None, 256)                   0

 dense_1 (Dense)                 (None, 39)                    10023

===========================================================================
Total params: 2,433,863
Trainable params: 2,433,863
Non-trainable params: 0
___________________________________________________________________________

In [39]:
model.compile(optimizer=Adam(learning_rate = 0.001), loss=tf.keras.losses.SparseCategoricalCrossentropy(), metrics = ['accuracy'])

In [40]:
early_stopping = tf.keras.callbacks.EarlyStopping(
    monitor = 'val_loss',
    mode = 'auto',
    min_delta = 0,
    patience = 2,
    verbose = 0,
    restore_best_weights = True
)

In [41]:
history = model.fit(X_train, y_train, epochs = 30,callbacks = [early_stopping], 
                    validation_data= (X_validation, y_validation), verbose=1)

Epoch 1/30

InvalidArgumentError: Graph execution error:

Detected at node 'sparse_categorical_crossentropy/SparseSoftmaxCrossEntropyWithLogits/SparseSoftmaxCrossEntropyWithLogits' defined at (most recent call last):
    File "C:\Users\szizo\anaconda3\lib\runpy.py", line 196, in _run_module_as_main
      return _run_code(code, main_globals, None,
    File "C:\Users\szizo\anaconda3\lib\runpy.py", line 86, in _run_code
      exec(code, run_globals)
    File "C:\Users\szizo\anaconda3\lib\site-packages\ipykernel_launcher.py", line 17, in <module>
      app.launch_new_instance()
    File "C:\Users\szizo\anaconda3\lib\site-packages\traitlets\config\application.py", line 992, in launch_instance
      app.start()
    File "C:\Users\szizo\anaconda3\lib\site-packages\ipykernel\kernelapp.py", line 711, in start
      self.io_loop.start()
    File "C:\Users\szizo\anaconda3\lib\site-packages\tornado\platform\asyncio.py", line 199, in start
      self.asyncio_loop.run_forever()
    File "C:\Users\szizo\anaconda3\lib\asyncio\base_events.py", line 603, in run_forever
      self._run_once()
    File "C:\Users\szizo\anaconda3\lib\asyncio\base_events.py", line 1906, in _run_once
      handle._run()
    File "C:\Users\szizo\anaconda3\lib\asyncio\events.py", line 80, in _run
      self._context.run(self._callback, *self._args)
    File "C:\Users\szizo\anaconda3\lib\site-packages\ipykernel\kernelbase.py", line 510, in dispatch_queue
      await self.process_one()
    File "C:\Users\szizo\anaconda3\lib\site-packages\ipykernel\kernelbase.py", line 499, in process_one
      await dispatch(*args)
    File "C:\Users\szizo\anaconda3\lib\site-packages\ipykernel\kernelbase.py", line 406, in dispatch_shell
      await result
    File "C:\Users\szizo\anaconda3\lib\site-packages\ipykernel\kernelbase.py", line 729, in execute_request
      reply_content = await reply_content
    File "C:\Users\szizo\anaconda3\lib\site-packages\ipykernel\ipkernel.py", line 411, in do_execute
      res = shell.run_cell(
    File "C:\Users\szizo\anaconda3\lib\site-packages\ipykernel\zmqshell.py", line 531, in run_cell
      return super().run_cell(*args, **kwargs)
    File "C:\Users\szizo\anaconda3\lib\site-packages\IPython\core\interactiveshell.py", line 2961, in run_cell
      result = self._run_cell(
    File "C:\Users\szizo\anaconda3\lib\site-packages\IPython\core\interactiveshell.py", line 3016, in _run_cell
      result = runner(coro)
    File "C:\Users\szizo\anaconda3\lib\site-packages\IPython\core\async_helpers.py", line 129, in _pseudo_sync_runner
      coro.send(None)
    File "C:\Users\szizo\anaconda3\lib\site-packages\IPython\core\interactiveshell.py", line 3221, in run_cell_async
      has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
    File "C:\Users\szizo\anaconda3\lib\site-packages\IPython\core\interactiveshell.py", line 3400, in run_ast_nodes
      if await self.run_code(code, result, async_=asy):
    File "C:\Users\szizo\anaconda3\lib\site-packages\IPython\core\interactiveshell.py", line 3460, in run_code
      exec(code_obj, self.user_global_ns, self.user_ns)
    File "C:\Users\szizo\AppData\Local\Temp\ipykernel_25756\4133923578.py", line 1, in <module>
      history = model.fit(X_train, y_train, epochs = 30,callbacks = [early_stopping],
    File "C:\Users\szizo\anaconda3\lib\site-packages\keras\utils\traceback_utils.py", line 65, in error_handler
      return fn(*args, **kwargs)
    File "C:\Users\szizo\anaconda3\lib\site-packages\keras\engine\training.py", line 1685, in fit
      tmp_logs = self.train_function(iterator)
    File "C:\Users\szizo\anaconda3\lib\site-packages\keras\engine\training.py", line 1284, in train_function
      return step_function(self, iterator)
    File "C:\Users\szizo\anaconda3\lib\site-packages\keras\engine\training.py", line 1268, in step_function
      outputs = model.distribute_strategy.run(run_step, args=(data,))
    File "C:\Users\szizo\anaconda3\lib\site-packages\keras\engine\training.py", line 1249, in run_step
      outputs = model.train_step(data)
    File "C:\Users\szizo\anaconda3\lib\site-packages\keras\engine\training.py", line 1051, in train_step
      loss = self.compute_loss(x, y, y_pred, sample_weight)
    File "C:\Users\szizo\anaconda3\lib\site-packages\keras\engine\training.py", line 1109, in compute_loss
      return self.compiled_loss(
    File "C:\Users\szizo\anaconda3\lib\site-packages\keras\engine\compile_utils.py", line 265, in __call__
      loss_value = loss_obj(y_t, y_p, sample_weight=sw)
    File "C:\Users\szizo\anaconda3\lib\site-packages\keras\losses.py", line 142, in __call__
      losses = call_fn(y_true, y_pred)
    File "C:\Users\szizo\anaconda3\lib\site-packages\keras\losses.py", line 268, in call
      return ag_fn(y_true, y_pred, **self._fn_kwargs)
    File "C:\Users\szizo\anaconda3\lib\site-packages\keras\losses.py", line 2078, in sparse_categorical_crossentropy
      return backend.sparse_categorical_crossentropy(
    File "C:\Users\szizo\anaconda3\lib\site-packages\keras\backend.py", line 5660, in sparse_categorical_crossentropy
      res = tf.nn.sparse_softmax_cross_entropy_with_logits(
Node: 'sparse_categorical_crossentropy/SparseSoftmaxCrossEntropyWithLogits/SparseSoftmaxCrossEntropyWithLogits'
Received a label value of 45 which is outside the valid range of [0, 39).  Label values: 26 26 30 36 28 11 43 11 9 34 32 27 26 16 36 22 28 39 44 27 11 10 10 11 10 23 39 35 45 30 36 17
	 [[{{node sparse_categorical_crossentropy/SparseSoftmaxCrossEntropyWithLogits/SparseSoftmaxCrossEntropyWithLogits}}]] [Op:__inference_train_function_1644]

In [ ]:
test_loss, test_accuracy = model.evaluate(X_test, y_test)
print('Test loss: {0: .4f}. Test accuracy: {1: .2f}%'.format(test_loss, test_accuracy*100))

In [ ]:
X_unk,y_unk = get_frames(df_unk,frame_size,hop_size)
X_unk.shape, y_unk.shape

In [ ]:
y_unk = y_unk -1

In [ ]:
# y_unk_done = np.full(len(y_unk), 49)

In [ ]:
# y_unk_done.shape

In [ ]:
# test_loss, test_accuracy = model.evaluate(X_unk, y_unk)
# print('Test loss: {0: .4f}. Test accuracy: {1: .2f}%'.format(test_loss, test_accuracy*100))

In [ ]:
unique_names_known = np.unique(y_test)
# unique_names_known = unique_names_known-1
len(unique_names_known)

In [ ]:
unique_names_known

In [ ]:
# indices = np.where(y_test == user)[0]
#     X_test_user = X_test[indices]
#     y_test_user = y_test[indices]
#     test_loss, test_accuracy = model.evaluate(X_test_user, y_test_user)
#     arr[user] = test_accuracy

In [ ]:
# arr = np.empty(50)
# for user in unique_names_known:
#     indices = np.where(y_test == user)[0]
#     X_test_user = X_test[indices]
#     y_test_user = y_test[indices]
#     test_loss, test_accuracy = model.evaluate(X_test_user, y_test_user)
#     arr[user] = test_accuracy

In [ ]:
# arr.shape

In [ ]:
predictions_proba = model.predict(X_test)
predictions_proba.shape

In [ ]:
y_test[0]

In [ ]:
predictions_proba[0]

In [ ]:
##Known
predictions = model.predict(X_test)
predictions.shape

true_pred_prob = []
false_pred_prob = []
true_pred_sec_prob = []
true_pred_third_prob = []
true_pred_fourth_prob = []
false_pred_sec_prob = []
true_pred_diff_f_s = []
false_pred_diff_f_s = []
for i in range (0,predictions_proba.shape[0]):
    probs_i = predictions_proba[i]
    pred_class = np.argmax(probs_i)
    true_class = y_test[i]##manual
    pred = probs_i[pred_class]
    probs_i[pred_class] = np.min(probs_i) - 1
    sec_pred = np.max(probs_i)
    
    sec_pred_class = np.argmax(probs_i)
    probs_i[sec_pred_class] = np.min(probs_i) - 1
    third_pred = np.max(probs_i)
    
    third_pred_class = np.argmax(probs_i)
    probs_i[third_pred_class] = np.min(probs_i) - 1
    fourth_pred = np.max(probs_i)
    
    
    if(pred_class == true_class):#true_pred
        true_pred_prob.append(pred)
        true_pred_sec_prob.append(sec_pred)
        
        true_pred_third_prob.append(third_pred)
        true_pred_fourth_prob.append(fourth_pred)
        
        true_pred_diff_f_s.append(pred-sec_pred)
    else:
        false_pred_prob.append(pred)
        false_pred_sec_prob.append(sec_pred)
        false_pred_diff_f_s.append(pred-sec_pred)

In [ ]:
false_pred_prob

In [ ]:
np.mean(true_pred_fourth_prob)

In [ ]:
predictions_proba_unk = model.predict(X_unk)
predictions_proba_unk.shape

In [ ]:
predictions_proba_unk[0]

In [ ]:
# ##UNKnown
# predictions_proba_unk = model.predict(X_unk)
# predictions_proba_unk.shape

# true_pred_prob_unk = []
# false_pred_prob_unk = []
# true_pred_sec_prob_unk = []
# false_pred_sec_prob_unk = []
# false_pred_third_prob_unk = []
# false_pred_fourth_prob_unk = []
# true_pred_diff_f_s_unk = []
# false_pred_diff_f_s_unk = []
# for i_unk in range(0, predictions_proba_unk.shape[0]):
#     probs_i_unk = predictions_proba_unk[i_unk]
#     pred_class_unk = np.argmax(probs_i_unk)
#     true_class_unk = y_unk[i_unk]##manual_unk
#     pred_unk = probs_i_unk[pred_class_unk]
#     probs_i_unk[probs_i_unk == pred_unk] = np.min(probs_i_unk) - 1
#     sec_pred_unk = np.max(probs_i_unk)
#     if pred_class_unk == true_class_unk:  # true_pred_unk
#         true_pred_prob_unk.append(pred_unk)
#         true_pred_sec_prob_unk.append(sec_pred_unk)
#         true_pred_diff_f_s_unk.append(pred_unk - sec_pred_unk)
#     else:
#         false_pred_prob_unk.append(pred_unk)
#         false_pred_sec_prob_unk.append(sec_pred_unk)
#         false_pred_diff_f_s_unk.append(pred_unk - sec_pred_unk)

In [ ]:
##UNKnown
predictions_proba_unk = model.predict(X_unk)
predictions_proba_unk.shape

true_pred_prob_unk = []
false_pred_prob_unk = []
true_pred_sec_prob_unk = []
false_pred_third_prob_unk = []
false_pred_fourth_prob_unk = []
false_pred_sec_prob_unk = []
true_pred_diff_f_s_unk = []
false_pred_diff_f_s_unk = []
for i_unk in range(0, predictions_proba_unk.shape[0]):
    probs_i_unk = predictions_proba_unk[i_unk]
    pred_class_unk = np.argmax(probs_i_unk)
    true_class_unk = y_unk[i_unk]##manual_unk
    pred_unk = probs_i_unk[pred_class_unk]
    probs_i_unk[pred_class_unk] = np.min(probs_i_unk) - 1
    sec_pred_unk = np.max(probs_i_unk)
    
    sec_pred_class_unk = np.argmax(probs_i_unk)
    probs_i_unk[sec_pred_class_unk] = np.min(probs_i_unk) - 1
    third_pred_unk = np.max(probs_i_unk)
    
    third_pred_class_unk = np.argmax(probs_i_unk)
    probs_i_unk[third_pred_class_unk] = np.min(probs_i_unk) - 1
    fourth_pred_unk = np.max(probs_i_unk)
    
    
    if pred_class_unk == true_class_unk:  # true_pred_unk
        true_pred_prob_unk.append(pred_unk)
        true_pred_sec_prob_unk.append(sec_pred_unk)
        
        true_pred_third_prob_unk.append(third_pred_unk)
        true_pred_fourth_prob_unk.append(fourth_pred_unk)
        
        true_pred_diff_f_s_unk.append(pred_unk - sec_pred_unk)
    else:
        false_pred_prob_unk.append(pred_unk)
        false_pred_sec_prob_unk.append(sec_pred_unk)
        
        false_pred_third_prob_unk.append(third_pred_unk)
        false_pred_fourth_prob_unk.append(fourth_pred_unk)
        
        false_pred_diff_f_s_unk.append(pred_unk - sec_pred_unk)

In [ ]:
false_pred_prob_unk

In [ ]:
np.mean(false_pred_prob_unk), np.mean(true_pred_prob)

In [ ]:
np.mean(false_pred_sec_prob_unk), np.mean(true_pred_sec_prob)

In [ ]:
np.mean(false_pred_third_prob_unk), np.mean(true_pred_third_prob)

In [ ]:
np.mean(false_pred_fourth_prob_unk), np.mean(true_pred_fourth_prob)

In [ ]:
np.mean(false_pred_diff_f_s_unk), np.mean(true_pred_diff_f_s)

In [ ]:
known_stats = pd.DataFrame(columns=['1st prob','2nd prob','3rd prob', '4th prob', '1st 2nd diff'])
known_stats

In [ ]:
known_stats['1st prob'] = true_pred_prob
known_stats['2nd prob'] = true_pred_sec_prob
known_stats['3rd prob'] = true_pred_third_prob
known_stats['4th prob'] = true_pred_fourth_prob
known_stats['1st 2nd diff'] = true_pred_diff_f_s

In [ ]:
known_stats

In [ ]:
unknown_stats = pd.DataFrame(columns=['1st prob','2nd prob','3rd prob', '4th prob', '1st 2nd diff'])
unknown_stats

In [ ]:
unknown_stats['1st prob'] = false_pred_prob_unk
unknown_stats['2nd prob'] = false_pred_sec_prob_unk
unknown_stats['3rd prob'] = false_pred_third_prob_unk
unknown_stats['4th prob'] = false_pred_fourth_prob_unk
unknown_stats['1st 2nd diff'] = false_pred_diff_f_s_unk

In [ ]:
unknown_stats

In [ ]:
known_stats_train, known_stats_test = train_test_split(known_stats, test_size = 0.3, random_state = 0)

In [ ]:
# Create an instance of OneClassSVM
svm = OneClassSVM(kernel='linear', nu=0.25)  # You can adjust the hyperparameters as per your needs

# Train the model using your training data
svm.fit(known_stats_train)

# Predict the labels for your test data


# The predictions will contain +1 for inliers (normal instances) and -1 for outliers (anomalous instances)

In [ ]:
predictions = svm.predict(known_stats_test)
known_false, known_true= np.count_nonzero(predictions == -1), np.count_nonzero(predictions == 1)
known_true, known_false

In [ ]:
predictions_unk = svm.predict(unknown_stats)
unk_true, unk_false =np.count_nonzero(predictions_unk == -1), np.count_nonzero(predictions_unk == 1)
unk_true, unk_false

In [ ]:
acc_known = (known_true/(known_true+known_false))*100
acc_unk = (unk_true/(unk_true+unk_false))*100
acc_known, acc_unk