In [1]:
import tensorflow as tf
from tensorflow.keras import Sequential
from tensorflow.keras.layers import Flatten, Dense, Dropout, BatchNormalization
from tensorflow.keras.layers import Conv1D, MaxPooling1D
from tensorflow.keras.optimizers import Adam
print(tf.__version__)

2.12.0

In [2]:
import pandas as pd
import numpy as np
import os
import math
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, LabelEncoder

In [3]:
# filepath = "merged_u1-50_w001_resampled.csv"
filepath = "D:/online dataset csv files preprocessing/merged_u1-50_w001_resampled.csv"

df_original = pd.read_csv(filepath)

In [4]:
# filepath = "merged_u1-50_w001_resampled.csv"
filepath = "D:/online dataset csv files preprocessing/merged_31u_w002_resampled.csv"

df_original_w002 = pd.read_csv(filepath)

In [5]:
df_original_w002

,timestamp,LAx,LAy,LAz,GYx,GYy,GYz,name
0,924003860000000,1.013453,2.212255,-4.202375,0.480812,-2.015816,-0.597282,1
1,924003870000000,1.088615,2.498633,-4.932268,0.374527,-1.864929,-0.566742,1
2,924003880000000,1.199771,1.775632,-4.772740,0.118362,-1.616109,-0.313838,1
3,924003890000000,1.143096,0.354056,-3.707235,-0.239380,-1.185646,0.081375,1
4,924003900000000,1.413260,-0.693596,-1.660237,-0.468460,-0.810585,0.311668,1
...,...,...,...,...,...,...,...,...
1175114,331060670000000,-0.132586,-4.678891,6.665595,2.288254,2.362877,-1.897003,46
1175115,331060680000000,0.311918,-5.307998,6.507066,2.281822,2.470123,-1.592957,46
1175116,331060690000000,0.635345,-6.233653,5.871137,2.243980,2.550949,-1.317612,46
1175117,331060700000000,0.552270,-7.377260,5.499313,2.154648,2.634674,-1.097664,46
1175118,331060710000000,0.163980,-7.892599,6.078267,2.040344,2.815781,-0.929276,46

In [6]:
df_original

,timestamp,LAx,LAy,LAz,GYx,GYy,GYz,name
0,924313410000000,1.242813,-0.160181,-0.900440,0.194931,-0.004242,0.163818,1
1,924313420000000,1.117246,-0.187921,-1.529893,0.236458,0.076378,0.133293,1
2,924313430000000,0.912846,-0.192566,-1.570929,0.226074,0.012253,0.108246,1
3,924313440000000,0.874858,-0.227208,-1.453511,0.139336,-0.050667,0.085030,1
4,924313450000000,0.834022,-0.282976,-1.292671,-0.013374,-0.109314,0.078308,1
...,...,...,...,...,...,...,...,...
2055043,1368327120000000,-9.502644,-7.178468,4.246279,-2.834417,-0.120428,-0.987857,50
2055044,1368327130000000,-9.443804,-7.698220,3.059675,-2.638940,0.561997,-0.947715,50
2055045,1368327140000000,-8.345459,-6.805815,1.853457,-2.483606,1.225222,-0.954696,50
2055046,1368327150000000,-7.580540,-5.629017,1.559257,-2.429500,1.769765,-1.003565,50
2055047,1368327160000000,-6.952915,-4.589512,1.755390,-2.426010,2.099633,-0.980876,50

In [7]:
df_original = pd.concat([df_original, df_original_w002], axis=0)

In [8]:
df_original

,timestamp,LAx,LAy,LAz,GYx,GYy,GYz,name
0,924313410000000,1.242813,-0.160181,-0.900440,0.194931,-0.004242,0.163818,1
1,924313420000000,1.117246,-0.187921,-1.529893,0.236458,0.076378,0.133293,1
2,924313430000000,0.912846,-0.192566,-1.570929,0.226074,0.012253,0.108246,1
3,924313440000000,0.874858,-0.227208,-1.453511,0.139336,-0.050667,0.085030,1
4,924313450000000,0.834022,-0.282976,-1.292671,-0.013374,-0.109314,0.078308,1
...,...,...,...,...,...,...,...,...
1175114,331060670000000,-0.132586,-4.678891,6.665595,2.288254,2.362877,-1.897003,46
1175115,331060680000000,0.311918,-5.307998,6.507066,2.281822,2.470123,-1.592957,46
1175116,331060690000000,0.635345,-6.233653,5.871137,2.243980,2.550949,-1.317612,46
1175117,331060700000000,0.552270,-7.377260,5.499313,2.154648,2.634674,-1.097664,46
1175118,331060710000000,0.163980,-7.892599,6.078267,2.040344,2.815781,-0.929276,46

In [9]:
df_original.isnull().sum()

timestamp    0
LAx          0
LAy          0
LAz          0
GYx          0
GYy          0
GYz          0
name         0
dtype: int64

In [10]:
df_original.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3230167 entries, 0 to 1175118
Data columns (total 8 columns):
 #   Column     Dtype
---  ------     -----
 0   timestamp  int64
 1   LAx        float64
 2   LAy        float64
 3   LAz        float64
 4   GYx        float64
 5   GYy        float64
 6   GYz        float64
 7   name       int64
dtypes: float64(6), int64(2)
memory usage: 221.8 MB

In [11]:
df_original['name'].value_counts()

18    142666
3     119888
29    107965
2     107959
19    101947
7      95892
34     95765
35     89944
30     89620
27     89294
37     84521
20     83894
4      83875
28     76759
12     74718
16     71914
23     70967
47     65984
26     65900
31     65893
36     63230
40     61178
8      60036
6      60005
9      59986
41     59984
13     59984
39     59958
24     59929
14     59916
46     59889
38     59015
33     57409
25     57340
10     57327
32     52339
1      50464
11     47946
21     47636
49     47614
43     44885
42     41946
44     31414
17     29997
48     29990
50     29988
45     26022
5      25792
22     25598
15     17985
Name: name, dtype: int64

In [12]:
df_Xtime = df_original.copy()
df_Xtime = df_Xtime.drop(['timestamp'], axis = 1).copy()
df_Xtime.shape

(3230167, 7)

In [13]:
X = df_Xtime[['LAx', 'LAy', 'LAz','GYx', 'GYy', 'GYz']].copy()
y = df_Xtime['name'].copy()

In [14]:
scaler = StandardScaler()
X_transformed = X.copy()
X_transformed = scaler.fit_transform(X_transformed)

scaled_X = pd.DataFrame(data = X_transformed, columns = ['LAx', 'LAy', 'LAz','GYx', 'GYy', 'GYz'])
scaled_X['label'] = y.values

scaled_X

              LAx       LAy       LAz       GYx       GYy       GYz  label
0        0.375791 -0.067908 -0.246253  0.113784  0.024151  0.182895      1
1        0.338000 -0.074514 -0.423499  0.142371  0.080807  0.150703      1
2        0.276482 -0.075620 -0.435054  0.135223  0.035743  0.124288      1
3        0.265049 -0.083870 -0.401991  0.075512 -0.008474  0.099804      1
4        0.252759 -0.097151 -0.356700 -0.029614 -0.049689  0.092716      1
...           ...       ...       ...       ...       ...       ...    ...
3230162 -0.038157 -1.144009  1.884250  1.554838  1.687661 -1.990450     46
3230163  0.095624 -1.293827  1.839611  1.550410  1.763030 -1.669802     46
3230164  0.192964 -1.514266  1.660541  1.524360  1.819831 -1.379423     46
3230165  0.167961 -1.786608  1.555840  1.462863  1.878669 -1.147466     46
3230166  0.051100 -1.909333  1.718866  1.384176  2.005943 -0.969883     46

[3230167 rows x 7 columns]

In [15]:
import scipy.stats as stats

Fs = 100
frame_size = Fs*6
hop_size = int(Fs*1.5)

In [16]:
def get_frames(df, frame_size, hop_size):
    N_FEATURES = 6

    frames = []
    labels = []
    
    last_value = df['label'].iloc[-1]
    for j in range (1,last_value+1): 
        filtered_df = df[df['label'] == j]
        filtered_df = filtered_df.drop('label', axis = 1)
        for i in range(0, len(filtered_df) - frame_size, hop_size):
            LAx = filtered_df['LAx'].values[i: i + frame_size]
            LAy = filtered_df['LAy'].values[i: i + frame_size]
            LAz = filtered_df['LAz'].values[i: i + frame_size]
            GYx = filtered_df['GYx'].values[i: i + frame_size]
            GYy = filtered_df['GYy'].values[i: i + frame_size]
            GYz = filtered_df['GYz'].values[i: i + frame_size]
            

            label = j

            frames.append([LAx, LAy, LAz, GYx, GYy , GYz])
            labels.append(label)

    frames = np.asarray(frames).reshape(-1, frame_size, N_FEATURES)
    labels = np.asarray(labels)
    
    return frames, labels

In [17]:
X, y = get_frames(scaled_X,frame_size, hop_size)
X.shape, y.shape

((20216, 600, 6), (20216,))

In [18]:
X_train_val, X_test, y_train_val, y_test = train_test_split(X, y, test_size = 0.3, random_state = 0, stratify = y)

X_train, X_validation, y_train, y_validation = train_test_split(X_train_val, y_train_val, test_size = 0.1, random_state = 0, stratify = y_train_val)
X_train.shape, X_test.shape, X_validation.shape

((12735, 600, 6), (6065, 600, 6), (1416, 600, 6))

In [19]:
X_train[0].shape, X_test[0].shape, X_validation[0].shape

((600, 6), (600, 6), (600, 6))

In [20]:
num = df_original['name'].iloc[-1]
num

46

In [21]:
# Subtract 1 from each label in y_train
y_train = np.array(y_train) - 1
y_test = np.array(y_test) - 1
y_validation = np.array(y_validation) - 1

In [22]:
y_train.shape, y_test.shape, y_validation.shape

((12735,), (6065,), (1416,))

In [23]:
y_train_o = np.eye(50)[y_train]
y_test_o = np.eye(50)[y_test]
y_validation_o = np.eye(50)[y_validation]

In [24]:
y_train_o.shape, y_validation_o.shape, y_validation_o.shape

((12735, 50), (1416, 50), (1416, 50))

In [25]:
# tut
# model = Sequential()
# model.add(Conv1D(filters=64, kernel_size=3, activation='relu', input_shape=X_train[0].shape))
# model.add(Conv1D(filters=64, kernel_size=3, activation='relu'))
# model.add(Dropout(0.5))
# model.add(MaxPooling1D(pool_size=2))
# model.add(Flatten())
# model.add(Dense(100, activation='relu'))
# model.add(Dense(50, activation='softmax'))

In [26]:
# chatgpt
model = Sequential()
model.add(Conv1D(filters=32, kernel_size=3, activation='relu', input_shape=X_train[0].shape))
model.add(MaxPooling1D(pool_size=2))
model.add(Conv1D(filters=64, kernel_size=3, activation='relu'))
model.add(MaxPooling1D(pool_size=2))
model.add(Conv1D(filters=128, kernel_size=3, activation='relu'))
model.add(MaxPooling1D(pool_size=2))
model.add(Flatten())
model.add(Dense(256, activation='relu'))
model.add(Dropout(0.5))
model.add(Dense(50, activation='softmax'))

In [27]:
model.summary(line_length = 75)

Model: "sequential"
___________________________________________________________________________
 Layer (type)                    Output Shape                  Param #
===========================================================================
 conv1d (Conv1D)                 (None, 598, 32)               608

 max_pooling1d (MaxPooling1D)    (None, 299, 32)               0

 conv1d_1 (Conv1D)               (None, 297, 64)               6208

 max_pooling1d_1 (MaxPooling1D)  (None, 148, 64)               0

 conv1d_2 (Conv1D)               (None, 146, 128)              24704

 max_pooling1d_2 (MaxPooling1D)  (None, 73, 128)               0

 flatten (Flatten)               (None, 9344)                  0

 dense (Dense)                   (None, 256)                   2392320

 dropout (Dropout)               (None, 256)                   0

 dense_1 (Dense)                 (None, 50)                    12850

===========================================================================
Total params: 2,436,690
Trainable params: 2,436,690
Non-trainable params: 0
___________________________________________________________________________

In [28]:
model.compile(optimizer=Adam(learning_rate = 0.001), loss=tf.keras.losses.SparseCategoricalCrossentropy(), metrics = ['accuracy'])

In [29]:
early_stopping = tf.keras.callbacks.EarlyStopping(
    monitor = 'val_loss',
    mode = 'auto',
    min_delta = 0,
    patience = 2,
    verbose = 0,
    restore_best_weights = True
)

In [30]:
history = model.fit(X_train, y_train, epochs = 30,callbacks = [early_stopping], 
                    validation_data= (X_validation, y_validation), verbose=1)

Epoch 1/30
398/398 [==============================] - 20s 48ms/step - loss: 1.7049 - accuracy: 0.5340 - val_loss: 0.2483 - val_accuracy: 0.9096
Epoch 2/30
398/398 [==============================] - 19s 48ms/step - loss: 0.4135 - accuracy: 0.8538 - val_loss: 0.1720 - val_accuracy: 0.9174
Epoch 3/30
398/398 [==============================] - 19s 48ms/step - loss: 0.2938 - accuracy: 0.8802 - val_loss: 0.1508 - val_accuracy: 0.9216
Epoch 4/30
398/398 [==============================] - 19s 47ms/step - loss: 0.2367 - accuracy: 0.8954 - val_loss: 0.1608 - val_accuracy: 0.9181
Epoch 5/30
398/398 [==============================] - 19s 47ms/step - loss: 0.2162 - accuracy: 0.9006 - val_loss: 0.1517 - val_accuracy: 0.9223

In [31]:
test_loss, test_accuracy = model.evaluate(X_test, y_test)
print('Test loss: {0: .4f}. Test accuracy: {1: .2f}%'.format(test_loss, test_accuracy*100))

190/190 [==============================] - 2s 10ms/step - loss: 0.1616 - accuracy: 0.9131
Test loss:  0.1616. Test accuracy:  91.31%

# Get W003 and test on it while training on W001 only

In [32]:
# filepath = "merged_u1-50_w001_resampled.csv"
filepath_3 = "D:/online dataset csv files preprocessing/merged_14u_w003_resampled.csv"

df_original_3 = pd.read_csv(filepath_3)
df_original_3

,timestamp,LAx,LAy,LAz,GYx,GYy,GYz,name
0,923709910000000,1.897600,-0.948629,0.806025,-0.913564,-0.310084,-0.732483,1
1,923709920000000,1.822922,-0.512797,0.658468,-0.688972,-0.554016,-0.731674,1
2,923709930000000,1.571234,0.178020,-0.381536,-0.285202,-0.868012,-0.680359,1
3,923709940000000,1.347669,0.698209,-1.856026,0.160721,-1.098297,-0.580788,1
4,923709950000000,1.484009,0.825438,-3.034368,0.557777,-1.373177,-0.456787,1
...,...,...,...,...,...,...,...,...
522631,341510670000000,-0.620103,-0.362797,-0.729507,-0.252296,-1.060326,0.087654,46
522632,341510680000000,-0.670146,-0.440084,-0.736829,-0.247093,-1.092079,0.098557,46
522633,341510690000000,-0.770983,-0.401897,-0.680590,-0.236572,-1.106628,0.115730,46
522634,341510700000000,-0.890548,-0.338852,-0.699221,-0.220085,-1.100670,0.133514,46
522635,341510710000000,-1.047220,-0.314173,-0.796266,-0.208298,-1.078903,0.147453,46

In [33]:
df_original_3.isnull().sum()

timestamp    0
LAx          0
LAy          0
LAz          0
GYx          0
GYy          0
GYz          0
name         0
dtype: int64

In [34]:
df_original_3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 522636 entries, 0 to 522635
Data columns (total 8 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   timestamp  522636 non-null  int64
 1   LAx        522636 non-null  float64
 2   LAy        522636 non-null  float64
 3   LAz        522636 non-null  float64
 4   GYx        522636 non-null  float64
 5   GYy        522636 non-null  float64
 6   GYz        522636 non-null  float64
 7   name       522636 non-null  int64
dtypes: float64(6), int64(2)
memory usage: 31.9 MB

In [35]:
df_original_3['name'].value_counts()

43    77605
2     47948
18    47922
23    44013
28    40959
33    36637
21    36396
46    29990
36    29528
10    28251
25    27562
24    25926
1     25325
40    24574
Name: name, dtype: int64

In [36]:
df_Xtime_3 = df_original_3.copy()
df_Xtime_3 = df_Xtime_3.drop(['timestamp'], axis = 1).copy()
df_Xtime_3.shape

(522636, 7)

In [37]:
X_3 = df_Xtime_3[['LAx', 'LAy', 'LAz','GYx', 'GYy', 'GYz']].copy()
y_3 = df_Xtime_3['name'].copy()

In [38]:
scaler = StandardScaler()
X_transformed_3 = X_3.copy()
X_transformed_3 = scaler.fit_transform(X_transformed_3)

scaled_X_3 = pd.DataFrame(data = X_transformed_3, columns = ['LAx', 'LAy', 'LAz','GYx', 'GYy', 'GYz'])
scaled_X_3['label'] = y_3.values

scaled_X_3

             LAx       LAy       LAz       GYx       GYy       GYz  label
0       0.617858 -0.278392  0.122873 -0.539603 -0.202006 -0.632854      1
1       0.594677 -0.178000  0.082692 -0.404722 -0.364584 -0.632063      1
2       0.516551 -0.018873 -0.200509 -0.162233 -0.573859 -0.581893      1
3       0.447155  0.100951 -0.602023  0.105571 -0.727341 -0.484544      1
4       0.489476  0.130257 -0.922893  0.344028 -0.910546 -0.363310      1
...          ...       ...       ...       ...       ...       ...    ...
522631 -0.163656 -0.143448 -0.295264 -0.142471 -0.702034  0.168981     46
522632 -0.179190 -0.161251 -0.297257 -0.139346 -0.723197  0.179640     46
522633 -0.210491 -0.152454 -0.281943 -0.133028 -0.732894  0.196430     46
522634 -0.247605 -0.137932 -0.287016 -0.123126 -0.728923  0.213818     46
522635 -0.296237 -0.132247 -0.313442 -0.116047 -0.714416  0.227445     46

[522636 rows x 7 columns]

In [39]:
# import scipy.stats as stats

# Fs = 100
# frame_size = Fs*6 
# hop_size = Fs*6

In [40]:
X_3, y_3 = get_frames(scaled_X_3,frame_size, hop_size)
X_3.shape, y_3.shape

((3434, 600, 6), (3434,))

In [41]:
X_train_val_3, X_test_3, y_train_val_3, y_test_3 = train_test_split(X_3, y_3, test_size=0.3, random_state=0, stratify=y_3)

X_train_3, X_validation_3, y_train_3, y_validation_3 = train_test_split(X_train_val_3, y_train_val_3, test_size=0.1, random_state=0, stratify=y_train_val_3)
X_train_3.shape, X_test_3.shape, X_validation_3.shape

((2162, 600, 6), (1031, 600, 6), (241, 600, 6))

In [42]:
X_train_3[0].shape, X_test_3[0].shape, X_validation_3[0].shape

((600, 6), (600, 6), (600, 6))

In [43]:
# Subtract 1 from each label in y_train
y_train_3 = np.array(y_train_3) - 1
y_test_3 = np.array(y_test_3) - 1
y_validation_3 = np.array(y_validation_3) - 1
y_3 = np.array(y_3) -1

In [44]:
y_train_3.shape, y_test_3.shape, y_validation_3.shape

((2162,), (1031,), (241,))

In [45]:
test_loss, test_accuracy = model.evaluate(X_test_3, y_test_3)
print('Test loss: {0: .4f}. Test accuracy: {1: .2f}%'.format(test_loss, test_accuracy*100))

33/33 [==============================] - 0s 9ms/step - loss: 4.1752 - accuracy: 0.6828
Test loss:  4.1752. Test accuracy:  68.28%

In [46]:
X_3.shape, y_3.shape

((3434, 600, 6), (3434,))

In [47]:
X_train_3.shape, y_train_3.shape

((2162, 600, 6), (2162,))

In [48]:
test_loss, test_accuracy = model.evaluate(X_train_3, y_train_3)
print('Test loss: {0: .4f}. Test accuracy: {1: .2f}%'.format(test_loss, test_accuracy*100))

68/68 [==============================] - 1s 10ms/step - loss: 4.0713 - accuracy: 0.6674
Test loss:  4.0713. Test accuracy:  66.74%

In [49]:
test_loss, test_accuracy = model.evaluate(X_3, y_3)
print('Test loss: {0: .4f}. Test accuracy: {1: .2f}%'.format(test_loss, test_accuracy*100))

108/108 [==============================] - 1s 11ms/step - loss: 4.1101 - accuracy: 0.6736
Test loss:  4.1101. Test accuracy:  67.36%