In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn import svm
from sklearn.model_selection import train_test_split
import seaborn as sns # for plotting.
import os

from sklearn.preprocessing import LabelEncoder

In [38]:
statisticalDf=pd.read_csv('newStatistical.csv')
statisticalDf.dtypes

name           object
mean_LA(x)    float64
mean_LA(y)    float64
mean_LA(z)    float64
mean_GY(x)    float64
mean_GY(y)    float64
mean_GY(z)    float64
sd_LA(x)      float64
sd_LA(y)      float64
sd_LA(z)      float64
sd_GY(x)      float64
sd_GY(y)      float64
sd_GY(z)      float64
dtype: object

In [40]:
label_column = 'name'
label_encoder = LabelEncoder()
statisticalDf[label_column] = label_encoder.fit_transform(statisticalDf[label_column])

In [41]:
statisticalDf.dtypes

name            int32
mean_LA(x)    float64
mean_LA(y)    float64
mean_LA(z)    float64
mean_GY(x)    float64
mean_GY(y)    float64
mean_GY(z)    float64
sd_LA(x)      float64
sd_LA(y)      float64
sd_LA(z)      float64
sd_GY(x)      float64
sd_GY(y)      float64
sd_GY(z)      float64
dtype: object

In [5]:
all_ds=statisticalDf.copy()

In [6]:
# Split the data into 60% train and 40% test (later will divide the test to test and validate.)
train_dataset, temp_test_dataset =  train_test_split(all_ds, test_size=0.4)

print( train_dataset.shape )
print( temp_test_dataset.shape )

(19, 13)
(13, 13)

In [7]:
# Split the test_dataset dataframe to 50% test and 50% validation. [this will divide the dataset into 60% train, 20% validate, and 20% test]
test_dataset, valid_dataset =  train_test_split(temp_test_dataset, test_size=0.5)
print( test_dataset.shape )
print( valid_dataset.shape )

(6, 13)
(7, 13)

In [8]:
train_labels = train_dataset.pop('name')
test_labels = test_dataset.pop('name')
valid_labels = valid_dataset.pop('name')

In [21]:
train_labels = train_labels.reset_index(drop=True)

In [22]:
test_labels = test_labels.reset_index(drop=True)

In [23]:
test_labels

0    19
1    14
2    29
3    25
4     6
5     4
Name: name, dtype: int32

In [24]:
valid_labels = valid_labels.reset_index(drop=True)

In [26]:
valid_labels

0    21
1    27
2     2
3    28
4    24
5     8
6    20
Name: name, dtype: int32

In [28]:
train_dataset = train_dataset.reset_index(drop=True)
test_dataset = test_dataset.reset_index(drop=True)
valid_dataset = valid_dataset.reset_index(drop=True)

In [29]:
train_dataset

,mean_LA(x),mean_LA(y),mean_LA(z),mean_GY(x),mean_GY(y),mean_GY(z),sd_LA(x),sd_LA(y),sd_LA(z),sd_GY(x),sd_GY(y),sd_GY(z)
0,0.328296,-0.648805,0.703658,0.181158,-0.401560,-0.199473,4.361346,2.928663,4.544553,1.204835,1.722194,0.996614
1,0.238569,-0.188584,0.522236,-0.014429,-0.415608,-0.127227,1.840254,1.965744,1.754135,0.623276,1.262022,0.786566
2,0.400480,-0.583705,-0.565326,0.145026,-0.508438,0.105409,4.004121,3.902011,4.666506,1.306076,1.446163,1.081577
3,0.302428,-0.454693,0.876858,-0.002075,0.048715,-0.186628,3.387821,2.740689,3.690213,1.031524,1.844206,0.845006
4,-0.137318,-0.694075,0.561552,0.390665,-0.256937,0.107823,2.062976,1.781961,1.514323,0.817931,0.756671,0.748877
5,0.089535,-0.634762,0.430735,0.048057,0.103959,-0.103987,5.008167,3.237824,3.852864,1.072739,1.567254,1.001543
6,0.141473,0.058188,0.351559,-0.017778,-0.101517,-0.075924,1.361534,1.601349,1.418464,0.522863,1.076395,0.622166
7,0.100317,-0.638231,0.779516,0.069368,-0.301781,-0.206177,3.932625,3.129562,3.822440,1.119848,1.312378,1.110598
8,0.131254,-0.207766,0.489331,0.236496,-0.268571,-0.108303,1.822300,1.820857,1.867853,0.744089,1.219914,0.872819
9,0.161885,-0.225731,0.552650,0.176507,-0.308907,-0.157284,2.380718,2.357542,2.020036,0.785773,1.180408,0.798752
10,0.211522,0.046809,0.433300,-0.059075,-0.145953,-0.056760,1.297909,2.690857,1.885415,1.078312,1.057560,0.529188
11,0.416585,-0.374331,0.574468,0.035432,-0.212118,-0.171672,2.324888,2.903903,2.792157,1.015387,1.339296,0.652131
12,0.195304,-0.263071,-0.280091,0.008021,0.181732,0.051776,2.462941,2.312879,3.417976,1.111976,1.285494,0.471341
13,0.106776,-0.202852,0.336103,0.009316,-0.033247,-0.143054,2.578147,2.058264,2.348121,0.684904,1.412197,0.915625
14,0.360441,-0.303924,0.248520,0.083990,-0.246797,-0.453403,0.992247,1.241876,1.735606,0.417064,0.545656,0.751754
15,0.259229,-0.118446,-0.035600,0.044112,0.082508,0.011077,1.552187,1.667120,1.584883,0.594896,0.878433,0.399375
16,0.067320,0.044154,-0.036998,-0.154872,-0.402652,-0.099489,1.943302,1.865142,2.011893,0.827980,1.165255,0.621540
17,0.207348,-0.123532,0.306170,-0.000423,-0.048408,-0.187653,2.168070,2.152995,2.122849,0.694279,1.073700,0.763617
18,0.021361,-0.492503,0.570440,0.071714,-0.301920,-0.190636,3.124307,2.209691,3.624159,1.053957,1.482005,0.926813

In [ ]:
print("Display NA values in each columns: ")
all_ds.isna().sum(axis=0)

In [ ]:
# Statistics on the train dataset to make sure it is in a good shape. (you may display the same stat for test and validate)
train_stats = train_dataset.describe()
train_stats = train_stats.transpose()
train_stats

In [ ]:
# Plot the relationship between each two variables to spot anything incorrect.
train_stats = train_dataset.describe()
sns.pairplot(train_stats[train_stats.columns], diag_kind="kde") # or diag_kind='reg'

In [ ]:
train_dataset

In [34]:
normed_train_data=train_dataset.copy()
normed_test_data= test_dataset.copy()
normed_valid_dataset=valid_dataset.copy()


#Create a svm Classifier
model = svm.SVC(C = 5, # reg paramater
                kernel='poly', #kernel{‘linear’, ‘poly’, ‘rbf’, ‘sigmoid’, ‘precomputed’}, default=’rbf’
               ) # Linear Kernel

#Train the model using the training sets
model.fit(normed_train_data, train_labels)

#Predict the response for test dataset
y_pred = model.predict(normed_test_data)

In [35]:
example_batch = normed_test_data[:10]
example_result = model.predict(example_batch)
print('predicted values: ')
example_result

predicted values:

array([10,  0, 11, 11,  3, 10])

In [36]:
from sklearn import metrics
y_pred = model.predict(normed_train_data)
print("Accuracy:",metrics.accuracy_score(train_labels, y_pred))

Accuracy: 1.0

In [37]:
y_pred = model.predict(normed_valid_dataset)
print("Accuracy:",metrics.accuracy_score(valid_labels, y_pred))

Accuracy: 0.0