In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn import svm
from sklearn.model_selection import train_test_split
import seaborn as sns # for plotting.
import os
import math

from sklearn.preprocessing import LabelEncoder

In [2]:
x = "abcd.csv"
print(x[-1])
if(x[-5] == ")"):
    x = x[:-7]
else:
    x=x[:-4]
print(x)

v
abcd

In [3]:
df = pd.DataFrame(columns=['name','mean_LA(x)', 'mean_LA(y)', 'mean_LA(z)', 'mean_GY(x)', 'mean_GY(y)', 'mean_GY(z)','sd_LA(x)', 'sd_LA(y)', 'sd_LA(z)', 'sd_GY(x)', 'sd_GY(y)', 'sd_GY(z)'])

In [4]:
directory = os.path.join(os.getcwd(), 'all\\training')
x=1
firstTime = True
for filename in os.listdir(directory):
    if (filename.endswith(".csv")):
        filepath = os.path.join(directory, filename)
        testOriginal = pd.read_csv(filepath)
        test=testOriginal.copy()
        
        x= '' + filename
        if(x[-5] == ")"):
            x = x[:-7]
        else:
            x=x[:-4]
        
        
        num_rows_before = test.shape[0]
    
        fivePercent = num_rows_before * 0.20
        fivePercent = math.ceil(fivePercent)
        
        #test = test.iloc[fivePercent:]
        test = test.iloc[:-fivePercent]
        
        num_rows = test.shape[0]
        # Create a new row of data
        new_row = [x,test['LA(x)'].mean(),test['LA(y)'].mean(),test['LA(z)'].mean(),test['GY(x)'].mean(),test['GY(y)'].mean(),test['GY(z)'].mean(),test['LA(x)'].std(),test['LA(y)'].std(),test['LA(z)'].std(),test['GY(x)'].std(),test['GY(y)'].std(),test['GY(z)'].std()]

        # Add the new row to the DataFrame
        df.loc[len(df)] = new_row

In [5]:
df

,name,mean_LA(x),mean_LA(y),mean_LA(z),mean_GY(x),mean_GY(y),mean_GY(z),sd_LA(x),sd_LA(y),sd_LA(z),sd_GY(x),sd_GY(y),sd_GY(z)
0,ahmedamin,0.144788,-0.377471,0.464804,-0.017433,0.285268,-0.010918,2.640668,4.157759,3.107656,1.274574,0.953644,0.476125
1,ahmedamir,0.900060,-0.965049,0.714376,-0.013971,-0.155567,0.041762,3.824209,2.992793,2.644413,1.009395,1.214170,1.437600
2,alibadawy,0.128859,-0.463654,0.412851,0.095233,-0.092352,-0.061233,3.081139,2.997142,3.150151,1.171772,1.389636,1.015041
3,alibadawy,-0.008369,-0.474101,0.649339,0.033228,-0.440473,-0.128434,3.024925,2.132049,3.595899,1.063834,1.430532,0.740960
4,dinaelgendy,0.034107,0.037947,0.364967,-0.034809,0.153193,-0.014635,2.369922,5.076737,2.436780,0.742355,1.159667,0.373950
...,...,...,...,...,...,...,...,...,...,...,...,...,...
59,nourhan,0.237786,-0.414473,0.058593,-0.017448,-0.009192,-0.162654,1.274063,1.226272,2.286039,0.529923,0.456330,0.907030
60,ola,0.051690,-0.287569,0.267416,-0.011164,0.181223,-0.015049,4.266359,1.932189,1.810843,0.605887,1.288164,1.364557
61,ola,0.039620,-0.313756,0.241547,-0.015075,0.175744,-0.056747,4.349098,2.018261,1.874973,0.556572,1.294054,1.314904
62,rolla,0.166638,0.035656,0.357881,-0.007260,-0.146467,0.029661,1.387525,1.661000,1.391092,0.410860,1.071594,0.346969
63,rolla,0.219178,0.053475,0.329763,0.007928,-0.137783,0.021310,1.322484,1.601475,1.243341,0.296259,1.036745,0.332324

In [6]:
directory = os.path.join(os.getcwd(), 'hand\\testing')
x=1
firstTime = True
for filename in os.listdir(directory):
    try:
        if (filename.endswith(".csv")):
            filepath = os.path.join(directory, filename)
            testOriginal = pd.read_csv(filepath)
            test=testOriginal.copy()

            x= '' + filename
            if(x[-5] == ")"):
                x = x[:-7]
            else:
                x=x[:-4]

            num_rows_before = test.shape[0]

            fivePercent = num_rows_before * 0.2
            fivePercent = math.ceil(fivePercent)

                #test = test.iloc[fivePercent:]
                #test = test.iloc[:-fivePercent]


            num_rows = test.shape[0]
            start_row = 0
            end_row = num_rows/2
            end_row = math.ceil(end_row)
            print(end_row)   
                # Create a new row of data
            new_row = [x,test['LA(x)'][start_row:end_row].mean(),test['LA(y)'][start_row:end_row].mean(),test['LA(z)'][start_row:end_row].mean(),test['GY(x)'][start_row:end_row].mean(),test['GY(y)'][start_row:end_row].mean(),test['GY(z)'][start_row:end_row].mean(),test['LA(x)'][start_row:end_row].std(),test['LA(y)'][start_row:end_row].std(),test['LA(z)'][start_row:end_row].std(),test['GY(x)'][start_row:end_row].std(),test['GY(y)'][start_row:end_row].std(),test['GY(z)'][start_row:end_row].std()]

                # Add the new row to the DataFrame
            df.loc[len(df)] = new_row
    except Exception as e:
        print(f"Error occurred while reading file: {filename}")
        print(f"Error message: {str(e)}")
        continue

7518
7254
7102
6647
5732
6017
7349

In [7]:
df

,name,mean_LA(x),mean_LA(y),mean_LA(z),mean_GY(x),mean_GY(y),mean_GY(z),sd_LA(x),sd_LA(y),sd_LA(z),sd_GY(x),sd_GY(y),sd_GY(z)
0,ahmedamin,0.144788,-0.377471,0.464804,-0.017433,0.285268,-0.010918,2.640668,4.157759,3.107656,1.274574,0.953644,0.476125
1,ahmedamir,0.900060,-0.965049,0.714376,-0.013971,-0.155567,0.041762,3.824209,2.992793,2.644413,1.009395,1.214170,1.437600
2,alibadawy,0.128859,-0.463654,0.412851,0.095233,-0.092352,-0.061233,3.081139,2.997142,3.150151,1.171772,1.389636,1.015041
3,alibadawy,-0.008369,-0.474101,0.649339,0.033228,-0.440473,-0.128434,3.024925,2.132049,3.595899,1.063834,1.430532,0.740960
4,dinaelgendy,0.034107,0.037947,0.364967,-0.034809,0.153193,-0.014635,2.369922,5.076737,2.436780,0.742355,1.159667,0.373950
...,...,...,...,...,...,...,...,...,...,...,...,...,...
66,salwa,0.211745,-0.727425,-0.076628,0.038244,-0.135960,0.468363,1.756172,1.651001,2.957945,0.954857,0.571199,1.080063
67,seifana,-0.150600,-0.546184,0.296190,0.104065,0.177521,0.474079,1.288246,1.284170,2.314333,0.465309,0.479223,0.928446
68,tokhye,-0.039692,-0.316662,0.065548,0.089553,0.019198,0.403736,1.413875,1.223536,2.908938,0.579944,0.402881,0.858414
69,youssef,0.237372,-0.918822,1.106458,0.443280,-0.247797,0.058343,3.270762,3.094006,1.887799,1.316618,0.880323,1.120145
70,yusuf,-0.062385,-0.446527,0.204720,0.011673,0.253974,0.461554,0.772383,0.671823,1.171294,0.192333,0.402633,0.646103

In [8]:
label_column = 'name'
label_encoder = LabelEncoder()
df[label_column] = label_encoder.fit_transform(df[label_column])

In [9]:
df

,name,mean_LA(x),mean_LA(y),mean_LA(z),mean_GY(x),mean_GY(y),mean_GY(z),sd_LA(x),sd_LA(y),sd_LA(z),sd_GY(x),sd_GY(y),sd_GY(z)
0,0,0.144788,-0.377471,0.464804,-0.017433,0.285268,-0.010918,2.640668,4.157759,3.107656,1.274574,0.953644,0.476125
1,1,0.900060,-0.965049,0.714376,-0.013971,-0.155567,0.041762,3.824209,2.992793,2.644413,1.009395,1.214170,1.437600
2,3,0.128859,-0.463654,0.412851,0.095233,-0.092352,-0.061233,3.081139,2.997142,3.150151,1.171772,1.389636,1.015041
3,2,-0.008369,-0.474101,0.649339,0.033228,-0.440473,-0.128434,3.024925,2.132049,3.595899,1.063834,1.430532,0.740960
4,5,0.034107,0.037947,0.364967,-0.034809,0.153193,-0.014635,2.369922,5.076737,2.436780,0.742355,1.159667,0.373950
...,...,...,...,...,...,...,...,...,...,...,...,...,...
66,46,0.211745,-0.727425,-0.076628,0.038244,-0.135960,0.468363,1.756172,1.651001,2.957945,0.954857,0.571199,1.080063
67,47,-0.150600,-0.546184,0.296190,0.104065,0.177521,0.474079,1.288246,1.284170,2.314333,0.465309,0.479223,0.928446
68,48,-0.039692,-0.316662,0.065548,0.089553,0.019198,0.403736,1.413875,1.223536,2.908938,0.579944,0.402881,0.858414
69,49,0.237372,-0.918822,1.106458,0.443280,-0.247797,0.058343,3.270762,3.094006,1.887799,1.316618,0.880323,1.120145
70,50,-0.062385,-0.446527,0.204720,0.011673,0.253974,0.461554,0.772383,0.671823,1.171294,0.192333,0.402633,0.646103

In [10]:
df_testingHalf = pd.DataFrame(columns=['name','mean_LA(x)', 'mean_LA(y)', 'mean_LA(z)', 'mean_GY(x)', 'mean_GY(y)', 'mean_GY(z)','sd_LA(x)', 'sd_LA(y)', 'sd_LA(z)', 'sd_GY(x)', 'sd_GY(y)', 'sd_GY(z)'])
directory = os.path.join(os.getcwd(), 'hand\\testing')
x=1
firstTime = True
for filename in os.listdir(directory):
    if (filename.endswith(".csv")):
        filepath = os.path.join(directory, filename)
        testOriginal = pd.read_csv(filepath)
        
        x= '' + filename
        if(x[-5] == ")"):
            x = x[:-7]
        else:
            x=x[:-4]
        
        test=testOriginal.copy()
        
#         num_rows = test.shape[0]
#         start_row = 0
#         end_row = num_rows/2
#         end_row = math.ceil(end_row)
        num_rows_before = test.shape[0]
    
        fivePercent = num_rows_before * 0.20
        fivePercent = math.ceil(fivePercent)
        
        #test = test.iloc[fivePercent:]
        test = test.iloc[:-fivePercent]
        
        num_rows = test.shape[0]
        
    
        end_row_init = num_rows/2
        end_row_init = math.ceil(end_row_init)
        
        start_row = end_row_init
        end_row=num_rows+1
        
        
        print(fivePercent)   
        # Create a new row of data
        new_row = [x,test['LA(x)'][start_row:end_row].mean(),test['LA(y)'][start_row:end_row].mean(),test['LA(z)'][start_row:end_row].mean(),test['GY(x)'][start_row:end_row].mean(),test['GY(y)'][start_row:end_row].mean(),test['GY(z)'][start_row:end_row].mean(),test['LA(x)'][start_row:end_row].std(),test['LA(y)'][start_row:end_row].std(),test['LA(z)'][start_row:end_row].std(),test['GY(x)'][start_row:end_row].std(),test['GY(y)'][start_row:end_row].std(),test['GY(z)'][start_row:end_row].std()]

        # Add the new row to the DataFrame
        df_testingHalf.loc[len(df_testingHalf)] = new_row

3007
2902
2841
2659
2293
2407
2940

In [11]:
df_testingHalf

,name,mean_LA(x),mean_LA(y),mean_LA(z),mean_GY(x),mean_GY(y),mean_GY(z),sd_LA(x),sd_LA(y),sd_LA(z),sd_GY(x),sd_GY(y),sd_GY(z)
0,ola,0.101133,-0.568853,0.981838,-0.010862,-0.033242,-0.021373,1.906360,2.689038,1.803614,1.746921,0.480926,0.721169
1,rolla,0.234197,-0.614597,-0.092466,-0.005006,0.028111,0.029200,1.368909,1.486740,2.076941,0.529310,0.339050,1.239088
2,salwa,0.144099,-1.020724,-0.145791,0.258313,-0.080329,0.654916,2.110948,1.680840,2.731512,1.040284,0.696270,1.159901
3,seifana,-0.175207,-0.686154,0.390034,0.133595,0.254953,0.654673,1.493724,1.509737,2.546726,0.494243,0.532507,1.000572
4,tokhye,0.191962,-0.633900,0.089395,-0.024434,0.044498,0.151637,2.061490,1.424009,3.104882,0.832848,0.620436,1.131680
5,youssef,0.012217,-0.723384,1.113586,0.801431,-0.193601,0.045379,2.461315,2.412584,2.473354,1.494875,0.707911,0.720468
6,yusuf,-0.128729,-0.418147,0.263753,0.004964,0.317315,0.577330,0.804180,0.708331,1.200859,0.233320,0.399851,0.680843

In [12]:
label_column = 'name'
label_encoder = LabelEncoder()
df[label_column] = label_encoder.fit_transform(df[label_column])

In [13]:
df

,name,mean_LA(x),mean_LA(y),mean_LA(z),mean_GY(x),mean_GY(y),mean_GY(z),sd_LA(x),sd_LA(y),sd_LA(z),sd_GY(x),sd_GY(y),sd_GY(z)
0,0,0.144788,-0.377471,0.464804,-0.017433,0.285268,-0.010918,2.640668,4.157759,3.107656,1.274574,0.953644,0.476125
1,1,0.900060,-0.965049,0.714376,-0.013971,-0.155567,0.041762,3.824209,2.992793,2.644413,1.009395,1.214170,1.437600
2,3,0.128859,-0.463654,0.412851,0.095233,-0.092352,-0.061233,3.081139,2.997142,3.150151,1.171772,1.389636,1.015041
3,2,-0.008369,-0.474101,0.649339,0.033228,-0.440473,-0.128434,3.024925,2.132049,3.595899,1.063834,1.430532,0.740960
4,5,0.034107,0.037947,0.364967,-0.034809,0.153193,-0.014635,2.369922,5.076737,2.436780,0.742355,1.159667,0.373950
...,...,...,...,...,...,...,...,...,...,...,...,...,...
66,46,0.211745,-0.727425,-0.076628,0.038244,-0.135960,0.468363,1.756172,1.651001,2.957945,0.954857,0.571199,1.080063
67,47,-0.150600,-0.546184,0.296190,0.104065,0.177521,0.474079,1.288246,1.284170,2.314333,0.465309,0.479223,0.928446
68,48,-0.039692,-0.316662,0.065548,0.089553,0.019198,0.403736,1.413875,1.223536,2.908938,0.579944,0.402881,0.858414
69,49,0.237372,-0.918822,1.106458,0.443280,-0.247797,0.058343,3.270762,3.094006,1.887799,1.316618,0.880323,1.120145
70,50,-0.062385,-0.446527,0.204720,0.011673,0.253974,0.461554,0.772383,0.671823,1.171294,0.192333,0.402633,0.646103

In [14]:
encodedNames = df['name'].tail(len(df_testingHalf)).values
print(encodedNames)

[42 44 46 47 48 49 50]

In [15]:
df_testingHalf['name'] = encodedNames
df_testingHalf

,name,mean_LA(x),mean_LA(y),mean_LA(z),mean_GY(x),mean_GY(y),mean_GY(z),sd_LA(x),sd_LA(y),sd_LA(z),sd_GY(x),sd_GY(y),sd_GY(z)
0,42,0.101133,-0.568853,0.981838,-0.010862,-0.033242,-0.021373,1.906360,2.689038,1.803614,1.746921,0.480926,0.721169
1,44,0.234197,-0.614597,-0.092466,-0.005006,0.028111,0.029200,1.368909,1.486740,2.076941,0.529310,0.339050,1.239088
2,46,0.144099,-1.020724,-0.145791,0.258313,-0.080329,0.654916,2.110948,1.680840,2.731512,1.040284,0.696270,1.159901
3,47,-0.175207,-0.686154,0.390034,0.133595,0.254953,0.654673,1.493724,1.509737,2.546726,0.494243,0.532507,1.000572
4,48,0.191962,-0.633900,0.089395,-0.024434,0.044498,0.151637,2.061490,1.424009,3.104882,0.832848,0.620436,1.131680
5,49,0.012217,-0.723384,1.113586,0.801431,-0.193601,0.045379,2.461315,2.412584,2.473354,1.494875,0.707911,0.720468
6,50,-0.128729,-0.418147,0.263753,0.004964,0.317315,0.577330,0.804180,0.708331,1.200859,0.233320,0.399851,0.680843

In [16]:
y_training_labels = df.pop('name')
y_training_labels

0      0
1      1
2      3
3      2
4      5
      ..
66    46
67    47
68    48
69    49
70    50
Name: name, Length: 71, dtype: int64

In [17]:
X_training_dataset = df.copy()

In [18]:
X_testing_dataset = df_testingHalf.copy()

In [19]:
y_testing_labels = X_testing_dataset.pop('name')

In [20]:
X_training_dataset.shape

(71, 12)

In [21]:
y_training_labels.shape

(71,)

In [22]:
X_testing_dataset.shape

(7, 12)

In [23]:
y_testing_labels.shape

(7,)

In [24]:
classifier = svm.SVC(kernel='linear', gamma='auto', C=2)

classifier.fit(X_training_dataset,y_training_labels)

y_testing_predict = classifier.predict(X_testing_dataset)

In [25]:
from sklearn.metrics import classification_report
print(classification_report(y_testing_labels,y_testing_predict))

              precision    recall  f1-score   support

           9       0.00      0.00      0.00         0
          19       0.00      0.00      0.00         0
          42       1.00      1.00      1.00         1
          44       1.00      1.00      1.00         1
          46       1.00      1.00      1.00         1
          47       0.00      0.00      0.00         1
          48       0.00      0.00      0.00         1
          49       1.00      1.00      1.00         1
          50       1.00      1.00      1.00         1

    accuracy                           0.71         7
   macro avg       0.56      0.56      0.56         7
weighted avg       0.71      0.71      0.71         7

C:\Users\szizo\anaconda3\lib\site-packages\sklearn\metrics\_classification.py:1344: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
C:\Users\szizo\anaconda3\lib\site-packages\sklearn\metrics\_classification.py:1344: UndefinedMetricWarning: Recall and F-score are ill-defined and being set to 0.0 in labels with no true samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
C:\Users\szizo\anaconda3\lib\site-packages\sklearn\metrics\_classification.py:1344: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
C:\Users\szizo\anaconda3\lib\site-packages\sklearn\metrics\_classification.py:1344: UndefinedMetricWarning: Recall and F-score are ill-defined and being set to 0.0 in labels with no true samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
C:\Users\szizo\anaconda3\lib\site-packages\sklearn\metrics\_classification.py:1344: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
C:\Users\szizo\anaconda3\lib\site-packages\sklearn\metrics\_classification.py:1344: UndefinedMetricWarning: Recall and F-score are ill-defined and being set to 0.0 in labels with no true samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

In [34]:
#Create a svm Classifier
model = svm.SVC(C = 9, # reg paramater
                kernel='linear', #kernel{‘linear’, ‘poly’, ‘rbf’, ‘sigmoid’, ‘precomputed’}, default=’rbf’
               ) # Linear Kernel

#Train the model using the training sets
model.fit(X_training_dataset, y_training_labels)

#Predict the response for test dataset
y_pred = model.predict(X_testing_dataset)

from sklearn import metrics
y_pred = model.predict(X_testing_dataset)
print("Accuracy:",metrics.accuracy_score(y_testing_labels, y_pred))

Accuracy: 0.8571428571428571

In [27]:
from sklearn import metrics
y_pred = model.predict(X_training_dataset)
print("Accuracy:",metrics.accuracy_score(y_training_labels, y_pred))

Accuracy: 0.9436619718309859

In [28]:
from sklearn import metrics
y_pred = model.predict(X_testing_dataset)
print("Accuracy:",metrics.accuracy_score(y_testing_labels, y_pred))

Accuracy: 0.8571428571428571