In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn import svm
from sklearn.model_selection import train_test_split
import seaborn as sns # for plotting.
import os
import math

from sklearn.preprocessing import LabelEncoder

In [2]:
df = pd.DataFrame(columns=['name','mean_LA(x)', 'mean_LA(y)', 'mean_LA(z)','sd_LA(x)', 'sd_LA(y)', 'sd_LA(z)'])

In [3]:
directory = os.path.join(os.getcwd(), 'backpack\\training')
x = 1
firstTime = True
for filename in os.listdir(directory):
    if (filename.endswith(".csv")):
        filepath = os.path.join(directory, filename)
        try:
            testOriginal = pd.read_csv(filepath)
            test = testOriginal.copy()
            
            test = test[['LA(x)','LA(y)','LA(z)']]
            
            num_rows_before = test.shape[0]

            fivePercent = num_rows_before * 0.20
            fivePercent = math.ceil(fivePercent)
            
            real_fivePercent = num_rows_before * 0.1
            real_fivePercent = math.ceil(fivePercent)

            #test = test.iloc[real_fivePercent:]
            test = test.iloc[:-fivePercent]

            num_rows = test.shape[0]
            # Create a new row of data
            new_row = [
                filename[:-4],
                test['LA(x)'].mean(), test['LA(y)'].mean(), test['LA(z)'].mean(),
                test['LA(x)'].std(), test['LA(y)'].std(), test['LA(z)'].std()
            ]

            # Add the new row to the DataFrame
            df.loc[len(df)] = new_row
        except Exception as e:
            print(f"Error occurred while reading file: {filename}")
            print(f"Error message: {str(e)}")
            continue

In [4]:
df

,name,mean_LA(x),mean_LA(y),mean_LA(z),sd_LA(x),sd_LA(y),sd_LA(z)
0,dinaelgendy,0.374895,0.067851,0.649481,1.756166,3.771635,2.815990
1,farah,0.178686,-0.166713,0.475920,2.676458,2.077343,2.267622
2,ghazaly,0.111783,-0.433144,-0.417921,3.318476,3.356504,3.908902
3,habibatarabay,0.208458,-0.141582,-0.160986,1.638030,1.883974,1.473826
4,hananabil,0.224665,0.084392,0.432724,1.838944,2.292370,1.724860
5,hashem,-0.050529,-0.550069,0.530442,3.791056,3.102421,3.623300
6,heidi,0.608332,-0.438298,0.809968,2.586825,3.274957,3.083887
7,hussenhany,0.464066,-0.516951,-0.437352,4.266029,4.227338,4.495964
8,ismail,-0.080248,-0.473817,-0.651985,3.303495,3.082101,4.343135
9,janah,0.018211,-0.084585,0.246519,1.851759,2.234073,1.588229
10,karen,0.060843,-0.118921,0.291233,2.050625,2.078332,2.057279
11,mayar,0.080295,-0.033566,0.519944,1.529137,1.869428,1.492061
12,mira,0.260765,-0.039654,0.515398,1.448708,1.959189,1.546230
13,moataz,0.194859,-0.412887,0.644415,3.837957,2.096841,3.870308
14,mohameddawoud,0.185752,0.174124,-0.336641,1.494032,2.540328,1.943992
15,mohamedelshoura,-0.073835,-0.631035,0.409352,5.374921,3.617437,4.620766
16,nourhan,-0.036326,-0.067695,0.347675,1.227084,1.601409,1.861783
17,ola,0.051690,-0.287569,0.267416,4.266359,1.932189,1.810843
18,rolla,0.166638,0.035656,0.357881,1.387525,1.661000,1.391092

In [5]:
directory = os.path.join(os.getcwd(), 'backpack\\testing')
x=1
firstTime = True
for filename in os.listdir(directory):
    if (filename.endswith(".csv")):
        filepath = os.path.join(directory, filename)
        try:
            testOriginal = pd.read_csv(filepath)
            test=testOriginal.copy()
            
            test = test[['LA(x)','LA(y)','LA(z)']]

            num_rows_before = test.shape[0]

            fivePercent = num_rows_before * 0.1
            fivePercent = math.ceil(fivePercent)

            #test = test.iloc[fivePercent:]
            #test = test.iloc[:-fivePercent]


            num_rows = test.shape[0]
            start_row = 0
            end_row = num_rows/2
            end_row = math.ceil(end_row)
            print(end_row)   
            # Create a new row of data
            new_row = [filename[:-4],test['LA(x)'][start_row:end_row].mean(),test['LA(y)'][start_row:end_row].mean(),test['LA(z)'][start_row:end_row].mean(),test['LA(x)'][start_row:end_row].std(),test['LA(y)'][start_row:end_row].std(),test['LA(z)'][start_row:end_row].std()]

            # Add the new row to the DataFrame
            df.loc[len(df)] = new_row
        except Exception as e:
            print(f"Error occurred while reading file: {filename}")
            print(f"Error message: {str(e)}")
            continue

7404
7805
6927
6399
46495
7687
7172
6908
8488

In [6]:
df

,name,mean_LA(x),mean_LA(y),mean_LA(z),sd_LA(x),sd_LA(y),sd_LA(z)
0,dinaelgendy,0.374895,0.067851,0.649481,1.756166,3.771635,2.815990
1,farah,0.178686,-0.166713,0.475920,2.676458,2.077343,2.267622
2,ghazaly,0.111783,-0.433144,-0.417921,3.318476,3.356504,3.908902
3,habibatarabay,0.208458,-0.141582,-0.160986,1.638030,1.883974,1.473826
4,hananabil,0.224665,0.084392,0.432724,1.838944,2.292370,1.724860
5,hashem,-0.050529,-0.550069,0.530442,3.791056,3.102421,3.623300
6,heidi,0.608332,-0.438298,0.809968,2.586825,3.274957,3.083887
7,hussenhany,0.464066,-0.516951,-0.437352,4.266029,4.227338,4.495964
8,ismail,-0.080248,-0.473817,-0.651985,3.303495,3.082101,4.343135
9,janah,0.018211,-0.084585,0.246519,1.851759,2.234073,1.588229
10,karen,0.060843,-0.118921,0.291233,2.050625,2.078332,2.057279
11,mayar,0.080295,-0.033566,0.519944,1.529137,1.869428,1.492061
12,mira,0.260765,-0.039654,0.515398,1.448708,1.959189,1.546230
13,moataz,0.194859,-0.412887,0.644415,3.837957,2.096841,3.870308
14,mohameddawoud,0.185752,0.174124,-0.336641,1.494032,2.540328,1.943992
15,mohamedelshoura,-0.073835,-0.631035,0.409352,5.374921,3.617437,4.620766
16,nourhan,-0.036326,-0.067695,0.347675,1.227084,1.601409,1.861783
17,ola,0.051690,-0.287569,0.267416,4.266359,1.932189,1.810843
18,rolla,0.166638,0.035656,0.357881,1.387525,1.661000,1.391092
19,salwa,0.182021,-0.011097,0.460714,1.450011,1.999993,1.454446
20,seifana,-0.249864,-0.544908,-0.580775,2.916957,3.658622,4.529438
21,seifzakaria,0.318233,-0.735143,0.927464,4.755181,5.280667,5.995603
22,tokhye,-0.123444,-0.605728,0.588243,3.268385,4.218153,5.473271
23,waed,0.104491,-0.120244,-0.082177,1.557753,1.492255,1.733548
24,yaseen,0.238989,-0.457418,0.567982,2.961146,2.926309,4.764953
25,youssef,0.150874,-0.544265,-0.543091,3.555273,3.245579,4.969826
26,youssefemad,0.192784,-0.213784,-0.322340,2.455788,2.720039,3.322870
27,yusuf,0.074860,0.222392,0.582544,1.895362,2.720744,3.261370

In [7]:
label_column = 'name'
label_encoder = LabelEncoder()
df[label_column] = label_encoder.fit_transform(df[label_column])

In [8]:
df

    name  mean_LA(x)  mean_LA(y)  mean_LA(z)  sd_LA(x)  sd_LA(y)  sd_LA(z)
0      0    0.374895    0.067851    0.649481  1.756166  3.771635  2.815990
1      1    0.178686   -0.166713    0.475920  2.676458  2.077343  2.267622
2      2    0.111783   -0.433144   -0.417921  3.318476  3.356504  3.908902
3      3    0.208458   -0.141582   -0.160986  1.638030  1.883974  1.473826
4      4    0.224665    0.084392    0.432724  1.838944  2.292370  1.724860
5      5   -0.050529   -0.550069    0.530442  3.791056  3.102421  3.623300
6      6    0.608332   -0.438298    0.809968  2.586825  3.274957  3.083887
7      7    0.464066   -0.516951   -0.437352  4.266029  4.227338  4.495964
8      8   -0.080248   -0.473817   -0.651985  3.303495  3.082101  4.343135
9      9    0.018211   -0.084585    0.246519  1.851759  2.234073  1.588229
10    10    0.060843   -0.118921    0.291233  2.050625  2.078332  2.057279
11    11    0.080295   -0.033566    0.519944  1.529137  1.869428  1.492061
12    12    0.260765   -0.039654    0.515398  1.448708  1.959189  1.546230
13    13    0.194859   -0.412887    0.644415  3.837957  2.096841  3.870308
14    14    0.185752    0.174124   -0.336641  1.494032  2.540328  1.943992
15    15   -0.073835   -0.631035    0.409352  5.374921  3.617437  4.620766
16    16   -0.036326   -0.067695    0.347675  1.227084  1.601409  1.861783
17    17    0.051690   -0.287569    0.267416  4.266359  1.932189  1.810843
18    18    0.166638    0.035656    0.357881  1.387525  1.661000  1.391092
19    19    0.182021   -0.011097    0.460714  1.450011  1.999993  1.454446
20    20   -0.249864   -0.544908   -0.580775  2.916957  3.658622  4.529438
21    21    0.318233   -0.735143    0.927464  4.755181  5.280667  5.995603
22    22   -0.123444   -0.605728    0.588243  3.268385  4.218153  5.473271
23    23    0.104491   -0.120244   -0.082177  1.557753  1.492255  1.733548
24    24    0.238989   -0.457418    0.567982  2.961146  2.926309  4.764953
25    25    0.150874   -0.544265   -0.543091  3.555273  3.245579  4.969826
26    26    0.192784   -0.213784   -0.322340  2.455788  2.720039  3.322870
27    27    0.074860    0.222392    0.582544  1.895362  2.720744  3.261370

In [9]:
df_testingHalf = pd.DataFrame(columns=['name','mean_LA(x)', 'mean_LA(y)', 'mean_LA(z)','sd_LA(x)', 'sd_LA(y)', 'sd_LA(z)'])
directory = os.path.join(os.getcwd(), 'backpack\\testing')
x=1
firstTime = True
for filename in os.listdir(directory):
    if (filename.endswith(".csv")):
        filepath = os.path.join(directory, filename)
        try:
            testOriginal = pd.read_csv(filepath)
            test=testOriginal.copy()
            
            test = test[['LA(x)','LA(y)','LA(z)']]

            #         num_rows = test.shape[0]
            #         start_row = 0
            #         end_row = num_rows/2
            #         end_row = math.ceil(end_row)
            num_rows_before = test.shape[0]

            fivePercent = num_rows_before * 0.20
            fivePercent = math.ceil(fivePercent)

            #test = test.iloc[fivePercent:]
            test = test.iloc[:-fivePercent]

            num_rows = test.shape[0]


            end_row_init = num_rows/2
            end_row_init = math.ceil(end_row_init)

            start_row = end_row_init
            end_row=num_rows+1


            print(fivePercent)   
            # Create a new row of data
            new_row = [filename[:-4],test['LA(x)'][start_row:end_row].mean(),test['LA(y)'][start_row:end_row].mean(),test['LA(z)'][start_row:end_row].mean(),test['LA(x)'][start_row:end_row].std(),test['LA(y)'][start_row:end_row].std(),test['LA(z)'][start_row:end_row].std()]

            # Add the new row to the DataFrame
            df_testingHalf.loc[len(df_testingHalf)] = new_row
        except Exception as e:
            print(f"Error occurred while reading file: {filename}")
            print(f"Error message: {str(e)}")
            continue

2962
3122
2771
2560
18598
3075
2869
2763
3395

In [10]:
df_testingHalf

,name,mean_LA(x),mean_LA(y),mean_LA(z),sd_LA(x),sd_LA(y),sd_LA(z)
0,salwa,0.141565,-0.120317,0.574348,1.477692,1.979376,1.386131
1,seifana,-0.192604,-0.575602,-0.582802,2.941068,4.111913,4.808887
2,seifzakaria,0.389626,-0.937606,1.182028,5.294291,5.381882,6.491918
3,tokhye,0.015048,-0.918167,0.936313,3.120465,3.970199,5.816313
4,waed,0.028507,-0.029653,-0.024865,1.095588,0.983026,1.310857
5,yaseen,0.234241,-0.540141,0.596178,2.863483,2.645426,4.396047
6,youssef,0.041981,-0.613675,-0.508868,3.776181,3.496727,5.318091
7,youssefemad,-0.030774,-0.312918,-0.099697,2.303168,2.616878,3.273348
8,yusuf,0.059095,0.352030,0.668794,2.035583,2.796754,3.696025

In [11]:
label_column = 'name'
label_encoder = LabelEncoder()
df[label_column] = label_encoder.fit_transform(df[label_column])

In [12]:
df

    name  mean_LA(x)  mean_LA(y)  mean_LA(z)  sd_LA(x)  sd_LA(y)  sd_LA(z)
0      0    0.374895    0.067851    0.649481  1.756166  3.771635  2.815990
1      1    0.178686   -0.166713    0.475920  2.676458  2.077343  2.267622
2      2    0.111783   -0.433144   -0.417921  3.318476  3.356504  3.908902
3      3    0.208458   -0.141582   -0.160986  1.638030  1.883974  1.473826
4      4    0.224665    0.084392    0.432724  1.838944  2.292370  1.724860
5      5   -0.050529   -0.550069    0.530442  3.791056  3.102421  3.623300
6      6    0.608332   -0.438298    0.809968  2.586825  3.274957  3.083887
7      7    0.464066   -0.516951   -0.437352  4.266029  4.227338  4.495964
8      8   -0.080248   -0.473817   -0.651985  3.303495  3.082101  4.343135
9      9    0.018211   -0.084585    0.246519  1.851759  2.234073  1.588229
10    10    0.060843   -0.118921    0.291233  2.050625  2.078332  2.057279
11    11    0.080295   -0.033566    0.519944  1.529137  1.869428  1.492061
12    12    0.260765   -0.039654    0.515398  1.448708  1.959189  1.546230
13    13    0.194859   -0.412887    0.644415  3.837957  2.096841  3.870308
14    14    0.185752    0.174124   -0.336641  1.494032  2.540328  1.943992
15    15   -0.073835   -0.631035    0.409352  5.374921  3.617437  4.620766
16    16   -0.036326   -0.067695    0.347675  1.227084  1.601409  1.861783
17    17    0.051690   -0.287569    0.267416  4.266359  1.932189  1.810843
18    18    0.166638    0.035656    0.357881  1.387525  1.661000  1.391092
19    19    0.182021   -0.011097    0.460714  1.450011  1.999993  1.454446
20    20   -0.249864   -0.544908   -0.580775  2.916957  3.658622  4.529438
21    21    0.318233   -0.735143    0.927464  4.755181  5.280667  5.995603
22    22   -0.123444   -0.605728    0.588243  3.268385  4.218153  5.473271
23    23    0.104491   -0.120244   -0.082177  1.557753  1.492255  1.733548
24    24    0.238989   -0.457418    0.567982  2.961146  2.926309  4.764953
25    25    0.150874   -0.544265   -0.543091  3.555273  3.245579  4.969826
26    26    0.192784   -0.213784   -0.322340  2.455788  2.720039  3.322870
27    27    0.074860    0.222392    0.582544  1.895362  2.720744  3.261370

In [13]:
encodedNames = df['name'].tail(len(df_testingHalf)).values
print(encodedNames)

[19 20 21 22 23 24 25 26 27]

In [14]:
df_testingHalf['name'] = encodedNames
df_testingHalf

   name  mean_LA(x)  mean_LA(y)  mean_LA(z)  sd_LA(x)  sd_LA(y)  sd_LA(z)
0    19    0.141565   -0.120317    0.574348  1.477692  1.979376  1.386131
1    20   -0.192604   -0.575602   -0.582802  2.941068  4.111913  4.808887
2    21    0.389626   -0.937606    1.182028  5.294291  5.381882  6.491918
3    22    0.015048   -0.918167    0.936313  3.120465  3.970199  5.816313
4    23    0.028507   -0.029653   -0.024865  1.095588  0.983026  1.310857
5    24    0.234241   -0.540141    0.596178  2.863483  2.645426  4.396047
6    25    0.041981   -0.613675   -0.508868  3.776181  3.496727  5.318091
7    26   -0.030774   -0.312918   -0.099697  2.303168  2.616878  3.273348
8    27    0.059095    0.352030    0.668794  2.035583  2.796754  3.696025

In [15]:
y_training_labels = df.pop('name')
y_training_labels

0      0
1      1
2      2
3      3
4      4
5      5
6      6
7      7
8      8
9      9
10    10
11    11
12    12
13    13
14    14
15    15
16    16
17    17
18    18
19    19
20    20
21    21
22    22
23    23
24    24
25    25
26    26
27    27
Name: name, dtype: int64

In [16]:
X_training_dataset = df.copy()

In [17]:
X_testing_dataset = df_testingHalf.copy()

In [18]:
y_testing_labels = X_testing_dataset.pop('name')

In [19]:
X_training_dataset.shape

(28, 6)

In [20]:
y_training_labels.shape

(28,)

In [21]:
X_testing_dataset.shape

(9, 6)

In [22]:
y_testing_labels.shape

(9,)

In [23]:
classifier = svm.SVC(kernel='linear', gamma='auto', C=2)

classifier.fit(X_training_dataset,y_training_labels)

y_testing_predict = classifier.predict(X_testing_dataset)

In [24]:
from sklearn.metrics import classification_report
print(classification_report(y_testing_labels,y_testing_predict))

              precision    recall  f1-score   support

          19       1.00      1.00      1.00         1
          20       1.00      1.00      1.00         1
          21       1.00      1.00      1.00         1
          22       1.00      1.00      1.00         1
          23       1.00      1.00      1.00         1
          24       1.00      1.00      1.00         1
          25       1.00      1.00      1.00         1
          26       1.00      1.00      1.00         1
          27       1.00      1.00      1.00         1

    accuracy                           1.00         9
   macro avg       1.00      1.00      1.00         9
weighted avg       1.00      1.00      1.00         9

In [25]:
#Create a svm Classifier
model = svm.SVC(C = 9, # reg paramater
                kernel='linear', #kernel{‘linear’, ‘poly’, ‘rbf’, ‘sigmoid’, ‘precomputed’}, default=’rbf’
               ) # Linear Kernel

#Train the model using the training sets
model.fit(X_training_dataset, y_training_labels)

#Predict the response for test dataset
y_pred = model.predict(X_testing_dataset)

from sklearn import metrics
y_pred = model.predict(X_testing_dataset)
print("Accuracy:",metrics.accuracy_score(y_testing_labels, y_pred))

Accuracy: 1.0

In [26]:
from sklearn import metrics
y_pred = model.predict(X_training_dataset)
print("Accuracy:",metrics.accuracy_score(y_training_labels, y_pred))

Accuracy: 1.0

In [27]:
from sklearn import metrics
y_pred = model.predict(X_testing_dataset)
print("Accuracy:",metrics.accuracy_score(y_testing_labels, y_pred))

Accuracy: 1.0