In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn import svm
from sklearn.model_selection import train_test_split
import seaborn as sns # for plotting.
import os
import math

from sklearn.preprocessing import LabelEncoder

In [2]:
df = pd.DataFrame(columns=['name','mean_LA(x)', 'mean_LA(y)', 'mean_LA(z)','sd_LA(x)', 'sd_LA(y)', 'sd_LA(z)'])

In [3]:
directory = os.path.join(os.getcwd(), 'straightWalk\\training')
x=1
firstTime = True
for filename in os.listdir(directory):
    if (filename.endswith(".csv")):
        filepath = os.path.join(directory, filename)
        testOriginal = pd.read_csv(filepath)
        test=testOriginal.copy()
        test = test[['LA(x)','LA(y)','LA(z)']]
        num_rows_before = test.shape[0]
    
        fivePercent = num_rows_before * 0.20
        fivePercent = math.ceil(fivePercent)
        
        #test = test.iloc[fivePercent:]
        test = test.iloc[:-fivePercent]
        
        num_rows = test.shape[0]
        # Create a new row of data
        new_row = [filename[:-4],test['LA(x)'].mean(),test['LA(y)'].mean(),test['LA(z)'].mean(),test['LA(x)'].std(),test['LA(y)'].std(),test['LA(z)'].std()]

        # Add the new row to the DataFrame
        df.loc[len(df)] = new_row

In [4]:
df

,name,mean_LA(x),mean_LA(y),mean_LA(z),sd_LA(x),sd_LA(y),sd_LA(z)
0,alibadawy,-0.008369,-0.474101,0.649339,3.024925,2.132049,3.595899
1,dinaelgendy,0.154952,0.072361,0.589874,1.761442,3.494309,2.647615
2,farah,0.159531,-0.119066,0.394851,2.491446,1.975684,2.261214
3,ghazaly,0.196126,-0.365289,-0.341449,3.047989,3.142557,3.936210
4,habibatarabay,0.280760,-0.080487,-0.075571,1.602986,1.693906,1.423224
5,hananabil,0.069046,0.040334,-0.082578,1.739220,2.046331,1.802013
6,hashem,0.101074,-0.690166,0.985332,4.256839,3.403070,4.131561
7,heidi,0.436401,-0.312833,0.560833,2.245903,3.046908,2.790038
8,hussenhany,0.419612,-0.561886,-0.568291,4.135134,4.062516,4.783643
9,ismail,0.339275,-0.383633,0.940954,2.988183,2.698938,3.666227
10,janah,0.380246,-0.230669,0.221587,0.984696,1.236978,1.723102
11,karen,0.270039,-0.151416,0.385909,2.401214,2.393142,2.347607
12,mayar,0.042543,-0.090380,0.559202,1.571209,1.681903,1.520293
13,mira,0.203278,-0.097773,0.542394,1.728470,1.966007,1.541572
14,moataz,-0.137267,-0.553400,0.630288,2.098947,1.725942,1.535644
15,mohameddawoud,0.199388,0.046566,0.456374,1.321090,2.755397,1.863526
16,mohamedelshoura,0.112285,-0.598295,0.441057,5.278357,3.334758,3.942624
17,moustafa,0.404041,-0.419881,0.685993,2.262174,2.908882,3.443917
18,nourhan,0.237786,-0.414473,0.058593,1.274063,1.226272,2.286039
19,ola,0.039620,-0.313756,0.241547,4.349098,2.018261,1.874973
20,rolla,0.219178,0.053475,0.329763,1.322484,1.601475,1.243341

In [5]:
directory = os.path.join(os.getcwd(), 'straightWalk\\testing')
x=1
firstTime = True
for filename in os.listdir(directory):
    if (filename.endswith(".csv")):
        filepath = os.path.join(directory, filename)
        testOriginal = pd.read_csv(filepath)
        test=testOriginal.copy()
        
        test = test[['LA(x)','LA(y)','LA(z)']]
        
        num_rows_before = test.shape[0]
    
        fivePercent = num_rows_before * 0.2
        fivePercent = math.ceil(fivePercent)
        
        #test = test.iloc[fivePercent:]
        #test = test.iloc[:-fivePercent]
        
        
        num_rows = test.shape[0]
        start_row = 0
        end_row = num_rows/2
        end_row = math.ceil(end_row)
        print(end_row)   
        # Create a new row of data
        new_row = [filename[:-4],test['LA(x)'][start_row:end_row].mean(),test['LA(y)'][start_row:end_row].mean(),test['LA(z)'][start_row:end_row].mean(),test['LA(x)'][start_row:end_row].std(),test['LA(y)'][start_row:end_row].std(),test['LA(z)'][start_row:end_row].std()]

        # Add the new row to the DataFrame
        df.loc[len(df)] = new_row

6433
7553
6969
6716
8402
7419
6452
6979
8570
8016

In [6]:
df

,name,mean_LA(x),mean_LA(y),mean_LA(z),sd_LA(x),sd_LA(y),sd_LA(z)
0,alibadawy,-0.008369,-0.474101,0.649339,3.024925,2.132049,3.595899
1,dinaelgendy,0.154952,0.072361,0.589874,1.761442,3.494309,2.647615
2,farah,0.159531,-0.119066,0.394851,2.491446,1.975684,2.261214
3,ghazaly,0.196126,-0.365289,-0.341449,3.047989,3.142557,3.936210
4,habibatarabay,0.280760,-0.080487,-0.075571,1.602986,1.693906,1.423224
5,hananabil,0.069046,0.040334,-0.082578,1.739220,2.046331,1.802013
6,hashem,0.101074,-0.690166,0.985332,4.256839,3.403070,4.131561
7,heidi,0.436401,-0.312833,0.560833,2.245903,3.046908,2.790038
8,hussenhany,0.419612,-0.561886,-0.568291,4.135134,4.062516,4.783643
9,ismail,0.339275,-0.383633,0.940954,2.988183,2.698938,3.666227
10,janah,0.380246,-0.230669,0.221587,0.984696,1.236978,1.723102
11,karen,0.270039,-0.151416,0.385909,2.401214,2.393142,2.347607
12,mayar,0.042543,-0.090380,0.559202,1.571209,1.681903,1.520293
13,mira,0.203278,-0.097773,0.542394,1.728470,1.966007,1.541572
14,moataz,-0.137267,-0.553400,0.630288,2.098947,1.725942,1.535644
15,mohameddawoud,0.199388,0.046566,0.456374,1.321090,2.755397,1.863526
16,mohamedelshoura,0.112285,-0.598295,0.441057,5.278357,3.334758,3.942624
17,moustafa,0.404041,-0.419881,0.685993,2.262174,2.908882,3.443917
18,nourhan,0.237786,-0.414473,0.058593,1.274063,1.226272,2.286039
19,ola,0.039620,-0.313756,0.241547,4.349098,2.018261,1.874973
20,rolla,0.219178,0.053475,0.329763,1.322484,1.601475,1.243341
21,salwa,0.123655,-0.100184,0.620977,1.699810,2.114138,1.807387
22,seifana,-0.104231,-0.641357,-0.616992,2.954169,3.794832,4.723948
23,seifzakaria,0.231913,-0.636033,0.960572,4.810297,4.562499,5.599178
24,tokhye,0.323317,-0.570275,0.718079,4.283030,2.934791,4.661892
25,waed,0.084093,-0.215364,-0.235872,1.784617,1.750174,1.738327
26,yaseen,0.216317,-0.491985,0.541274,2.754158,3.243350,5.048433
27,youssef,-0.135072,-0.568102,-0.631518,3.865009,2.871865,5.559861
28,youssefemad,0.154371,-0.250041,-0.300487,2.492911,2.241517,3.030794
29,Yusuf,0.210834,0.241756,0.768261,2.303520,3.567420,4.353459
30,zoz,0.083210,0.003018,-0.072479,2.052175,1.958703,2.137863

In [7]:
label_column = 'name'
label_encoder = LabelEncoder()
df[label_column] = label_encoder.fit_transform(df[label_column])

In [8]:
df

    name  mean_LA(x)  mean_LA(y)  mean_LA(z)  sd_LA(x)  sd_LA(y)  sd_LA(z)
0      1   -0.008369   -0.474101    0.649339  3.024925  2.132049  3.595899
1      2    0.154952    0.072361    0.589874  1.761442  3.494309  2.647615
2      3    0.159531   -0.119066    0.394851  2.491446  1.975684  2.261214
3      4    0.196126   -0.365289   -0.341449  3.047989  3.142557  3.936210
4      5    0.280760   -0.080487   -0.075571  1.602986  1.693906  1.423224
5      6    0.069046    0.040334   -0.082578  1.739220  2.046331  1.802013
6      7    0.101074   -0.690166    0.985332  4.256839  3.403070  4.131561
7      8    0.436401   -0.312833    0.560833  2.245903  3.046908  2.790038
8      9    0.419612   -0.561886   -0.568291  4.135134  4.062516  4.783643
9     10    0.339275   -0.383633    0.940954  2.988183  2.698938  3.666227
10    11    0.380246   -0.230669    0.221587  0.984696  1.236978  1.723102
11    12    0.270039   -0.151416    0.385909  2.401214  2.393142  2.347607
12    13    0.042543   -0.090380    0.559202  1.571209  1.681903  1.520293
13    14    0.203278   -0.097773    0.542394  1.728470  1.966007  1.541572
14    15   -0.137267   -0.553400    0.630288  2.098947  1.725942  1.535644
15    16    0.199388    0.046566    0.456374  1.321090  2.755397  1.863526
16    17    0.112285   -0.598295    0.441057  5.278357  3.334758  3.942624
17    18    0.404041   -0.419881    0.685993  2.262174  2.908882  3.443917
18    19    0.237786   -0.414473    0.058593  1.274063  1.226272  2.286039
19    20    0.039620   -0.313756    0.241547  4.349098  2.018261  1.874973
20    21    0.219178    0.053475    0.329763  1.322484  1.601475  1.243341
21    22    0.123655   -0.100184    0.620977  1.699810  2.114138  1.807387
22    23   -0.104231   -0.641357   -0.616992  2.954169  3.794832  4.723948
23    24    0.231913   -0.636033    0.960572  4.810297  4.562499  5.599178
24    25    0.323317   -0.570275    0.718079  4.283030  2.934791  4.661892
25    26    0.084093   -0.215364   -0.235872  1.784617  1.750174  1.738327
26    27    0.216317   -0.491985    0.541274  2.754158  3.243350  5.048433
27    28   -0.135072   -0.568102   -0.631518  3.865009  2.871865  5.559861
28    29    0.154371   -0.250041   -0.300487  2.492911  2.241517  3.030794
29     0    0.210834    0.241756    0.768261  2.303520  3.567420  4.353459
30    30    0.083210    0.003018   -0.072479  2.052175  1.958703  2.137863

In [9]:
df_testingHalf = pd.DataFrame(columns=['name','mean_LA(x)', 'mean_LA(y)', 'mean_LA(z)', 'sd_LA(x)', 'sd_LA(y)', 'sd_LA(z)'])
directory = os.path.join(os.getcwd(), 'straightWalk\\testing')
x=1
firstTime = True
for filename in os.listdir(directory):
    if (filename.endswith(".csv")):
        filepath = os.path.join(directory, filename)
        testOriginal = pd.read_csv(filepath)
        test=testOriginal.copy()
        
        test = test[['LA(x)','LA(y)','LA(z)']]
        
#         num_rows = test.shape[0]
#         start_row = 0
#         end_row = num_rows/2
#         end_row = math.ceil(end_row)
        num_rows_before = test.shape[0]
    
        fivePercent = num_rows_before * 0.20
        fivePercent = math.ceil(fivePercent)
        
        #test = test.iloc[fivePercent:]
        test = test.iloc[:-fivePercent]
        
        num_rows = test.shape[0]
        
    
        end_row_init = num_rows/2
        end_row_init = math.ceil(end_row_init)
        
        start_row = end_row_init
        end_row=num_rows+1
        
        
        print(fivePercent)   
        # Create a new row of data
        new_row = [filename[:-4],test['LA(x)'][start_row:end_row].mean(),test['LA(y)'][start_row:end_row].mean(),test['LA(z)'][start_row:end_row].mean(),test['LA(x)'][start_row:end_row].std(),test['LA(y)'][start_row:end_row].std(),test['LA(z)'][start_row:end_row].std()]

        # Add the new row to the DataFrame
        df_testingHalf.loc[len(df_testingHalf)] = new_row

2573
3021
2788
2687
3361
2968
2581
2792
3428
3207

In [10]:
df_testingHalf

,name,mean_LA(x),mean_LA(y),mean_LA(z),sd_LA(x),sd_LA(y),sd_LA(z)
0,salwa,0.330951,-0.055073,0.721711,1.769433,2.282727,1.812360
1,seifana,-0.081383,-0.555491,-0.612671,2.940674,3.777669,4.648263
2,seifzakaria,0.300248,-0.830540,1.299292,5.426857,5.187346,6.135177
3,tokhye,0.408067,-0.595023,0.977237,4.019072,2.559430,4.186884
4,waed,0.184359,-0.247349,-0.194242,2.129471,2.030941,1.994224
5,yaseen,0.178212,-0.510891,0.538360,2.404262,3.071452,5.176838
6,youssef,-0.172466,-0.690529,-0.702221,4.369706,3.227007,5.752546
7,youssefemad,0.273260,-0.214847,-0.209197,2.503125,2.411023,3.319298
8,Yusuf,0.134023,0.253596,0.723830,1.787440,2.896722,4.000900
9,zoz,0.028034,-0.029141,-0.093839,1.988717,2.038951,2.179233

In [11]:
label_column = 'name'
label_encoder = LabelEncoder()
df[label_column] = label_encoder.fit_transform(df[label_column])

In [12]:
df

    name  mean_LA(x)  mean_LA(y)  mean_LA(z)  sd_LA(x)  sd_LA(y)  sd_LA(z)
0      1   -0.008369   -0.474101    0.649339  3.024925  2.132049  3.595899
1      2    0.154952    0.072361    0.589874  1.761442  3.494309  2.647615
2      3    0.159531   -0.119066    0.394851  2.491446  1.975684  2.261214
3      4    0.196126   -0.365289   -0.341449  3.047989  3.142557  3.936210
4      5    0.280760   -0.080487   -0.075571  1.602986  1.693906  1.423224
5      6    0.069046    0.040334   -0.082578  1.739220  2.046331  1.802013
6      7    0.101074   -0.690166    0.985332  4.256839  3.403070  4.131561
7      8    0.436401   -0.312833    0.560833  2.245903  3.046908  2.790038
8      9    0.419612   -0.561886   -0.568291  4.135134  4.062516  4.783643
9     10    0.339275   -0.383633    0.940954  2.988183  2.698938  3.666227
10    11    0.380246   -0.230669    0.221587  0.984696  1.236978  1.723102
11    12    0.270039   -0.151416    0.385909  2.401214  2.393142  2.347607
12    13    0.042543   -0.090380    0.559202  1.571209  1.681903  1.520293
13    14    0.203278   -0.097773    0.542394  1.728470  1.966007  1.541572
14    15   -0.137267   -0.553400    0.630288  2.098947  1.725942  1.535644
15    16    0.199388    0.046566    0.456374  1.321090  2.755397  1.863526
16    17    0.112285   -0.598295    0.441057  5.278357  3.334758  3.942624
17    18    0.404041   -0.419881    0.685993  2.262174  2.908882  3.443917
18    19    0.237786   -0.414473    0.058593  1.274063  1.226272  2.286039
19    20    0.039620   -0.313756    0.241547  4.349098  2.018261  1.874973
20    21    0.219178    0.053475    0.329763  1.322484  1.601475  1.243341
21    22    0.123655   -0.100184    0.620977  1.699810  2.114138  1.807387
22    23   -0.104231   -0.641357   -0.616992  2.954169  3.794832  4.723948
23    24    0.231913   -0.636033    0.960572  4.810297  4.562499  5.599178
24    25    0.323317   -0.570275    0.718079  4.283030  2.934791  4.661892
25    26    0.084093   -0.215364   -0.235872  1.784617  1.750174  1.738327
26    27    0.216317   -0.491985    0.541274  2.754158  3.243350  5.048433
27    28   -0.135072   -0.568102   -0.631518  3.865009  2.871865  5.559861
28    29    0.154371   -0.250041   -0.300487  2.492911  2.241517  3.030794
29     0    0.210834    0.241756    0.768261  2.303520  3.567420  4.353459
30    30    0.083210    0.003018   -0.072479  2.052175  1.958703  2.137863

In [13]:
encodedNames = df['name'].tail(len(df_testingHalf)).values
print(encodedNames)

[22 23 24 25 26 27 28 29  0 30]

In [14]:
df_testingHalf['name'] = encodedNames
df_testingHalf

   name  mean_LA(x)  mean_LA(y)  mean_LA(z)  sd_LA(x)  sd_LA(y)  sd_LA(z)
0    22    0.330951   -0.055073    0.721711  1.769433  2.282727  1.812360
1    23   -0.081383   -0.555491   -0.612671  2.940674  3.777669  4.648263
2    24    0.300248   -0.830540    1.299292  5.426857  5.187346  6.135177
3    25    0.408067   -0.595023    0.977237  4.019072  2.559430  4.186884
4    26    0.184359   -0.247349   -0.194242  2.129471  2.030941  1.994224
5    27    0.178212   -0.510891    0.538360  2.404262  3.071452  5.176838
6    28   -0.172466   -0.690529   -0.702221  4.369706  3.227007  5.752546
7    29    0.273260   -0.214847   -0.209197  2.503125  2.411023  3.319298
8     0    0.134023    0.253596    0.723830  1.787440  2.896722  4.000900
9    30    0.028034   -0.029141   -0.093839  1.988717  2.038951  2.179233

In [15]:
y_training_labels = df.pop('name')
y_training_labels

0      1
1      2
2      3
3      4
4      5
5      6
6      7
7      8
8      9
9     10
10    11
11    12
12    13
13    14
14    15
15    16
16    17
17    18
18    19
19    20
20    21
21    22
22    23
23    24
24    25
25    26
26    27
27    28
28    29
29     0
30    30
Name: name, dtype: int64

In [16]:
X_training_dataset = df.copy()

In [17]:
X_testing_dataset = df_testingHalf.copy()

In [18]:
y_testing_labels = X_testing_dataset.pop('name')

In [19]:
X_training_dataset.shape

(31, 6)

In [20]:
y_training_labels.shape

(31,)

In [21]:
X_testing_dataset.shape

(10, 6)

In [22]:
y_testing_labels.shape

(10,)

In [23]:
classifier = svm.SVC(kernel='linear', gamma='auto', C=2)

classifier.fit(X_training_dataset,y_training_labels)

y_testing_predict = classifier.predict(X_testing_dataset)

In [24]:
from sklearn.metrics import classification_report
print(classification_report(y_testing_labels,y_testing_predict))

              precision    recall  f1-score   support

           0       1.00      1.00      1.00         1
          22       1.00      1.00      1.00         1
          23       1.00      1.00      1.00         1
          24       1.00      1.00      1.00         1
          25       1.00      1.00      1.00         1
          26       0.00      0.00      0.00         1
          27       1.00      1.00      1.00         1
          28       1.00      1.00      1.00         1
          29       1.00      1.00      1.00         1
          30       0.50      1.00      0.67         1

    accuracy                           0.90        10
   macro avg       0.85      0.90      0.87        10
weighted avg       0.85      0.90      0.87        10

C:\Users\szizo\anaconda3\lib\site-packages\sklearn\metrics\_classification.py:1344: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
C:\Users\szizo\anaconda3\lib\site-packages\sklearn\metrics\_classification.py:1344: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
C:\Users\szizo\anaconda3\lib\site-packages\sklearn\metrics\_classification.py:1344: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

In [25]:
#Create a svm Classifier
model = svm.SVC(C = 2, # reg paramater
                kernel='linear', #kernel{linear, poly, rbf, sigmoid, precomputed}, default=rbf
               ) # Linear Kernel

#Train the model using the training sets
model.fit(X_training_dataset, y_training_labels)

#Predict the response for test dataset
y_pred = model.predict(X_testing_dataset)

from sklearn import metrics
y_pred = model.predict(X_testing_dataset)
print("Accuracy:",metrics.accuracy_score(y_testing_labels, y_pred))

Accuracy: 0.9

In [26]:
from sklearn import metrics
y_pred = model.predict(X_training_dataset)
print("Accuracy:",metrics.accuracy_score(y_training_labels, y_pred))

Accuracy: 1.0

In [27]:
from sklearn import metrics
y_pred = model.predict(X_testing_dataset)
print("Accuracy:",metrics.accuracy_score(y_testing_labels, y_pred))

Accuracy: 0.9