In [1]:
import tensorflow as tf
from tensorflow.keras import Sequential
from tensorflow.keras.layers import Flatten, Dense, Dropout, BatchNormalization
from tensorflow.keras.layers import Conv1D, MaxPooling1D
from tensorflow.keras.optimizers import Adam
print(tf.__version__)

2.12.0

In [2]:
import pandas as pd
import numpy as np
import os
import math
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, LabelEncoder

In [3]:
def preprocess(df, name):
    df_gyro = pd.DataFrame(columns=['time','GY(x)', 'GY(y)', 'GY(z)'])
    df_acc = pd.DataFrame(columns=['time','LA(x)', 'LA(y)', 'LA(z)'])
    
    df_gyro[['time','GY(x)', 'GY(y)', 'GY(z)']] = df[['TimeStamp','GY(x)', 'GY(y)', 'GY(z)']].copy()
#     df_gyro['name'] = df_gyro['name'].fillna(name)
    df_gyro = df_gyro.dropna()
    df_acc[['time','LA(x)', 'LA(y)', 'LA(z)']] = df[['TimeStamp','LA(x)', 'LA(y)', 'LA(z)']].copy()
#     df_acc['name'] = df_acc['name'].fillna(name)
    df_acc = df_acc.dropna()
    
    df_gyro['time'] = pd.to_datetime(df_gyro['time'], unit='ms')
    df_indexed_gyro = df_gyro.set_index('time')
    resampled_df_gyro = df_indexed_gyro.resample('5ms').mean().interpolate()
    resampled_df_gyro['name'] = name
    resampled_df_gyro.reset_index(inplace=True)
    
    df_acc['time'] = pd.to_datetime(df_acc['time'], unit='ms')
    df_indexed_acc = df_acc.set_index('time')
    resampled_df_acc = df_indexed_acc.resample('5ms').mean().interpolate()
#     resampled_df_acc['name'] = name
    resampled_df_acc.reset_index(inplace=True)
    
    # Inner join: Only the common values in both DataFrames are included in the merged DataFrame (inner_merged_df).
    
    inner_merged_df = pd.merge(resampled_df_acc, resampled_df_gyro, on='time', how='inner')
    
    return inner_merged_df

In [4]:
df_final_sw = pd.DataFrame(columns=['name','time','LA(x)', 'LA(y)', 'LA(z)','GY(x)', 'GY(y)', 'GY(z)'])
# directory = os.path.join(os.getcwd(), 'straightWalk')
directory = "D:/My_Dataset_Renamed/straightWalk"
x=1
firstTime = True
for filename in os.listdir(directory):
    if (filename.endswith(".csv")):
        filepath = os.path.join(directory, filename)
        df_original = pd.read_csv(filepath)
        
#         num_rows_before = df_original.shape[0]
    
#         twenty = num_rows_before * 0.20
#         twenty = math.ceil(twenty)
        
#         #test = test.iloc[fivePercent:]
#         df_original_remove20 = df_original.iloc[:-twenty]
        
         
       
        df_processed = preprocess(df_original, filename[:-4])

        df_final_sw = pd.concat([df_final_sw, df_processed])
        
df_final_sw['name'] = df_final_sw['name'].astype(str) + "_sw"
df_final_sw

,name,time,LA(x),LA(y),LA(z),GY(x),GY(y),GY(z)
0,alibadawy_sw,1970-01-01 00:00:00.000,-0.268265,-0.005538,-0.071094,-0.016798,0.103233,0.033138
1,alibadawy_sw,1970-01-01 00:00:00.005,-0.163861,-0.004340,0.122527,-0.017613,0.110563,0.034157
2,alibadawy_sw,1970-01-01 00:00:00.010,-0.018824,-0.011455,0.059537,-0.018936,0.123697,0.031000
3,alibadawy_sw,1970-01-01 00:00:00.015,0.043948,-0.010231,0.135187,-0.019445,0.136423,0.030288
4,alibadawy_sw,1970-01-01 00:00:00.020,0.106720,-0.009007,0.210836,-0.013744,0.146603,0.027030
...,...,...,...,...,...,...,...,...
5275,zoz_sw,1970-01-01 00:00:26.375,0.032646,0.028275,0.519662,0.135150,-0.022907,0.223494
5276,zoz_sw,1970-01-01 00:00:26.380,-0.478584,-0.296353,0.069982,0.152254,-0.098041,0.268391
5277,zoz_sw,1970-01-01 00:00:26.385,-0.897290,-0.563466,-0.287334,0.155308,-0.165234,0.318786
5278,zoz_sw,1970-01-01 00:00:26.390,-1.035197,-0.655348,-0.474507,0.145534,-0.212269,0.362156
5279,zoz_sw,1970-01-01 00:00:26.395,-0.902300,-0.544031,-0.451925,0.134234,-0.234260,0.385063

In [5]:
df_final_bp = pd.DataFrame(columns=['name','time','LA(x)', 'LA(y)', 'LA(z)','GY(x)', 'GY(y)', 'GY(z)'])
# directory = os.path.join(os.getcwd(), 'straightWalk')
directory = "D:/My_Dataset_Renamed/backpack"
x=1
firstTime = True
for filename in os.listdir(directory):
    if (filename.endswith(".csv")):
        filepath = os.path.join(directory, filename)
        df_original = pd.read_csv(filepath)
        
#         num_rows_before = df_original.shape[0]
    
#         twenty = num_rows_before * 0.20
#         twenty = math.ceil(twenty)
        
#         #test = test.iloc[fivePercent:]
#         df_original_remove20 = df_original.iloc[:-twenty]
        
         
       
        df_processed = preprocess(df_original, filename[:-4])

        df_final_bp = pd.concat([df_final_bp, df_processed])
        
df_final_bp['name'] = df_final_bp['name'].astype(str) + "_bp"
df_final_bp

,name,time,LA(x),LA(y),LA(z),GY(x),GY(y),GY(z)
0,dinaelgendy_bp,1970-01-01 00:00:00.000,-1.893261,1.146352,-4.273222,-0.368646,0.474934,-0.203488
1,dinaelgendy_bp,1970-01-01 00:00:00.005,-2.662200,0.620083,-4.245460,-0.329858,0.490358,-0.265948
2,dinaelgendy_bp,1970-01-01 00:00:00.010,-3.249278,0.504086,-3.678744,-0.209826,0.467909,-0.285647
3,dinaelgendy_bp,1970-01-01 00:00:00.015,-3.462260,0.868586,-2.651723,-0.072996,0.412933,-0.277096
4,dinaelgendy_bp,1970-01-01 00:00:00.020,-2.574140,2.175757,0.207520,0.077883,0.353375,-0.256327
...,...,...,...,...,...,...,...,...
5584,yusuf_bp,1970-01-01 00:00:27.925,-1.028815,0.161180,3.087652,0.452994,0.177731,0.118937
5585,yusuf_bp,1970-01-01 00:00:27.930,-0.959788,0.117171,2.443160,0.482518,0.198551,0.134717
5586,yusuf_bp,1970-01-01 00:00:27.935,-0.632857,-0.021539,0.897996,0.482722,0.190610,0.144287
5587,yusuf_bp,1970-01-01 00:00:27.940,-0.206635,0.006004,-0.099991,0.435381,0.135226,0.117817
5588,yusuf_bp,1970-01-01 00:00:27.945,0.336707,0.063686,-0.883374,0.376740,0.077196,0.084526

In [6]:
df_final_st = pd.DataFrame(columns=['name','time','LA(x)', 'LA(y)', 'LA(z)','GY(x)', 'GY(y)', 'GY(z)'])
# directory = os.path.join(os.getcwd(), 'straightWalk')
directory = "D:/My_Dataset_Renamed/stairs"
x=1
firstTime = True
for filename in os.listdir(directory):
    if (filename.endswith(".csv")):
        filepath = os.path.join(directory, filename)
        df_original = pd.read_csv(filepath)
        
#         num_rows_before = df_original.shape[0]
    
#         twenty = num_rows_before * 0.20
#         twenty = math.ceil(twenty)
        
#         #test = test.iloc[fivePercent:]
#         df_original_remove20 = df_original.iloc[:-twenty]
        
         
       
        df_processed = preprocess(df_original, filename[:-4])

        df_final_st = pd.concat([df_final_st, df_processed])
        
df_final_st['name'] = df_final_st['name'].astype(str) + "_st"
df_final_st

,name,time,LA(x),LA(y),LA(z),GY(x),GY(y),GY(z)
0,ahmedamin_st,1970-01-01 00:00:00.000,1.017512,-0.197282,-0.216393,0.156835,0.085900,-0.139960
1,ahmedamin_st,1970-01-01 00:00:00.005,0.839003,-0.123386,-0.121983,0.155919,0.086817,-0.147291
2,ahmedamin_st,1970-01-01 00:00:00.010,0.632093,-0.073514,-0.174647,0.153781,0.075211,-0.146985
3,ahmedamin_st,1970-01-01 00:00:00.015,0.433957,-0.079890,-0.259684,0.157140,0.060550,-0.145458
4,ahmedamin_st,1970-01-01 00:00:00.020,0.301976,-0.120900,-0.183627,0.169765,0.042530,-0.142607
...,...,...,...,...,...,...,...,...
6011,yusuf_st,1970-01-01 00:00:30.060,1.170174,0.191718,0.244606,-0.037338,0.125758,0.035200
6012,yusuf_st,1970-01-01 00:00:30.065,1.003289,0.199782,-0.175847,-0.074600,0.113541,0.026037
6013,yusuf_st,1970-01-01 00:00:30.070,0.600925,0.281631,-0.559561,-0.121635,0.111709,0.030619
6014,yusuf_st,1970-01-01 00:00:30.075,0.195521,0.349347,-0.914096,-0.179055,0.121177,0.050166
6015,yusuf_st,1970-01-01 00:00:30.080,-0.111762,0.469113,-1.098810,-0.242277,0.153246,0.082235

In [7]:
df_final_h = pd.DataFrame(columns=['name','time','LA(x)', 'LA(y)', 'LA(z)','GY(x)', 'GY(y)', 'GY(z)'])
# directory = os.path.join(os.getcwd(), 'straightWalk')
directory = "D:/My_Dataset_Renamed/hand"
x=1
firstTime = True
for filename in os.listdir(directory):
    if (filename.endswith(".csv")):
        filepath = os.path.join(directory, filename)
        df_original = pd.read_csv(filepath)
        
#         num_rows_before = df_original.shape[0]
    
#         twenty = num_rows_before * 0.20
#         twenty = math.ceil(twenty)
        
#         #test = test.iloc[fivePercent:]
#         df_original_remove20 = df_original.iloc[:-twenty]
        
         
       
        df_processed = preprocess(df_original, filename[:-4])

        df_final_h = pd.concat([df_final_h, df_processed])
        
df_final_h['name'] = df_final_h['name'].astype(str) + "_h"
df_final_h

,name,time,LA(x),LA(y),LA(z),GY(x),GY(y),GY(z)
0,ahmedamir_h,1970-01-01 00:00:00.000,-0.609619,-0.017998,0.810964,-0.500131,0.039476,-1.357990
1,ahmedamir_h,1970-01-01 00:00:00.005,-0.756753,-0.250169,0.878092,-0.588704,0.104531,-1.409301
2,ahmedamir_h,1970-01-01 00:00:00.010,-0.937530,-0.642891,1.007172,-0.691734,0.187912,-1.463056
3,ahmedamir_h,1970-01-01 00:00:00.015,-1.106145,-1.037416,1.167536,-0.785702,0.274080,-1.507342
4,ahmedamir_h,1970-01-01 00:00:00.020,-1.205045,-1.327061,1.267284,-0.871526,0.365541,-1.542466
...,...,...,...,...,...,...,...,...
4835,yusuf_h,1970-01-01 00:00:24.175,0.424837,-0.259660,0.340178,-0.015424,-0.021151,-0.102393
4836,yusuf_h,1970-01-01 00:00:24.180,0.452574,-0.188061,0.120887,-0.044439,-0.018402,-0.104837
4837,yusuf_h,1970-01-01 00:00:24.185,0.449271,-0.198846,-0.057106,-0.086791,-0.016060,-0.106567
4838,yusuf_h,1970-01-01 00:00:24.190,0.442653,-0.248956,-0.151896,-0.115908,-0.010155,-0.109418
4839,yusuf_h,1970-01-01 00:00:24.195,0.341536,-0.301758,-0.155026,-0.129652,-0.014431,-0.110334

In [8]:
# df_final = pd.concat([df_final_sw, df_final_bp, df_final_st, df_final_h], axis=0)
df_final = pd.concat([df_final_sw, df_final_bp], axis=0)
# df_final = df_final_sw.copy()
df_final

,name,time,LA(x),LA(y),LA(z),GY(x),GY(y),GY(z)
0,alibadawy_sw,1970-01-01 00:00:00.000,-0.268265,-0.005538,-0.071094,-0.016798,0.103233,0.033138
1,alibadawy_sw,1970-01-01 00:00:00.005,-0.163861,-0.004340,0.122527,-0.017613,0.110563,0.034157
2,alibadawy_sw,1970-01-01 00:00:00.010,-0.018824,-0.011455,0.059537,-0.018936,0.123697,0.031000
3,alibadawy_sw,1970-01-01 00:00:00.015,0.043948,-0.010231,0.135187,-0.019445,0.136423,0.030288
4,alibadawy_sw,1970-01-01 00:00:00.020,0.106720,-0.009007,0.210836,-0.013744,0.146603,0.027030
...,...,...,...,...,...,...,...,...
5584,yusuf_bp,1970-01-01 00:00:27.925,-1.028815,0.161180,3.087652,0.452994,0.177731,0.118937
5585,yusuf_bp,1970-01-01 00:00:27.930,-0.959788,0.117171,2.443160,0.482518,0.198551,0.134717
5586,yusuf_bp,1970-01-01 00:00:27.935,-0.632857,-0.021539,0.897996,0.482722,0.190610,0.144287
5587,yusuf_bp,1970-01-01 00:00:27.940,-0.206635,0.006004,-0.099991,0.435381,0.135226,0.117817
5588,yusuf_bp,1970-01-01 00:00:27.945,0.336707,0.063686,-0.883374,0.376740,0.077196,0.084526

In [9]:
df_Xtime = df_final.drop(['time'], axis = 1).copy()
df_Xtime.shape

(327436, 7)

In [10]:
label = LabelEncoder()
df_Xtime['label'] = label.fit_transform(df_Xtime['name'])
df_Xtime

,name,LA(x),LA(y),LA(z),GY(x),GY(y),GY(z),label
0,alibadawy_sw,-0.268265,-0.005538,-0.071094,-0.016798,0.103233,0.033138,0
1,alibadawy_sw,-0.163861,-0.004340,0.122527,-0.017613,0.110563,0.034157,0
2,alibadawy_sw,-0.018824,-0.011455,0.059537,-0.018936,0.123697,0.031000,0
3,alibadawy_sw,0.043948,-0.010231,0.135187,-0.019445,0.136423,0.030288,0
4,alibadawy_sw,0.106720,-0.009007,0.210836,-0.013744,0.146603,0.027030,0
...,...,...,...,...,...,...,...,...
5584,yusuf_bp,-1.028815,0.161180,3.087652,0.452994,0.177731,0.118937,56
5585,yusuf_bp,-0.959788,0.117171,2.443160,0.482518,0.198551,0.134717,56
5586,yusuf_bp,-0.632857,-0.021539,0.897996,0.482722,0.190610,0.144287,56
5587,yusuf_bp,-0.206635,0.006004,-0.099991,0.435381,0.135226,0.117817,56
5588,yusuf_bp,0.336707,0.063686,-0.883374,0.376740,0.077196,0.084526,56

In [11]:
label.classes_

array(['alibadawy_sw', 'dinaelgendy_bp', 'dinaelgendy_sw', 'farah_bp',
       'farah_sw', 'ghazaly_bp', 'ghazaly_sw', 'habibatarabay_bp',
       'habibatarabay_sw', 'hananabil_bp', 'hananabil_sw', 'hashem_bp',
       'hashem_sw', 'heidi_bp', 'heidi_sw', 'hussenhany_bp',
       'hussenhany_sw', 'ismail_bp', 'ismail_sw', 'janah_bp', 'janah_sw',
       'karen_bp', 'karen_sw', 'mayar_bp', 'mayar_sw', 'mira_bp',
       'mira_sw', 'moataz_bp', 'moataz_sw', 'mohameddawoud_bp',
       'mohameddawoud_sw', 'mohamedelshoura_bp', 'mohamedelshoura_sw',
       'moustafa_sw', 'nourhan_bp', 'nourhan_sw', 'ola_bp', 'ola_sw',
       'rolla_bp', 'rolla_sw', 'salwa_bp', 'salwa_sw', 'seifana_bp',
       'seifana_sw', 'seifzakaria_bp', 'seifzakaria_sw', 'tokhye_bp',
       'tokhye_sw', 'waed_bp', 'waed_sw', 'yaseen_bp', 'yaseen_sw',
       'youssef_bp', 'youssef_sw', 'youssefemad_bp', 'youssefemad_sw',
       'yusuf_bp', 'yusuf_sw', 'zoz_sw'], dtype=object)

In [12]:
X = df_Xtime[['LA(x)', 'LA(y)', 'LA(z)','GY(x)', 'GY(y)', 'GY(z)']].copy()
y = df_Xtime['label'].copy()

In [13]:
scaler = StandardScaler()
X_transformed = X.copy()
# X_transformed = scaler.fit_transform(X_transformed)

scaled_X = pd.DataFrame(data = X_transformed, columns = ['LA(x)', 'LA(y)', 'LA(z)','GY(x)', 'GY(y)', 'GY(z)'])
scaled_X['label'] = y.values

scaled_X

         LA(x)     LA(y)     LA(z)     GY(x)     GY(y)     GY(z)  label
0    -0.268265 -0.005538 -0.071094 -0.016798  0.103233  0.033138      0
1    -0.163861 -0.004340  0.122527 -0.017613  0.110563  0.034157      0
2    -0.018824 -0.011455  0.059537 -0.018936  0.123697  0.031000      0
3     0.043948 -0.010231  0.135187 -0.019445  0.136423  0.030288      0
4     0.106720 -0.009007  0.210836 -0.013744  0.146603  0.027030      0
...        ...       ...       ...       ...       ...       ...    ...
5584 -1.028815  0.161180  3.087652  0.452994  0.177731  0.118937     56
5585 -0.959788  0.117171  2.443160  0.482518  0.198551  0.134717     56
5586 -0.632857 -0.021539  0.897996  0.482722  0.190610  0.144287     56
5587 -0.206635  0.006004 -0.099991  0.435381  0.135226  0.117817     56
5588  0.336707  0.063686 -0.883374  0.376740  0.077196  0.084526     56

[327436 rows x 7 columns]

In [14]:
num_classes = len(label.classes_)
num_classes

59

In [15]:

df_test = pd.DataFrame(columns=['LAx','LAy','LAz','GYx','GYy','GYz','label'])
df_train = pd.DataFrame(columns=['LAx','LAy','LAz','GYx','GYy','GYz','label'])

for i in range(0,num_classes):
    df_original_i = scaled_X[scaled_X['label'] == i]
    length = len(df_original_i)
    num_rows_70 = int(length*0.7)
    
    train_row = df_original_i[:num_rows_70]
    test_row = df_original_i[num_rows_70:]
    if df_train.empty:
        df_train = train_row
        df_test = test_row
    else:
        df_train = pd.concat([df_train, train_row], ignore_index=True)
        df_test = pd.concat([df_test, test_row], ignore_index=True)
    
    

df_train.shape, df_test.shape

((229175, 7), (98261, 7))

In [16]:
df_train

           LA(x)     LA(y)     LA(z)     GY(x)     GY(y)     GY(z)  label
0      -0.268265 -0.005538 -0.071094 -0.016798  0.103233  0.033138      0
1      -0.163861 -0.004340  0.122527 -0.017613  0.110563  0.034157      0
2      -0.018824 -0.011455  0.059537 -0.018936  0.123697  0.031000      0
3       0.043948 -0.010231  0.135187 -0.019445  0.136423  0.030288      0
4       0.106720 -0.009007  0.210836 -0.013744  0.146603  0.027030      0
...          ...       ...       ...       ...       ...       ...    ...
229170 -0.632624 -1.281633 -1.105242  0.249378 -1.192068  0.163860     58
229171 -0.441176 -1.101094 -1.065564  0.214255 -1.213448  0.148894     58
229172 -0.259552 -0.963933 -0.961346  0.192264 -1.197871  0.129041     58
229173 -0.151862 -0.857123 -0.795906  0.185545 -1.155418  0.102470     58
229174 -0.018345 -0.795216 -0.558895  0.200816 -1.103496  0.067346     58

[229175 rows x 7 columns]

In [17]:
import scipy.stats as stats

Fs = 200
frame_size = Fs*6
hop_size = int(Fs*2)

In [18]:
def get_frames(df, frame_size, hop_size,label):
    N_FEATURES = 6

    frames = []
    labels = []
    
    num_classes = len(label.classes_)
    for j in range (0,num_classes): 
        filtered_df = df[df['label'] == j]
        filtered_df = filtered_df.drop('label', axis = 1)
        for i in range(0, len(filtered_df) - frame_size, hop_size):
            df_frame = filtered_df[i: i + frame_size].copy()
            
            

            name = j

            temp_frames = df_frame.to_numpy()
            
            frames.append(temp_frames)
            labels.append(name)

    frames = np.asarray(frames)
    labels = np.asarray(labels)
    
    return frames, labels

In [19]:
df_framed_train, train_labels = get_frames(df_train,frame_size,hop_size, label)
X_test, y_test = get_frames(df_test,frame_size,hop_size, label)
df_framed_train.shape, X_test.shape

((424, 1200, 6), (99, 1200, 6))

In [20]:
X_train_p1, X_train_p2, y_train_p1, y_train_p2 = train_test_split(df_framed_train, train_labels, test_size = 0.1, random_state = 0)
X_train_p1.shape, X_train_p2.shape, y_train_p1.shape, y_train_p2.shape

((381, 1200, 6), (43, 1200, 6), (381,), (43,))

In [21]:
X_train = np.concatenate((X_train_p1, X_train_p2))
y_train = np.concatenate((y_train_p1, y_train_p2))

In [22]:
X_train.shape, X_test.shape, y_train.shape, y_test.shape

((424, 1200, 6), (99, 1200, 6), (424,), (99,))

In [23]:
# # Get the unique elements and their counts
# unique_elements, counts = np.unique(y_train, return_counts=True)

# # Print the unique elements and their counts
# for element, count in zip(unique_elements, counts):
#     print(f"Number {element} is repeated {count} times")

In [24]:
# chatgpt
model = Sequential()
model.add(Conv1D(filters=32, kernel_size=3, activation='relu', input_shape=X_train[0].shape))
model.add(MaxPooling1D(pool_size=2))
model.add(Conv1D(filters=64, kernel_size=3, activation='relu'))
model.add(MaxPooling1D(pool_size=2))
model.add(Conv1D(filters=128, kernel_size=3, activation='relu'))
model.add(MaxPooling1D(pool_size=2))
model.add(Flatten())
model.add(Dense(256, activation='relu'))
model.add(Dropout(0.5))
model.add(Dense(num_classes, activation='softmax'))

In [25]:
model.summary(line_length = 75)

Model: "sequential"
___________________________________________________________________________
 Layer (type)                    Output Shape                  Param #
===========================================================================
 conv1d (Conv1D)                 (None, 1198, 32)              608

 max_pooling1d (MaxPooling1D)    (None, 599, 32)               0

 conv1d_1 (Conv1D)               (None, 597, 64)               6208

 max_pooling1d_1 (MaxPooling1D)  (None, 298, 64)               0

 conv1d_2 (Conv1D)               (None, 296, 128)              24704

 max_pooling1d_2 (MaxPooling1D)  (None, 148, 128)              0

 flatten (Flatten)               (None, 18944)                 0

 dense (Dense)                   (None, 256)                   4849920

 dropout (Dropout)               (None, 256)                   0

 dense_1 (Dense)                 (None, 59)                    15163

===========================================================================
Total params: 4,896,603
Trainable params: 4,896,603
Non-trainable params: 0
___________________________________________________________________________

In [26]:
model.compile(optimizer=Adam(learning_rate = 0.001), loss=tf.keras.losses.SparseCategoricalCrossentropy(), metrics = ['accuracy'])

In [27]:
early_stopping = tf.keras.callbacks.EarlyStopping(
    monitor = 'val_loss',
    mode = 'auto',
    min_delta = 0,
    patience = 2,
    verbose = 0,
    restore_best_weights = True
)

In [28]:
history = model.fit(X_train, y_train, epochs = 15, verbose=1)

Epoch 1/15
14/14 [==============================] - 2s 64ms/step - loss: 4.8081 - accuracy: 0.0495
Epoch 2/15
14/14 [==============================] - 1s 70ms/step - loss: 3.9234 - accuracy: 0.1863
Epoch 3/15
14/14 [==============================] - 1s 69ms/step - loss: 3.5660 - accuracy: 0.2028
Epoch 4/15
14/14 [==============================] - 1s 67ms/step - loss: 2.7918 - accuracy: 0.3443
Epoch 5/15
14/14 [==============================] - 1s 76ms/step - loss: 1.8711 - accuracy: 0.5330
Epoch 6/15
14/14 [==============================] - 1s 68ms/step - loss: 1.1802 - accuracy: 0.7123
Epoch 7/15
14/14 [==============================] - 1s 72ms/step - loss: 0.6613 - accuracy: 0.8349
Epoch 8/15
14/14 [==============================] - 1s 79ms/step - loss: 0.4145 - accuracy: 0.8868
Epoch 9/15
14/14 [==============================] - 1s 73ms/step - loss: 0.2566 - accuracy: 0.9363
Epoch 10/15
14/14 [==============================] - 1s 72ms/step - loss: 0.1523 - accuracy: 0.9717
Epoch 11/15
14/14 [==============================] - 1s 75ms/step - loss: 0.1138 - accuracy: 0.9623
Epoch 12/15
14/14 [==============================] - 1s 74ms/step - loss: 0.0944 - accuracy: 0.9788
Epoch 13/15
14/14 [==============================] - 1s 74ms/step - loss: 0.0891 - accuracy: 0.9764
Epoch 14/15
14/14 [==============================] - 1s 84ms/step - loss: 0.0893 - accuracy: 0.9788
Epoch 15/15
14/14 [==============================] - 1s 80ms/step - loss: 0.1028 - accuracy: 0.9741

In [29]:
test_loss, test_accuracy = model.evaluate(X_test, y_test)
print('Test loss: {0: .4f}. Test accuracy: {1: .2f}%'.format(test_loss, test_accuracy*100))

4/4 [==============================] - 0s 14ms/step - loss: 3.4936 - accuracy: 0.3636
Test loss:  3.4936. Test accuracy:  36.36%