In [1]:
import tensorflow as tf
from tensorflow.keras import Sequential
from tensorflow.keras.layers import Flatten, Dense, Dropout, BatchNormalization
from tensorflow.keras.layers import Conv1D, MaxPooling1D
from tensorflow.keras.optimizers import Adam
print(tf.__version__)

2.12.0

In [2]:
import pandas as pd
import numpy as np
import os
import math
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, LabelEncoder

In [3]:
def preprocess(df, name):
    df_gyro = pd.DataFrame(columns=['time','GY(x)', 'GY(y)', 'GY(z)'])
    df_acc = pd.DataFrame(columns=['time','LA(x)', 'LA(y)', 'LA(z)'])
    
    df_gyro[['time','GY(x)', 'GY(y)', 'GY(z)']] = df[['TimeStamp','GY(x)', 'GY(y)', 'GY(z)']].copy()
#     df_gyro['name'] = df_gyro['name'].fillna(name)
    df_gyro = df_gyro.dropna()
    df_acc[['time','LA(x)', 'LA(y)', 'LA(z)']] = df[['TimeStamp','LA(x)', 'LA(y)', 'LA(z)']].copy()
#     df_acc['name'] = df_acc['name'].fillna(name)
    df_acc = df_acc.dropna()
    
    df_gyro['time'] = pd.to_datetime(df_gyro['time'], unit='ms')
    df_indexed_gyro = df_gyro.set_index('time')
    resampled_df_gyro = df_indexed_gyro.resample('5ms').mean().interpolate()
    resampled_df_gyro['name'] = name
    resampled_df_gyro.reset_index(inplace=True)
    
    df_acc['time'] = pd.to_datetime(df_acc['time'], unit='ms')
    df_indexed_acc = df_acc.set_index('time')
    resampled_df_acc = df_indexed_acc.resample('5ms').mean().interpolate()
#     resampled_df_acc['name'] = name
    resampled_df_acc.reset_index(inplace=True)
    
    # Inner join: Only the common values in both DataFrames are included in the merged DataFrame (inner_merged_df).
    
    inner_merged_df = pd.merge(resampled_df_acc, resampled_df_gyro, on='time', how='inner')
    
    return inner_merged_df

In [4]:
df_final_sw = pd.DataFrame(columns=['name','time','LA(x)', 'LA(y)', 'LA(z)','GY(x)', 'GY(y)', 'GY(z)'])
df_final_sw_unprocessed = pd.DataFrame(columns=['name','time','LA(x)', 'LA(y)', 'LA(z)','GY(x)', 'GY(y)', 'GY(z)'])
# directory = os.path.join(os.getcwd(), 'straightWalk')
directory = "D:/My_Dataset_Renamed/straightWalk"
x=1
firstTime = True
for filename in os.listdir(directory):
    if (filename.endswith(".csv")):
        filepath = os.path.join(directory, filename)
        df_original = pd.read_csv(filepath)
        
#         num_rows_before = df_original.shape[0]
    
#         twenty = num_rows_before * 0.20
#         twenty = math.ceil(twenty)
        
#         #test = test.iloc[fivePercent:]
#         df_original_remove20 = df_original.iloc[:-twenty]
        
        df_final_sw_unprocessed = pd.concat([df_final_sw_unprocessed, df_original])
           
        df_processed = preprocess(df_original, filename[:-4])

        df_final_sw = pd.concat([df_final_sw, df_processed])
        
df_final_sw['name'] = df_final_sw['name'].astype(str) + "_sw"
df_final_sw

,name,time,LA(x),LA(y),LA(z),GY(x),GY(y),GY(z)
0,alibadawy_sw,1970-01-01 00:00:00.000,-0.268265,-0.005538,-0.071094,-0.016798,0.103233,0.033138
1,alibadawy_sw,1970-01-01 00:00:00.005,-0.163861,-0.004340,0.122527,-0.017613,0.110563,0.034157
2,alibadawy_sw,1970-01-01 00:00:00.010,-0.018824,-0.011455,0.059537,-0.018936,0.123697,0.031000
3,alibadawy_sw,1970-01-01 00:00:00.015,0.043948,-0.010231,0.135187,-0.019445,0.136423,0.030288
4,alibadawy_sw,1970-01-01 00:00:00.020,0.106720,-0.009007,0.210836,-0.013744,0.146603,0.027030
...,...,...,...,...,...,...,...,...
5275,zoz_sw,1970-01-01 00:00:26.375,0.032646,0.028275,0.519662,0.135150,-0.022907,0.223494
5276,zoz_sw,1970-01-01 00:00:26.380,-0.478584,-0.296353,0.069982,0.152254,-0.098041,0.268391
5277,zoz_sw,1970-01-01 00:00:26.385,-0.897290,-0.563466,-0.287334,0.155308,-0.165234,0.318786
5278,zoz_sw,1970-01-01 00:00:26.390,-1.035197,-0.655348,-0.474507,0.145534,-0.212269,0.362156
5279,zoz_sw,1970-01-01 00:00:26.395,-0.902300,-0.544031,-0.451925,0.134234,-0.234260,0.385063

In [5]:
df_final_bp = pd.DataFrame(columns=['name','time','LA(x)', 'LA(y)', 'LA(z)','GY(x)', 'GY(y)', 'GY(z)'])
# directory = os.path.join(os.getcwd(), 'straightWalk')
directory = "D:/My_Dataset_Renamed/backpack"
x=1
firstTime = True
for filename in os.listdir(directory):
    if (filename.endswith(".csv")):
        filepath = os.path.join(directory, filename)
        df_original = pd.read_csv(filepath)
        
#         num_rows_before = df_original.shape[0]
    
#         twenty = num_rows_before * 0.20
#         twenty = math.ceil(twenty)
        
#         #test = test.iloc[fivePercent:]
#         df_original_remove20 = df_original.iloc[:-twenty]
        
         
       
        df_processed = preprocess(df_original, filename[:-4])

        df_final_bp = pd.concat([df_final_bp, df_processed])
        
df_final_bp['name'] = df_final_bp['name'].astype(str) + "_bp"
df_final_bp

,name,time,LA(x),LA(y),LA(z),GY(x),GY(y),GY(z)
0,dinaelgendy_bp,1970-01-01 00:00:00.000,-1.893261,1.146352,-4.273222,-0.368646,0.474934,-0.203488
1,dinaelgendy_bp,1970-01-01 00:00:00.005,-2.662200,0.620083,-4.245460,-0.329858,0.490358,-0.265948
2,dinaelgendy_bp,1970-01-01 00:00:00.010,-3.249278,0.504086,-3.678744,-0.209826,0.467909,-0.285647
3,dinaelgendy_bp,1970-01-01 00:00:00.015,-3.462260,0.868586,-2.651723,-0.072996,0.412933,-0.277096
4,dinaelgendy_bp,1970-01-01 00:00:00.020,-2.574140,2.175757,0.207520,0.077883,0.353375,-0.256327
...,...,...,...,...,...,...,...,...
5584,yusuf_bp,1970-01-01 00:00:27.925,-1.028815,0.161180,3.087652,0.452994,0.177731,0.118937
5585,yusuf_bp,1970-01-01 00:00:27.930,-0.959788,0.117171,2.443160,0.482518,0.198551,0.134717
5586,yusuf_bp,1970-01-01 00:00:27.935,-0.632857,-0.021539,0.897996,0.482722,0.190610,0.144287
5587,yusuf_bp,1970-01-01 00:00:27.940,-0.206635,0.006004,-0.099991,0.435381,0.135226,0.117817
5588,yusuf_bp,1970-01-01 00:00:27.945,0.336707,0.063686,-0.883374,0.376740,0.077196,0.084526

In [6]:
df_final_st = pd.DataFrame(columns=['name','time','LA(x)', 'LA(y)', 'LA(z)','GY(x)', 'GY(y)', 'GY(z)'])
# directory = os.path.join(os.getcwd(), 'straightWalk')
directory = "D:/My_Dataset_Renamed/stairs"
x=1
firstTime = True
for filename in os.listdir(directory):
    if (filename.endswith(".csv")):
        filepath = os.path.join(directory, filename)
        df_original = pd.read_csv(filepath)
        
#         num_rows_before = df_original.shape[0]
    
#         twenty = num_rows_before * 0.20
#         twenty = math.ceil(twenty)
        
#         #test = test.iloc[fivePercent:]
#         df_original_remove20 = df_original.iloc[:-twenty]
        
         
       
        df_processed = preprocess(df_original, filename[:-4])

        df_final_st = pd.concat([df_final_st, df_processed])
        
df_final_st['name'] = df_final_st['name'].astype(str) + "_st"
df_final_st

,name,time,LA(x),LA(y),LA(z),GY(x),GY(y),GY(z)
0,ahmedamin_st,1970-01-01 00:00:00.000,1.017512,-0.197282,-0.216393,0.156835,0.085900,-0.139960
1,ahmedamin_st,1970-01-01 00:00:00.005,0.839003,-0.123386,-0.121983,0.155919,0.086817,-0.147291
2,ahmedamin_st,1970-01-01 00:00:00.010,0.632093,-0.073514,-0.174647,0.153781,0.075211,-0.146985
3,ahmedamin_st,1970-01-01 00:00:00.015,0.433957,-0.079890,-0.259684,0.157140,0.060550,-0.145458
4,ahmedamin_st,1970-01-01 00:00:00.020,0.301976,-0.120900,-0.183627,0.169765,0.042530,-0.142607
...,...,...,...,...,...,...,...,...
6011,yusuf_st,1970-01-01 00:00:30.060,1.170174,0.191718,0.244606,-0.037338,0.125758,0.035200
6012,yusuf_st,1970-01-01 00:00:30.065,1.003289,0.199782,-0.175847,-0.074600,0.113541,0.026037
6013,yusuf_st,1970-01-01 00:00:30.070,0.600925,0.281631,-0.559561,-0.121635,0.111709,0.030619
6014,yusuf_st,1970-01-01 00:00:30.075,0.195521,0.349347,-0.914096,-0.179055,0.121177,0.050166
6015,yusuf_st,1970-01-01 00:00:30.080,-0.111762,0.469113,-1.098810,-0.242277,0.153246,0.082235

In [7]:
df_final_h = pd.DataFrame(columns=['name','time','LA(x)', 'LA(y)', 'LA(z)','GY(x)', 'GY(y)', 'GY(z)'])
# directory = os.path.join(os.getcwd(), 'straightWalk')
directory = "D:/My_Dataset_Renamed/hand"
x=1
firstTime = True
for filename in os.listdir(directory):
    if (filename.endswith(".csv")):
        filepath = os.path.join(directory, filename)
        df_original = pd.read_csv(filepath)
        
#         num_rows_before = df_original.shape[0]
    
#         twenty = num_rows_before * 0.20
#         twenty = math.ceil(twenty)
        
#         #test = test.iloc[fivePercent:]
#         df_original_remove20 = df_original.iloc[:-twenty]
        
         
       
        df_processed = preprocess(df_original, filename[:-4])

        df_final_h = pd.concat([df_final_h, df_processed])
        
df_final_h['name'] = df_final_h['name'].astype(str) + "_h"
df_final_h

,name,time,LA(x),LA(y),LA(z),GY(x),GY(y),GY(z)
0,ahmedamir_h,1970-01-01 00:00:00.000,-0.609619,-0.017998,0.810964,-0.500131,0.039476,-1.357990
1,ahmedamir_h,1970-01-01 00:00:00.005,-0.756753,-0.250169,0.878092,-0.588704,0.104531,-1.409301
2,ahmedamir_h,1970-01-01 00:00:00.010,-0.937530,-0.642891,1.007172,-0.691734,0.187912,-1.463056
3,ahmedamir_h,1970-01-01 00:00:00.015,-1.106145,-1.037416,1.167536,-0.785702,0.274080,-1.507342
4,ahmedamir_h,1970-01-01 00:00:00.020,-1.205045,-1.327061,1.267284,-0.871526,0.365541,-1.542466
...,...,...,...,...,...,...,...,...
4835,yusuf_h,1970-01-01 00:00:24.175,0.424837,-0.259660,0.340178,-0.015424,-0.021151,-0.102393
4836,yusuf_h,1970-01-01 00:00:24.180,0.452574,-0.188061,0.120887,-0.044439,-0.018402,-0.104837
4837,yusuf_h,1970-01-01 00:00:24.185,0.449271,-0.198846,-0.057106,-0.086791,-0.016060,-0.106567
4838,yusuf_h,1970-01-01 00:00:24.190,0.442653,-0.248956,-0.151896,-0.115908,-0.010155,-0.109418
4839,yusuf_h,1970-01-01 00:00:24.195,0.341536,-0.301758,-0.155026,-0.129652,-0.014431,-0.110334

In [8]:
# , df_final_st, df_final_h
df_final = pd.concat([df_final_sw, df_final_bp, df_final_st, df_final_h], axis=0)
# df_final = df_final_sw.copy()
df_final

,name,time,LA(x),LA(y),LA(z),GY(x),GY(y),GY(z)
0,alibadawy_sw,1970-01-01 00:00:00.000,-0.268265,-0.005538,-0.071094,-0.016798,0.103233,0.033138
1,alibadawy_sw,1970-01-01 00:00:00.005,-0.163861,-0.004340,0.122527,-0.017613,0.110563,0.034157
2,alibadawy_sw,1970-01-01 00:00:00.010,-0.018824,-0.011455,0.059537,-0.018936,0.123697,0.031000
3,alibadawy_sw,1970-01-01 00:00:00.015,0.043948,-0.010231,0.135187,-0.019445,0.136423,0.030288
4,alibadawy_sw,1970-01-01 00:00:00.020,0.106720,-0.009007,0.210836,-0.013744,0.146603,0.027030
...,...,...,...,...,...,...,...,...
4835,yusuf_h,1970-01-01 00:00:24.175,0.424837,-0.259660,0.340178,-0.015424,-0.021151,-0.102393
4836,yusuf_h,1970-01-01 00:00:24.180,0.452574,-0.188061,0.120887,-0.044439,-0.018402,-0.104837
4837,yusuf_h,1970-01-01 00:00:24.185,0.449271,-0.198846,-0.057106,-0.086791,-0.016060,-0.106567
4838,yusuf_h,1970-01-01 00:00:24.190,0.442653,-0.248956,-0.151896,-0.115908,-0.010155,-0.109418
4839,yusuf_h,1970-01-01 00:00:24.195,0.341536,-0.301758,-0.155026,-0.129652,-0.014431,-0.110334

In [9]:
label = LabelEncoder()
df_final['name'] = label.fit_transform(df_final['name'])
df_final

,name,time,LA(x),LA(y),LA(z),GY(x),GY(y),GY(z)
0,3,1970-01-01 00:00:00.000,-0.268265,-0.005538,-0.071094,-0.016798,0.103233,0.033138
1,3,1970-01-01 00:00:00.005,-0.163861,-0.004340,0.122527,-0.017613,0.110563,0.034157
2,3,1970-01-01 00:00:00.010,-0.018824,-0.011455,0.059537,-0.018936,0.123697,0.031000
3,3,1970-01-01 00:00:00.015,0.043948,-0.010231,0.135187,-0.019445,0.136423,0.030288
4,3,1970-01-01 00:00:00.020,0.106720,-0.009007,0.210836,-0.013744,0.146603,0.027030
...,...,...,...,...,...,...,...,...
4835,91,1970-01-01 00:00:24.175,0.424837,-0.259660,0.340178,-0.015424,-0.021151,-0.102393
4836,91,1970-01-01 00:00:24.180,0.452574,-0.188061,0.120887,-0.044439,-0.018402,-0.104837
4837,91,1970-01-01 00:00:24.185,0.449271,-0.198846,-0.057106,-0.086791,-0.016060,-0.106567
4838,91,1970-01-01 00:00:24.190,0.442653,-0.248956,-0.151896,-0.115908,-0.010155,-0.109418
4839,91,1970-01-01 00:00:24.195,0.341536,-0.301758,-0.155026,-0.129652,-0.014431,-0.110334

In [10]:
unique_names = df_final['name'].unique()
df_train = pd.DataFrame(columns=['name','time','LA(x)', 'LA(y)', 'LA(z)','GY(x)', 'GY(y)', 'GY(z)'])
df_test = pd.DataFrame(columns=['name','time','LA(x)', 'LA(y)', 'LA(z)','GY(x)', 'GY(y)', 'GY(z)'])
for name in unique_names:
    filtered = df_final[df_final['name'] == name]
    rows_70 = int(len(filtered) * 0.7)
    train = filtered[:rows_70]
    test = filtered[rows_70:]
    df_train = pd.concat([df_train,train])
    df_test = pd.concat([df_test,test]) 
    
df_train = df_train.drop("time", axis=1)    
df_test = df_test.drop("time", axis=1)

In [11]:
df_train.shape, df_test.shape

((332143, 7), (142414, 7))

In [12]:
# X_train_unframed = df_train[['LA(x)', 'LA(y)', 'LA(z)','GY(x)', 'GY(y)', 'GY(z)']].copy()
# y_train_unframed = df_train['name'].copy()

# X_test_unframed = df_test[['LA(x)', 'LA(y)', 'LA(z)','GY(x)', 'GY(y)', 'GY(z)']].copy()
# y_test_unframed = df_test['name'].copy()

In [13]:
import scipy.stats as stats

Fs = 200
frame_size = Fs*3
hop_size = int(Fs*1)

In [14]:
def get_frames(df, frame_size, hop_size, label):
    N_FEATURES = 6

    frames = []
    labels = []
    
    num_classes = len(label.classes_)
    
    for j in range (0,num_classes): 
        filtered_df = df[df['name'] == j]
        filtered_df = filtered_df.drop('name', axis = 1)
        for i in range(0, len(filtered_df) - frame_size, hop_size):
            df_frame = filtered_df[i: i + frame_size].copy()
            
            

            name = j

            temp_frames = df_frame.to_numpy()
            
            frames.append(temp_frames)
            labels.append(name)

    frames = np.asarray(frames)
    labels = np.asarray(labels)
    
    return frames, labels

In [15]:
X_train, y_train = get_frames(df_train,frame_size, hop_size, label)
X_test, y_test = get_frames(df_test,frame_size, hop_size, label)
X_train.shape, y_train.shape, X_test.shape, y_test.shape

((1421, 600, 6), (1421,), (478, 600, 6), (478,))

In [16]:
# Get the unique elements and their counts
unique_elements, counts = np.unique(y_train, return_counts=True)

# Print the unique elements and their counts
for element, count in zip(unique_elements, counts):
    print(f"Number {element} is repeated {count} times")

Number 0 is repeated 26 times
Number 1 is repeated 21 times
Number 2 is repeated 14 times
Number 3 is repeated 14 times
Number 4 is repeated 10 times
Number 5 is repeated 15 times
Number 6 is repeated 12 times
Number 7 is repeated 15 times
Number 8 is repeated 17 times
Number 9 is repeated 16 times
Number 10 is repeated 14 times
Number 11 is repeated 18 times
Number 12 is repeated 15 times
Number 13 is repeated 15 times
Number 14 is repeated 14 times
Number 15 is repeated 16 times
Number 16 is repeated 18 times
Number 17 is repeated 16 times
Number 18 is repeated 17 times
Number 19 is repeated 15 times
Number 20 is repeated 16 times
Number 21 is repeated 14 times
Number 22 is repeated 14 times
Number 23 is repeated 11 times
Number 24 is repeated 10 times
Number 25 is repeated 14 times
Number 26 is repeated 12 times
Number 27 is repeated 16 times
Number 28 is repeated 13 times
Number 29 is repeated 12 times
Number 30 is repeated 14 times
Number 31 is repeated 14 times
Number 32 is repeated 12 times
Number 33 is repeated 13 times
Number 34 is repeated 13 times
Number 35 is repeated 13 times
Number 36 is repeated 13 times
Number 37 is repeated 14 times
Number 38 is repeated 20 times
Number 39 is repeated 17 times
Number 40 is repeated 18 times
Number 41 is repeated 13 times
Number 42 is repeated 12 times
Number 43 is repeated 14 times
Number 44 is repeated 15 times
Number 45 is repeated 16 times
Number 46 is repeated 13 times
Number 47 is repeated 13 times
Number 48 is repeated 17 times
Number 49 is repeated 14 times
Number 50 is repeated 21 times
Number 51 is repeated 16 times
Number 52 is repeated 18 times
Number 53 is repeated 15 times
Number 54 is repeated 19 times
Number 55 is repeated 15 times
Number 56 is repeated 17 times
Number 57 is repeated 16 times
Number 58 is repeated 16 times
Number 59 is repeated 20 times
Number 60 is repeated 15 times
Number 61 is repeated 15 times
Number 62 is repeated 15 times
Number 63 is repeated 16 times
Number 64 is repeated 14 times
Number 65 is repeated 14 times
Number 66 is repeated 16 times
Number 67 is repeated 15 times
Number 68 is repeated 14 times
Number 69 is repeated 12 times
Number 70 is repeated 15 times
Number 71 is repeated 13 times
Number 72 is repeated 15 times
Number 73 is repeated 13 times
Number 74 is repeated 14 times
Number 75 is repeated 12 times
Number 76 is repeated 11 times
Number 77 is repeated 15 times
Number 78 is repeated 13 times
Number 79 is repeated 17 times
Number 80 is repeated 15 times
Number 81 is repeated 17 times
Number 82 is repeated 15 times
Number 83 is repeated 14 times
Number 84 is repeated 11 times
Number 85 is repeated 16 times
Number 86 is repeated 12 times
Number 87 is repeated 13 times
Number 88 is repeated 16 times
Number 89 is repeated 14 times
Number 90 is repeated 17 times
Number 91 is repeated 14 times
Number 92 is repeated 19 times
Number 93 is repeated 17 times
Number 94 is repeated 16 times

In [17]:
num_classes = len(label.classes_)
num_classes

95

In [29]:
# chatgpt
model = Sequential()
model.add(Conv1D(filters=32, kernel_size=3, activation='relu', input_shape=X_train[0].shape))
model.add(MaxPooling1D(pool_size=2))
model.add(Conv1D(filters=64, kernel_size=3, activation='relu'))
model.add(MaxPooling1D(pool_size=2))
model.add(Conv1D(filters=128, kernel_size=3, activation='relu'))
model.add(MaxPooling1D(pool_size=2))
model.add(Flatten())
model.add(Dense(256, activation='relu'))
model.add(Dropout(0.5))
model.add(Dense(num_classes, activation='softmax'))

In [30]:
model.summary(line_length = 75)

Model: "sequential_2"
___________________________________________________________________________
 Layer (type)                    Output Shape                  Param #
===========================================================================
 conv1d_6 (Conv1D)               (None, 598, 32)               608

 max_pooling1d_6 (MaxPooling1D)  (None, 299, 32)               0

 conv1d_7 (Conv1D)               (None, 297, 64)               6208

 max_pooling1d_7 (MaxPooling1D)  (None, 148, 64)               0

 conv1d_8 (Conv1D)               (None, 146, 128)              24704

 max_pooling1d_8 (MaxPooling1D)  (None, 73, 128)               0

 flatten_2 (Flatten)             (None, 9344)                  0

 dense_4 (Dense)                 (None, 256)                   2392320

 dropout_2 (Dropout)             (None, 256)                   0

 dense_5 (Dense)                 (None, 95)                    24415

===========================================================================
Total params: 2,448,255
Trainable params: 2,448,255
Non-trainable params: 0
___________________________________________________________________________

In [31]:
model.compile(optimizer=Adam(learning_rate = 0.0001), loss=tf.keras.losses.SparseCategoricalCrossentropy(), metrics = ['accuracy'])

In [32]:
early_stopping = tf.keras.callbacks.EarlyStopping(
    monitor = 'val_loss',
    mode = 'auto',
    min_delta = 0,
    patience = 2,
    verbose = 0,
    restore_best_weights = True
)

In [33]:
history = model.fit(X_train, y_train, epochs = 25, verbose=1)

Epoch 1/25
45/45 [==============================] - 3s 37ms/step - loss: 4.6433 - accuracy: 0.0063
Epoch 2/25
45/45 [==============================] - 2s 42ms/step - loss: 4.4474 - accuracy: 0.0310
Epoch 3/25
45/45 [==============================] - 2s 37ms/step - loss: 4.3246 - accuracy: 0.0697
Epoch 4/25
45/45 [==============================] - 2s 42ms/step - loss: 4.1106 - accuracy: 0.0964
Epoch 5/25
45/45 [==============================] - 2s 46ms/step - loss: 3.8653 - accuracy: 0.1379
Epoch 6/25
45/45 [==============================] - 2s 45ms/step - loss: 3.5423 - accuracy: 0.2139
Epoch 7/25
45/45 [==============================] - 2s 48ms/step - loss: 3.1894 - accuracy: 0.2843
Epoch 8/25
45/45 [==============================] - 2s 51ms/step - loss: 2.8360 - accuracy: 0.3568
Epoch 9/25
45/45 [==============================] - 2s 52ms/step - loss: 2.5722 - accuracy: 0.4004
Epoch 10/25
45/45 [==============================] - 2s 53ms/step - loss: 2.2706 - accuracy: 0.4673
Epoch 11/25
45/45 [==============================] - 2s 49ms/step - loss: 2.0261 - accuracy: 0.5384
Epoch 12/25
45/45 [==============================] - 2s 49ms/step - loss: 1.8088 - accuracy: 0.5834
Epoch 13/25
45/45 [==============================] - 3s 56ms/step - loss: 1.6679 - accuracy: 0.6207
Epoch 14/25
45/45 [==============================] - 2s 55ms/step - loss: 1.4753 - accuracy: 0.6559
Epoch 15/25
45/45 [==============================] - 2s 55ms/step - loss: 1.3188 - accuracy: 0.6777
Epoch 16/25
45/45 [==============================] - 2s 54ms/step - loss: 1.1752 - accuracy: 0.7403
Epoch 17/25
45/45 [==============================] - 3s 57ms/step - loss: 1.0126 - accuracy: 0.7671
Epoch 18/25
45/45 [==============================] - 3s 59ms/step - loss: 0.9761 - accuracy: 0.7748
Epoch 19/25
45/45 [==============================] - 3s 62ms/step - loss: 0.8759 - accuracy: 0.7959
Epoch 20/25
45/45 [==============================] - 3s 56ms/step - loss: 0.7462 - accuracy: 0.8403
Epoch 21/25
45/45 [==============================] - 3s 60ms/step - loss: 0.6867 - accuracy: 0.8480
Epoch 22/25
45/45 [==============================] - 3s 66ms/step - loss: 0.6349 - accuracy: 0.8571
Epoch 23/25
45/45 [==============================] - 3s 67ms/step - loss: 0.5602 - accuracy: 0.8761
Epoch 24/25
45/45 [==============================] - 3s 63ms/step - loss: 0.5652 - accuracy: 0.8768
Epoch 25/25
45/45 [==============================] - 3s 71ms/step - loss: 0.4759 - accuracy: 0.9008

In [34]:
test_loss, test_accuracy = model.evaluate(X_test, y_test)
print('Test loss: {0: .4f}. Test accuracy: {1: .2f}%'.format(test_loss, test_accuracy*100))

15/15 [==============================] - 1s 16ms/step - loss: 4.5459 - accuracy: 0.2029
Test loss:  4.5459. Test accuracy:  20.29%

In [60]:
arr = np.empty(len(unique_names))
for user in unique_names:
    indices = np.where(y_test == user)[0]
    X_test_user = X_test[indices]
    y_test_user = y_test[indices]
    test_loss, test_accuracy = model.evaluate(X_test_user, y_test_user)
    arr[user] = test_accuracy

1/1 [==============================] - 0s 24ms/step - loss: 3.6929 - accuracy: 0.4000
1/1 [==============================] - 0s 22ms/step - loss: 8.3427 - accuracy: 0.0000e+00
1/1 [==============================] - 0s 22ms/step - loss: 3.5826 - accuracy: 0.1667
1/1 [==============================] - 0s 23ms/step - loss: 6.2270 - accuracy: 0.0000e+00
1/1 [==============================] - 0s 21ms/step - loss: 4.3682 - accuracy: 0.0000e+00
1/1 [==============================] - 0s 22ms/step - loss: 3.0110 - accuracy: 0.1667
1/1 [==============================] - 0s 23ms/step - loss: 5.7602 - accuracy: 0.0000e+00
1/1 [==============================] - 0s 22ms/step - loss: 4.1156 - accuracy: 0.2500
1/1 [==============================] - 0s 23ms/step - loss: 3.6679 - accuracy: 0.2000
1/1 [==============================] - 0s 22ms/step - loss: 7.1312 - accuracy: 0.0000e+00
1/1 [==============================] - 0s 22ms/step - loss: 3.7840 - accuracy: 0.0000e+00
1/1 [==============================] - 0s 23ms/step - loss: 6.1799 - accuracy: 0.0000e+00
1/1 [==============================] - 0s 24ms/step - loss: 4.5360 - accuracy: 0.3333
1/1 [==============================] - 0s 23ms/step - loss: 4.8904 - accuracy: 0.0000e+00
1/1 [==============================] - 0s 22ms/step - loss: 1.6761 - accuracy: 0.5000
1/1 [==============================] - 0s 23ms/step - loss: 0.9460 - accuracy: 0.8333
1/1 [==============================] - 0s 25ms/step - loss: 6.4511 - accuracy: 0.2000
1/1 [==============================] - 0s 25ms/step - loss: 2.0099 - accuracy: 0.3333
1/1 [==============================] - 0s 23ms/step - loss: 3.9087 - accuracy: 0.0000e+00
1/1 [==============================] - 0s 22ms/step - loss: 1.5749 - accuracy: 0.4000
1/1 [==============================] - 0s 23ms/step - loss: 2.3392 - accuracy: 0.5000
1/1 [==============================] - 0s 23ms/step - loss: 5.6464 - accuracy: 0.0000e+00
1/1 [==============================] - 0s 23ms/step - loss: 5.3746 - accuracy: 0.0000e+00
1/1 [==============================] - 0s 23ms/step - loss: 4.7534 - accuracy: 0.0000e+00
1/1 [==============================] - 0s 22ms/step - loss: 5.4362 - accuracy: 0.2500
1/1 [==============================] - 0s 22ms/step - loss: 4.4090 - accuracy: 0.0000e+00
1/1 [==============================] - 0s 21ms/step - loss: 9.7163 - accuracy: 0.0000e+00
1/1 [==============================] - 0s 22ms/step - loss: 9.6392 - accuracy: 0.0000e+00
1/1 [==============================] - 0s 22ms/step - loss: 5.5059 - accuracy: 0.0000e+00
1/1 [==============================] - 0s 22ms/step - loss: 1.5857 - accuracy: 0.3333
1/1 [==============================] - 0s 23ms/step - loss: 4.5201 - accuracy: 0.2000
1/1 [==============================] - 0s 23ms/step - loss: 7.3205 - accuracy: 0.0000e+00
1/1 [==============================] - 0s 22ms/step - loss: 5.4684 - accuracy: 0.0000e+00
1/1 [==============================] - 0s 23ms/step - loss: 11.3162 - accuracy: 0.0000e+00
1/1 [==============================] - 0s 22ms/step - loss: 4.6011 - accuracy: 0.0000e+00
1/1 [==============================] - 0s 22ms/step - loss: 4.4896 - accuracy: 0.1667
1/1 [==============================] - 0s 24ms/step - loss: 1.1571 - accuracy: 0.8000
1/1 [==============================] - 0s 21ms/step - loss: 2.7229 - accuracy: 0.0000e+00
1/1 [==============================] - 0s 22ms/step - loss: 9.8251 - accuracy: 0.0000e+00
1/1 [==============================] - 0s 22ms/step - loss: 7.4015 - accuracy: 0.0000e+00
1/1 [==============================] - 0s 24ms/step - loss: 4.4239 - accuracy: 0.2500
1/1 [==============================] - 0s 24ms/step - loss: 7.2996 - accuracy: 0.0000e+00
1/1 [==============================] - 0s 24ms/step - loss: 5.3152 - accuracy: 0.0000e+00
1/1 [==============================] - 0s 23ms/step - loss: 1.9949 - accuracy: 0.7500
1/1 [==============================] - 0s 21ms/step - loss: 7.9020 - accuracy: 0.0000e+00
1/1 [==============================] - 0s 23ms/step - loss: 3.0365 - accuracy: 0.1667
1/1 [==============================] - 0s 22ms/step - loss: 6.9675 - accuracy: 0.1667
1/1 [==============================] - 0s 22ms/step - loss: 4.1716 - accuracy: 0.2000
1/1 [==============================] - 0s 22ms/step - loss: 1.4737 - accuracy: 0.8000
1/1 [==============================] - 0s 22ms/step - loss: 2.4435 - accuracy: 0.2000
1/1 [==============================] - 0s 23ms/step - loss: 5.3924 - accuracy: 0.0000e+00
1/1 [==============================] - 0s 23ms/step - loss: 5.6377 - accuracy: 0.0000e+00
1/1 [==============================] - 0s 23ms/step - loss: 10.7156 - accuracy: 0.0000e+00
1/1 [==============================] - 0s 22ms/step - loss: 5.9299 - accuracy: 0.0000e+00
1/1 [==============================] - 0s 24ms/step - loss: 1.3240 - accuracy: 0.6000
1/1 [==============================] - 0s 22ms/step - loss: 6.6085 - accuracy: 0.0000e+00
1/1 [==============================] - 0s 22ms/step - loss: 5.8880 - accuracy: 0.2500
1/1 [==============================] - 0s 24ms/step - loss: 0.9238 - accuracy: 0.8333
1/1 [==============================] - 0s 23ms/step - loss: 4.1146 - accuracy: 0.2000
1/1 [==============================] - 0s 23ms/step - loss: 5.9245 - accuracy: 0.0000e+00
1/1 [==============================] - 0s 22ms/step - loss: 2.9345 - accuracy: 0.4000
1/1 [==============================] - 0s 22ms/step - loss: 3.4776 - accuracy: 0.3333
1/1 [==============================] - 0s 22ms/step - loss: 3.0455 - accuracy: 0.4000
1/1 [==============================] - 0s 22ms/step - loss: 1.7889 - accuracy: 0.6000
1/1 [==============================] - 0s 21ms/step - loss: 2.8191 - accuracy: 0.0000e+00
1/1 [==============================] - 0s 21ms/step - loss: 1.9427 - accuracy: 0.5000
1/1 [==============================] - 0s 22ms/step - loss: 7.7902 - accuracy: 0.1667
1/1 [==============================] - 0s 23ms/step - loss: 2.5285 - accuracy: 0.2857
1/1 [==============================] - 0s 21ms/step - loss: 7.4970 - accuracy: 0.0000e+00
1/1 [==============================] - 0s 22ms/step - loss: 5.1933 - accuracy: 0.0000e+00
1/1 [==============================] - 0s 24ms/step - loss: 7.6129 - accuracy: 0.0000e+00
1/1 [==============================] - 0s 22ms/step - loss: 5.7947 - accuracy: 0.1667
1/1 [==============================] - 0s 23ms/step - loss: 8.6766 - accuracy: 0.0000e+00
1/1 [==============================] - 0s 23ms/step - loss: 5.5952 - accuracy: 0.2000
1/1 [==============================] - 0s 23ms/step - loss: 5.3835 - accuracy: 0.0000e+00
1/1 [==============================] - 0s 23ms/step - loss: 1.5396 - accuracy: 0.7500
1/1 [==============================] - 0s 23ms/step - loss: 2.5271 - accuracy: 0.4000
1/1 [==============================] - 0s 23ms/step - loss: 3.3380 - accuracy: 0.2000
1/1 [==============================] - 0s 23ms/step - loss: 3.8620 - accuracy: 0.0000e+00
1/1 [==============================] - 0s 24ms/step - loss: 3.5328 - accuracy: 0.0000e+00
1/1 [==============================] - 0s 24ms/step - loss: 1.4457 - accuracy: 0.7500
1/1 [==============================] - 0s 23ms/step - loss: 2.8888 - accuracy: 0.2500
1/1 [==============================] - 0s 24ms/step - loss: 4.0990 - accuracy: 0.0000e+00
1/1 [==============================] - 0s 22ms/step - loss: 3.3331 - accuracy: 0.2500
1/1 [==============================] - 0s 21ms/step - loss: 2.7505 - accuracy: 0.2500
1/1 [==============================] - 0s 26ms/step - loss: 4.8994 - accuracy: 0.0000e+00
1/1 [==============================] - 0s 25ms/step - loss: 1.9399 - accuracy: 0.6000
1/1 [==============================] - 0s 24ms/step - loss: 2.4936 - accuracy: 0.6667
1/1 [==============================] - 0s 22ms/step - loss: 7.3545 - accuracy: 0.0000e+00
1/1 [==============================] - 0s 23ms/step - loss: 4.6542 - accuracy: 0.0000e+00
1/1 [==============================] - 0s 22ms/step - loss: 3.8073 - accuracy: 0.0000e+00
1/1 [==============================] - 0s 23ms/step - loss: 1.7881 - accuracy: 0.2500
1/1 [==============================] - 0s 22ms/step - loss: 5.2651 - accuracy: 0.0000e+00

1/1 [==============================] - 0s 22ms/step - loss: 1.6450 - accuracy: 0.6667
1/1 [==============================] - 0s 22ms/step - loss: 3.0075 - accuracy: 0.2000

In [64]:
zero_acc = np.where(arr == 0)[0]
zero_acc

array([ 2,  4,  6,  7,  9, 12, 13, 16, 20, 22, 23, 24, 25, 27, 31, 33, 35,
       36, 37, 38, 39, 43, 44, 49, 54, 59, 60, 62, 65, 67, 68, 69, 70, 72,
       73, 74, 75, 76, 77, 79, 82, 83, 85, 86, 89, 92], dtype=int64)

In [80]:
indices = np.where(y_test == 2)[0]
X_test_user = X_test[indices]
y_test_user = y_test[indices]
test_loss, test_accuracy = model.evaluate(X_test_user, y_test_user)

1/1 [==============================] - 0s 25ms/step - loss: 5.9245 - accuracy: 0.0000e+00

In [82]:
X_test_user.shape

(5, 600, 6)

In [68]:
zero_names = label.inverse_transform(zero_acc)
print(zero_names)

['alibadawy_st' 'dinaelgendy_bp' 'dinaelgendy_sw' 'farah_bp' 'ghazaly_bp'
 'ghazaly_sw' 'habibatarabay_bp' 'habibatarabay_sw' 'hashem_h' 'hashem_sw'
 'heidi_bp' 'heidi_h' 'heidi_st' 'hussenhany_bp' 'ismail_bp' 'ismail_sw'
 'janah_sw' 'judy_h' 'karen_bp' 'karen_sw' 'mayar_bp' 'mira_sw'
 'moataz_bp' 'mohameddawoud_h' 'mohamedelshoura_st' 'nourhan_st'
 'nourhan_sw' 'ola_h' 'rolla_h' 'salwa_bp' 'salwa_h' 'salwa_sw'
 'seifana_bp' 'seifana_sw' 'seifzakaria_bp' 'seifzakaria_sw' 'tokhye_bp'
 'tokhye_h' 'tokhye_st' 'waed_sw' 'yaseen_sw' 'youssef_bp' 'youssef_st'
 'youssef_sw' 'youssefemad_sw' 'yusuf_st']

In [78]:
sw=[]
bp=[]
st=[]
h=[]
for name in zero_names:
    if (name[-2:] == 'sw'):
        sw.append(name)
    if (name[-2:] == 'bp'):
        bp.append(name)
    if (name[-2:] == 'st'):
        st.append(name)
    if (name[-1:] == 'h'):
        h.append(name)

In [79]:
len(sw), len(bp), len(st), len(h)

(16, 15, 7, 8)

In [85]:
notzero_acc = np.where(arr != 0)[0]
notzero_acc

array([ 0,  1,  3,  5,  8, 10, 11, 14, 15, 17, 18, 19, 21, 26, 28, 29, 30,
       32, 34, 40, 41, 42, 45, 46, 47, 48, 50, 51, 52, 53, 55, 56, 57, 58,
       61, 63, 64, 66, 71, 78, 80, 81, 84, 87, 88, 90, 91, 93, 94],
      dtype=int64)