In [1]:
import os
import pandas as pd
import numpy as np

In [2]:
def resampling (df):
  

    # Convert the timestamp column to datetime format
    df['timestamp'] = pd.to_datetime(df['timestamp'], unit='ns')

    # Set the timestamp column as the DataFrame index
    df = df.set_index('timestamp')

    # Resample the DataFrame to a frequency of 100 Hz
    df_resampled = df.resample('10L').mean().interpolate()  # '10L' represents 10 milliseconds (100 Hz)

    # Print the resampled DataFrame
    return df_resampled

In [3]:

root_folder = "IDNet_dataset (1)"
gyro_final = pd.DataFrame(columns=[ 'gyroscope_x_data', 'gyroscope_y_data','gyroscope_z_data','name'])
acc_final = pd.DataFrame(columns=[ 'linearaccelerometer_x_data', 'linearaccelerometer_y_data','linearaccelerometer_z_data','name'])

# Get a list of all subdirectories in the root folder
subdirectories = [f for f in os.listdir(root_folder) if os.path.isdir(os.path.join(root_folder, f))]


# Iterate over the subdirectories
for directory in subdirectories:
    if directory.endswith("_w003"):  # Filter based on folder name
        folder_path = os.path.join(root_folder, directory)
        gyro_file = os.path.join(folder_path, directory + "_gyroscope.log")
        accel_file = os.path.join(folder_path, directory + "_linearaccelerometer.log")

        # Check if both log files exist in the current directory
        if os.path.isfile(gyro_file) and os.path.isfile(accel_file):
            # Read the log files into pandas DataFrames
            gyro_data = pd.read_csv(gyro_file, sep='\t')
            accel_data = pd.read_csv(accel_file, sep='\t')
            
            
            accel_data = accel_data.rename(columns={'linearaccelerometer_timestamp': 'timestamp'})
            gyro_data = gyro_data.rename(columns={'gyroscope_timestamp': 'timestamp'})
            
            
            
            acc_resampled = resampling(accel_data)
            gyro_resampled = resampling(gyro_data)
           
            gyro_resampled['name']= directory[1:4]
            acc_resampled['name']= directory[1:4]

            # Concatenate the dataframes
            gyro_final = pd.concat([gyro_final, gyro_resampled], axis=0)
            acc_final = pd.concat([acc_final, acc_resampled], axis=0)

In [4]:
# Define a dictionary with old column names as keys and new column names as values
new_column_names_gyro = { 'gyroscope_x_data': 'GYx', 'gyroscope_y_data': 'GYy','gyroscope_z_data': 'GYz'}
new_column_names_acc = { 'linearaccelerometer_x_data': 'LAx', 'linearaccelerometer_y_data': 'LAy', 'linearaccelerometer_z_data': 'LAz'}
# Rename the columns
gyro_final = gyro_final.rename(columns=new_column_names_gyro)            
acc_final = acc_final.rename(columns = new_column_names_acc)

In [5]:
gyro_final = gyro_final.reset_index()
gyro_final = gyro_final.rename(columns={'index': 'timestamp'})


acc_final = acc_final.reset_index()
acc_final = acc_final.rename(columns={'index': 'timestamp'})

In [6]:
gyro_final['timestamp'] = gyro_final['timestamp'].astype(np.int64)
acc_final['timestamp'] = acc_final['timestamp'].astype(np.int64)

In [7]:
acc_final

              timestamp       LAx       LAy       LAz name
0       923709910000000  1.897600 -0.948629  0.806025  001
1       923709920000000  1.822922 -0.512797  0.658468  001
2       923709930000000  1.571234  0.178020 -0.381536  001
3       923709940000000  1.347669  0.698209 -1.856026  001
4       923709950000000  1.484009  0.825438 -3.034368  001
...                 ...       ...       ...       ...  ...
522637  341510670000000 -0.620103 -0.362797 -0.729507  046
522638  341510680000000 -0.670146 -0.440084 -0.736829  046
522639  341510690000000 -0.770983 -0.401897 -0.680590  046
522640  341510700000000 -0.890548 -0.338852 -0.699221  046
522641  341510710000000 -1.047220 -0.314173 -0.796266  046

[522642 rows x 5 columns]

In [8]:
gyro_final

              timestamp       GYx       GYy       GYz name
0       923709910000000 -0.913564 -0.310084 -0.732483  001
1       923709920000000 -0.688972 -0.554016 -0.731674  001
2       923709930000000 -0.285202 -0.868012 -0.680359  001
3       923709940000000  0.160721 -1.098297 -0.580788  001
4       923709950000000  0.557777 -1.373177 -0.456787  001
...                 ...       ...       ...       ...  ...
522642  341510670000000 -0.252296 -1.060326  0.087654  046
522643  341510680000000 -0.247093 -1.092079  0.098557  046
522644  341510690000000 -0.236572 -1.106628  0.115730  046
522645  341510700000000 -0.220085 -1.100670  0.133514  046
522646  341510710000000 -0.208298 -1.078903  0.147453  046

[522647 rows x 5 columns]

In [9]:
names = acc_final['name'].unique()
names

array(['001', '002', '010', '018', '021', '023', '024', '025', '028',
       '033', '036', '040', '043', '046'], dtype=object)

In [10]:
merged_final = pd.DataFrame(columns=["timestamp",'LAx','LAy','LAz','GYx','GYy','GYz','name'])
for name in names:
    acc_named = acc_final[acc_final['name'] == name]
    gyro_named = gyro_final[gyro_final['name'] == name]
    acc_named = acc_named.drop('name', axis=1)
    merged_df = pd.merge(acc_named, gyro_named, on='timestamp', how='inner')
    merged_final = pd.concat([merged_final, merged_df], axis=0)

In [11]:
merged_final

,timestamp,LAx,LAy,LAz,GYx,GYy,GYz,name
0,923709910000000,1.897600,-0.948629,0.806025,-0.913564,-0.310084,-0.732483,001
1,923709920000000,1.822922,-0.512797,0.658468,-0.688972,-0.554016,-0.731674,001
2,923709930000000,1.571234,0.178020,-0.381536,-0.285202,-0.868012,-0.680359,001
3,923709940000000,1.347669,0.698209,-1.856026,0.160721,-1.098297,-0.580788,001
4,923709950000000,1.484009,0.825438,-3.034368,0.557777,-1.373177,-0.456787,001
...,...,...,...,...,...,...,...,...
29985,341510670000000,-0.620103,-0.362797,-0.729507,-0.252296,-1.060326,0.087654,046
29986,341510680000000,-0.670146,-0.440084,-0.736829,-0.247093,-1.092079,0.098557,046
29987,341510690000000,-0.770983,-0.401897,-0.680590,-0.236572,-1.106628,0.115730,046
29988,341510700000000,-0.890548,-0.338852,-0.699221,-0.220085,-1.100670,0.133514,046
29989,341510710000000,-1.047220,-0.314173,-0.796266,-0.208298,-1.078903,0.147453,046

In [12]:
unique_names = merged_final['name'].nunique()
unique_names

14

In [13]:
# gyro_final.to_csv("gyro_u1-50_w001_resampled.csv", index = False)
# acc_final.to_csv("acc_u1-50_w001_resampled.csv", index = False)

In [15]:
# merged_final.to_csv('merged_14u_w003_resampled.csv', index = False)