In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn import svm
from sklearn.model_selection import train_test_split
import seaborn as sns # for plotting.
import os
import math

In [2]:
filepath = "D:/online dataset csv files preprocessing/acc_u1-50_w001_Not_Resampled.csv"
acc_all = pd.read_csv(filepath)
filepath = "D:/online dataset csv files preprocessing/gyro_u1-50_w001_Not_Resampled.csv"
gyro_all = pd.read_csv(filepath)

In [3]:
acc_all

                     time       LAx       LAy       LAz   name
0         924313418840345  1.242813 -0.160181 -0.900440  u001_
1         924313427141127  1.117246 -0.187921 -1.529893  u001_
2         924313435441908  0.912846 -0.192566 -1.570929  u001_
3         924313443742689  0.874858 -0.227208 -1.453511  u001_
4         924313452043470  0.834022 -0.282976 -1.292671  u001_
...                   ...       ...       ...       ...    ...
2825998  1368327123986926 -9.502644 -7.178468  4.246279  u050_
2825999  1368327133986926 -9.443804 -7.698220  3.059675  u050_
2826000  1368327143986926 -8.345459 -6.805815  1.853457  u050_
2826001  1368327153986926 -7.580540 -5.629017  1.559257  u050_
2826002  1368327161986926 -6.952915 -4.589512  1.755390  u050_

[2826003 rows x 5 columns]

In [4]:
acc_all['name'] = acc_all['name'].str.replace('u', '').str.rstrip('_')
acc_all['name'] = pd.to_numeric(acc_all['name'])
gyro_all['name'] = gyro_all['name'].str.replace('u', '').str.rstrip('_')
gyro_all['name'] = pd.to_numeric(gyro_all['name'])

In [5]:
acc_all

                     time       LAx       LAy       LAz  name
0         924313418840345  1.242813 -0.160181 -0.900440     1
1         924313427141127  1.117246 -0.187921 -1.529893     1
2         924313435441908  0.912846 -0.192566 -1.570929     1
3         924313443742689  0.874858 -0.227208 -1.453511     1
4         924313452043470  0.834022 -0.282976 -1.292671     1
...                   ...       ...       ...       ...   ...
2825998  1368327123986926 -9.502644 -7.178468  4.246279    50
2825999  1368327133986926 -9.443804 -7.698220  3.059675    50
2826000  1368327143986926 -8.345459 -6.805815  1.853457    50
2826001  1368327153986926 -7.580540 -5.629017  1.559257    50
2826002  1368327161986926 -6.952915 -4.589512  1.755390    50

[2826003 rows x 5 columns]

In [6]:
df_train = pd.DataFrame(columns=['name','mean_LA(x)', 'mean_LA(y)', 'mean_LA(z)', 'mean_GY(x)', 'mean_GY(y)', 'mean_GY(z)','sd_LA(x)', 'sd_LA(y)', 'sd_LA(z)', 'sd_GY(x)', 'sd_GY(y)', 'sd_GY(z)'])
df_test = pd.DataFrame(columns=['name','mean_LA(x)', 'mean_LA(y)', 'mean_LA(z)', 'mean_GY(x)', 'mean_GY(y)', 'mean_GY(z)','sd_LA(x)', 'sd_LA(y)', 'sd_LA(z)', 'sd_GY(x)', 'sd_GY(y)', 'sd_GY(z)'])
for i in range(1,51):
    acc = acc_all[acc_all['name'] == i].copy()
    gyro = gyro_all[gyro_all['name'] == i].copy()
    
    split_index_70 = int(len(acc) * 0.7)
    acc_train = acc[:split_index_70]
    acc_test = acc[split_index_70:]
    
    split_index_70 = int(len(gyro) * 0.7)
    gyro_train = gyro[:split_index_70]
    gyro_test = gyro[split_index_70:]
    
    new_row_train = [i
                     ,acc_train['LAx'].mean(),acc_train['LAy'].mean(),acc_train['LAz'].mean()
                     ,gyro_train['GYx'].mean(),gyro_train['GYy'].mean(),gyro_train['GYz'].mean()
                     ,acc_train['LAx'].std(),acc_train['LAy'].std(),acc_train['LAz'].std() 
                     ,gyro_train['GYx'].std(),gyro_train['GYy'].std(),gyro_train['GYz'].std()]
    new_row_test = [i
                     ,acc_test['LAx'].mean(),acc_test['LAy'].mean(),acc_test['LAz'].mean()
                     ,gyro_test['GYx'].mean(),gyro_test['GYy'].mean(),gyro_test['GYz'].mean()
                     ,acc_test['LAx'].std(),acc_test['LAy'].std(),acc_test['LAz'].std() 
                     ,gyro_test['GYx'].std(),gyro_test['GYy'].std(),gyro_test['GYz'].std()]
    
    df_train.loc[len(df_train)] = new_row_train
    df_test.loc[len(df_test)] = new_row_test

In [7]:
df_test.head()

,name,mean_LA(x),mean_LA(y),mean_LA(z),mean_GY(x),mean_GY(y),mean_GY(z),sd_LA(x),sd_LA(y),sd_LA(z),sd_GY(x),sd_GY(y),sd_GY(z)
0,1.0,0.884337,-0.528283,-0.388659,0.004240,0.049887,-0.241864,6.212633,3.317717,7.728217,2.009703,2.074459,1.084470
1,2.0,0.239880,0.220350,-0.364183,-0.020392,-0.074030,0.092639,2.699772,4.139514,3.125339,1.420048,1.319407,0.539891
2,3.0,-0.120209,-0.651118,-0.524615,-0.031325,-0.010861,0.080147,4.218492,4.376285,4.248626,1.290476,1.165814,0.928221
3,4.0,0.176223,0.293602,-0.202458,0.082023,0.036152,0.093303,2.663884,4.054560,2.488146,1.169993,1.189107,1.083061
4,5.0,0.069990,0.767684,0.603189,-0.103932,-0.000067,-0.047304,4.847768,3.338798,4.959431,1.622057,3.328324,1.481780

In [8]:
df_train.head()

,name,mean_LA(x),mean_LA(y),mean_LA(z),mean_GY(x),mean_GY(y),mean_GY(z),sd_LA(x),sd_LA(y),sd_LA(z),sd_GY(x),sd_GY(y),sd_GY(z)
0,1.0,0.912219,-0.496569,-0.269880,0.029076,0.120798,-0.223477,6.191960,3.301765,7.943391,2.406442,2.019557,1.094727
1,2.0,0.225618,0.228294,-0.399571,-0.025602,-0.066054,0.097635,2.700401,4.142465,3.067013,1.400888,1.316591,0.541228
2,3.0,-0.133215,-0.610354,-0.507978,-0.027348,-0.009354,0.072770,4.023933,4.121085,4.041300,1.240939,1.121319,0.877030
3,4.0,0.208582,0.263587,-0.133140,0.082889,0.012977,0.086359,2.610947,3.907611,2.374377,1.143456,1.156084,1.065640
4,5.0,0.092299,0.743074,0.401356,-0.088432,-0.007265,-0.043509,5.029793,3.560982,5.049744,1.410510,3.355550,1.401692

In [16]:
df_train.shape, df_test.shape

((50, 13), (50, 13))

In [9]:
df_train_shuffled = df_train.sample(frac=1)  # frac=1 shuffles all rows
df_train_shuffled = df_train_shuffled.reset_index(drop=True)

df_test_shuffled = df_test.sample(frac=1)  # frac=1 shuffles all rows
df_test_shuffled = df_test_shuffled.reset_index(drop=True)

In [10]:
X_training_dataset = df_train_shuffled.copy()
X_testing_dataset = df_test_shuffled.copy()

y_training_labels = X_training_dataset.pop('name')
y_testing_labels = X_testing_dataset.pop('name')

In [11]:
X_training_dataset.shape

(50, 12)

In [12]:
y_training_labels.shape

(50,)

In [13]:
X_testing_dataset.shape

(50, 12)

In [14]:
y_testing_labels.shape

(50,)

In [15]:
#Create a svm Classifier
model = svm.SVC(C = 2, # reg paramater
                kernel='linear', #kernel{â€˜linearâ€™, â€˜polyâ€™, â€˜rbfâ€™, â€˜sigmoidâ€™, â€˜precomputedâ€™}, default=â€™rbfâ€™
               ) # Linear Kernel

#Train the model using the training sets
model.fit(X_training_dataset, y_training_labels)


from sklearn import metrics
y_pred = model.predict(X_testing_dataset)
print("Accuracy:",metrics.accuracy_score(y_testing_labels, y_pred))

Accuracy: 0.86