In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn import svm
from sklearn.model_selection import train_test_split
import seaborn as sns # for plotting.
import os
import math

In [2]:
filepath = "D:/online dataset csv files preprocessing/merged_u1-50_w001_resampled.csv"
df_original = pd.read_csv(filepath)

In [3]:
df_original

,timestamp,LAx,LAy,LAz,GYx,GYy,GYz,name
0,924313410000000,1.242813,-0.160181,-0.900440,0.194931,-0.004242,0.163818,1
1,924313420000000,1.117246,-0.187921,-1.529893,0.236458,0.076378,0.133293,1
2,924313430000000,0.912846,-0.192566,-1.570929,0.226074,0.012253,0.108246,1
3,924313440000000,0.874858,-0.227208,-1.453511,0.139336,-0.050667,0.085030,1
4,924313450000000,0.834022,-0.282976,-1.292671,-0.013374,-0.109314,0.078308,1
...,...,...,...,...,...,...,...,...
2055043,1368327120000000,-9.502644,-7.178468,4.246279,-2.834417,-0.120428,-0.987857,50
2055044,1368327130000000,-9.443804,-7.698220,3.059675,-2.638940,0.561997,-0.947715,50
2055045,1368327140000000,-8.345459,-6.805815,1.853457,-2.483606,1.225222,-0.954696,50
2055046,1368327150000000,-7.580540,-5.629017,1.559257,-2.429500,1.769765,-1.003565,50
2055047,1368327160000000,-6.952915,-4.589512,1.755390,-2.426010,2.099633,-0.980876,50

In [4]:
import scipy.stats as stats

Fs = 100
frame_size = Fs*6 
hop_size = Fs*6

In [5]:
df_framed = pd.DataFrame(columns=['name','mean_LA(x)', 'mean_LA(y)', 'mean_LA(z)', 'mean_GY(x)', 'mean_GY(y)', 'mean_GY(z)','sd_LA(x)', 'sd_LA(y)', 'sd_LA(z)', 'sd_GY(x)', 'sd_GY(y)', 'sd_GY(z)'])
def get_frames(df, frame_size, hop_size):
    
    last_value = df['name'].iloc[-1]
    for j in range (1,last_value+1): 
        filtered_df = df[df['name'] == j]
        filtered_df = filtered_df.drop('name', axis = 1)
        for i in range(0, len(filtered_df) - frame_size, hop_size):
            frame = filtered_df[i: i + frame_size]
            
            new_row = [j
                       ,frame['LAx'].mean(),frame['LAy'].mean(),frame['LAz'].mean()
                       ,frame['GYx'].mean(),frame['GYy'].mean(),frame['GYz'].mean()
                       ,frame['LAx'].std(),frame['LAy'].std(),frame['LAz'].std() 
                       ,frame['GYx'].std(),frame['GYy'].std(),frame['GYz'].std()]


            
            df_framed.loc[len(df_framed)] = new_row
            

    return df_framed

In [6]:
df_framed = get_frames(df_original,frame_size,hop_size)
df_framed

,name,mean_LA(x),mean_LA(y),mean_LA(z),mean_GY(x),mean_GY(y),mean_GY(z),sd_LA(x),sd_LA(y),sd_LA(z),sd_GY(x),sd_GY(y),sd_GY(z)
0,1.0,-0.393514,-0.231500,0.259489,-0.136301,0.808596,0.365505,1.607389,2.060070,1.568203,0.718605,1.529494,0.896005
1,1.0,0.977162,0.184893,0.420916,0.122411,0.074673,-0.052158,3.646011,3.797331,5.745886,1.701895,2.413996,0.913987
2,1.0,0.868165,-0.320024,-0.093038,0.056006,0.094478,-0.247336,5.704045,3.265884,7.824760,2.248331,1.981881,0.899200
3,1.0,0.651436,-0.042524,0.129633,-0.075404,0.128380,-0.227428,5.328452,3.304334,7.017526,2.167866,1.981418,0.940454
4,1.0,1.084959,-0.319923,-0.195518,0.028891,0.026057,-0.323677,6.076534,3.319325,7.810847,2.432790,2.110462,1.009521
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3386,50.0,-1.020807,-1.171016,1.729468,-0.003498,0.020327,-0.145425,3.422165,3.917514,4.235285,1.613613,1.298959,0.921226
3387,50.0,-1.184758,-1.406637,1.470867,0.128532,0.110669,-0.030852,3.626671,3.994308,4.448399,1.530076,1.284954,0.988766
3388,50.0,-0.831645,-0.959262,1.536584,-0.042937,-0.211504,-0.157940,3.738687,4.264228,4.597193,1.632034,1.387187,1.007491
3389,50.0,-0.732001,-0.887330,1.679462,0.130207,0.025768,-0.080390,3.218597,3.704232,4.181007,1.579482,1.185527,0.788691
3390,50.0,-1.112609,-0.923574,1.790004,-0.037886,0.016173,-0.150160,3.509659,4.391247,4.704499,1.732431,1.365022,0.826021

In [7]:
occurrences = df_framed['name'].value_counts()
print(occurrences.mean())

67.82

In [8]:
X = df_framed.drop('name', axis=1)  # Features (all columns except the target)
y = df_framed['name']  # Labels

In [9]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.3, random_state = 0, stratify = y)

In [10]:
X_test

,mean_LA(x),mean_LA(y),mean_LA(z),mean_GY(x),mean_GY(y),mean_GY(z),sd_LA(x),sd_LA(y),sd_LA(z),sd_GY(x),sd_GY(y),sd_GY(z)
2791,0.032808,0.084429,0.492218,0.014154,0.109416,-0.088328,2.282674,3.954795,2.760941,1.621210,1.371114,0.392743
1344,0.436311,0.408686,0.150534,-0.027129,-0.010014,-0.045379,4.374253,3.803833,2.732415,1.188413,0.959498,1.233315
1685,0.072158,0.218204,-0.040309,0.020882,0.041122,-0.076128,2.618717,3.863606,4.688277,2.077339,1.864611,0.459489
2365,-0.069151,0.306956,-0.468544,0.024394,-0.116034,0.063477,2.792696,4.727350,3.048325,1.407140,0.983063,0.970491
2934,-0.463939,1.018977,0.576783,-0.012898,-0.053009,-0.162819,5.116019,5.393772,6.898083,2.513474,2.317359,0.745154
...,...,...,...,...,...,...,...,...,...,...,...,...
1795,-0.733358,0.324924,0.335402,0.017717,0.014639,-0.039271,2.459946,4.011541,3.402639,1.733694,1.789364,0.713528
2315,0.054131,0.239604,-0.585784,-0.088441,0.069896,0.092954,2.455233,3.245223,2.944788,1.268048,1.443167,0.507223
1023,0.082773,-0.496494,0.778392,0.039468,-0.013466,-0.056825,1.995192,2.658237,1.673530,0.660690,0.680777,0.430462
885,2.141197,-3.293617,-2.856944,2.646694,-1.440498,1.308344,0.064612,0.008232,0.053304,0.004747,0.007586,0.004809
1308,0.311933,0.246650,-0.179357,-0.061094,0.085043,0.177408,2.719709,4.414195,3.035740,1.669995,1.238904,0.754021

In [11]:
occurrences = y_test.value_counts()
print(occurrences.mean())

20.36

In [12]:
X_train.shape, X_test.shape

((2373, 12), (1018, 12))

In [13]:
y_train.shape, y_test.shape

((2373,), (1018,))

In [14]:
#Create a svm Classifier
model = svm.SVC(C = 4, # reg paramater
                kernel='linear', #kernel{â€˜linearâ€™, â€˜polyâ€™, â€˜rbfâ€™, â€˜sigmoidâ€™, â€˜precomputedâ€™}, default=â€™rbfâ€™
               ) # Linear Kernel

#Train the model using the training sets
model.fit(X_train, y_train)


from sklearn import metrics
y_pred = model.predict(X_test)
print("Accuracy:",metrics.accuracy_score(y_test, y_pred))

Accuracy: 0.899803536345776

In [15]:
# df_framed.to_csv('MEAN_SD_FRAMED_RESAMPLED_merged_u1-50_w001_resampled.csv', index = False)

# Get W003 and test on it while training on W001 only

In [16]:
# filepath = "merged_u1-50_w001_resampled.csv"
filepath_3 = "D:/online dataset csv files preprocessing/merged_14u_w003_resampled.csv"

df_original_3 = pd.read_csv(filepath_3)
df_original_3

,timestamp,LAx,LAy,LAz,GYx,GYy,GYz,name
0,923709910000000,1.897600,-0.948629,0.806025,-0.913564,-0.310084,-0.732483,1
1,923709920000000,1.822922,-0.512797,0.658468,-0.688972,-0.554016,-0.731674,1
2,923709930000000,1.571234,0.178020,-0.381536,-0.285202,-0.868012,-0.680359,1
3,923709940000000,1.347669,0.698209,-1.856026,0.160721,-1.098297,-0.580788,1
4,923709950000000,1.484009,0.825438,-3.034368,0.557777,-1.373177,-0.456787,1
...,...,...,...,...,...,...,...,...
522631,341510670000000,-0.620103,-0.362797,-0.729507,-0.252296,-1.060326,0.087654,46
522632,341510680000000,-0.670146,-0.440084,-0.736829,-0.247093,-1.092079,0.098557,46
522633,341510690000000,-0.770983,-0.401897,-0.680590,-0.236572,-1.106628,0.115730,46
522634,341510700000000,-0.890548,-0.338852,-0.699221,-0.220085,-1.100670,0.133514,46
522635,341510710000000,-1.047220,-0.314173,-0.796266,-0.208298,-1.078903,0.147453,46

In [17]:
import scipy.stats as stats

Fs = 100
frame_size = Fs*6 
hop_size = Fs*6

In [18]:
df_framed_3 = pd.DataFrame(columns=['name','mean_LA(x)', 'mean_LA(y)', 'mean_LA(z)', 'mean_GY(x)', 'mean_GY(y)', 'mean_GY(z)','sd_LA(x)', 'sd_LA(y)', 'sd_LA(z)', 'sd_GY(x)', 'sd_GY(y)', 'sd_GY(z)'])
def get_frames(df, frame_size, hop_size):
    
    last_value = df['name'].iloc[-1]
    for j in range (1,last_value+1): 
        filtered_df = df[df['name'] == j]
        filtered_df = filtered_df.drop('name', axis = 1)
        for i in range(0, len(filtered_df) - frame_size, hop_size):
            frame = filtered_df[i: i + frame_size]
            
            new_row = [j
                       ,frame['LAx'].mean(),frame['LAy'].mean(),frame['LAz'].mean()
                       ,frame['GYx'].mean(),frame['GYy'].mean(),frame['GYz'].mean()
                       ,frame['LAx'].std(),frame['LAy'].std(),frame['LAz'].std() 
                       ,frame['GYx'].std(),frame['GYy'].std(),frame['GYz'].std()]


            
            df_framed_3.loc[len(df_framed_3)] = new_row
            

    return df_framed_3

In [19]:
df_framed_3 = get_frames(df_original_3,frame_size,hop_size)
df_framed_3

,name,mean_LA(x),mean_LA(y),mean_LA(z),mean_GY(x),mean_GY(y),mean_GY(z),sd_LA(x),sd_LA(y),sd_LA(z),sd_GY(x),sd_GY(y),sd_GY(z)
0,1.0,0.386382,-0.307456,0.086360,0.173614,0.094792,0.102852,1.087673,0.819187,1.965811,0.751560,1.078213,0.834807
1,1.0,0.616286,-0.005281,-0.275717,-0.046517,-0.211134,0.203568,2.364446,2.792034,2.924015,1.323089,1.555531,1.146584
2,1.0,0.742758,-0.029682,0.064751,0.065861,0.089636,-0.359625,4.267055,3.059911,4.778589,2.503316,1.682258,0.832699
3,1.0,0.578810,0.092361,-0.198499,-0.015073,0.200684,-0.232927,4.646758,2.479645,5.152368,2.402857,1.818941,0.810417
4,1.0,0.810320,-0.227920,-0.033022,0.062758,0.102051,-0.445138,4.350163,3.503677,4.915313,2.851151,1.576465,1.001127
...,...,...,...,...,...,...,...,...,...,...,...,...,...
859,46.0,0.705186,0.417872,1.283388,-0.101281,-0.006908,-0.252925,3.284774,5.370082,4.012125,1.494974,2.045627,1.474941
860,46.0,0.546467,0.552892,1.236854,-0.090232,0.009600,-0.242734,3.123523,5.114980,3.469226,1.452325,2.101214,1.514667
861,46.0,0.468091,0.667156,1.248859,-0.200968,-0.174246,-0.116602,3.281968,5.118347,3.858200,1.422056,2.030406,1.441745
862,46.0,0.717560,0.564407,1.258654,-0.101314,0.012781,-0.254750,3.040752,5.081103,3.740740,1.446703,2.018316,1.431768
863,46.0,0.472654,0.502299,1.015858,-0.131753,-0.120984,-0.137299,2.692983,3.929297,3.039848,1.244480,1.629621,1.240662

In [20]:
occurrences_3 = df_framed_3['name'].value_counts()
print(occurrences_3.mean())

61.714285714285715

In [21]:
X_3 = df_framed_3.drop('name', axis=1)  # Features (all columns except the target)
y_3 = df_framed_3['name']  # Labels

In [22]:
X_3.shape, y_3.shape

((864, 12), (864,))

In [23]:
from sklearn import metrics
y_pred = model.predict(X_3)
print("Accuracy:",metrics.accuracy_score(y_3, y_pred))

Accuracy: 0.36921296296296297

In [24]:
# df_framed_3.to_csv('MEAN_SD_FRAMED_RESAMPLED_merged_14u_w003_resampled.csv', index = False)