In [1]:
import pandas as pd
import numpy as np
import os
import math
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, LabelEncoder
from sklearn.metrics import accuracy_score

In [2]:
import xgboost as xgb
from sklearn.model_selection import GridSearchCV

In [3]:
def preprocess(df, name):
    df_gyro = pd.DataFrame(columns=['time','GY(x)', 'GY(y)', 'GY(z)'])
    df_acc = pd.DataFrame(columns=['time','LA(x)', 'LA(y)', 'LA(z)'])
    
    df_gyro[['time','GY(x)', 'GY(y)', 'GY(z)']] = df[['TimeStamp','GY(x)', 'GY(y)', 'GY(z)']].copy()
#     df_gyro['name'] = df_gyro['name'].fillna(name)
    df_gyro = df_gyro.dropna()
    df_acc[['time','LA(x)', 'LA(y)', 'LA(z)']] = df[['TimeStamp','LA(x)', 'LA(y)', 'LA(z)']].copy()
#     df_acc['name'] = df_acc['name'].fillna(name)
    df_acc = df_acc.dropna()
    
    df_gyro['time'] = pd.to_datetime(df_gyro['time'], unit='ms')
    df_indexed_gyro = df_gyro.set_index('time')
    resampled_df_gyro = df_indexed_gyro.resample('5ms').mean().interpolate()
    resampled_df_gyro['name'] = name
    resampled_df_gyro.reset_index(inplace=True)
    
    df_acc['time'] = pd.to_datetime(df_acc['time'], unit='ms')
    df_indexed_acc = df_acc.set_index('time')
    resampled_df_acc = df_indexed_acc.resample('5ms').mean().interpolate()
#     resampled_df_acc['name'] = name
    resampled_df_acc.reset_index(inplace=True)
    
    # Inner join: Only the common values in both DataFrames are included in the merged DataFrame (inner_merged_df).
    
    inner_merged_df = pd.merge(resampled_df_acc, resampled_df_gyro, on='time', how='inner')
    
    return inner_merged_df

In [4]:
df_final_sw = pd.DataFrame(columns=['name','time','LA(x)', 'LA(y)', 'LA(z)','GY(x)', 'GY(y)', 'GY(z)'])
# directory = os.path.join(os.getcwd(), 'straightWalk')
directory = "D:/My_Dataset_Renamed/straightWalk"
x=1
firstTime = True
for filename in os.listdir(directory):
    if (filename.endswith(".csv")):
        filepath = os.path.join(directory, filename)
        df_original = pd.read_csv(filepath)
        
#         num_rows_before = df_original.shape[0]
    
#         twenty = num_rows_before * 0.20
#         twenty = math.ceil(twenty)
        
#         #test = test.iloc[fivePercent:]
#         df_original_remove20 = df_original.iloc[:-twenty]
        
         
       
        df_processed = preprocess(df_original, filename[:-4])

        df_final_sw = pd.concat([df_final_sw, df_processed])
        
# df_final_sw['name'] = df_final_sw['name'].astype(str) + "_sw"
df_final_sw

,name,time,LA(x),LA(y),LA(z),GY(x),GY(y),GY(z)
0,alibadawy,1970-01-01 00:00:00.000,-0.268265,-0.005538,-0.071094,-0.016798,0.103233,0.033138
1,alibadawy,1970-01-01 00:00:00.005,-0.163861,-0.004340,0.122527,-0.017613,0.110563,0.034157
2,alibadawy,1970-01-01 00:00:00.010,-0.018824,-0.011455,0.059537,-0.018936,0.123697,0.031000
3,alibadawy,1970-01-01 00:00:00.015,0.043948,-0.010231,0.135187,-0.019445,0.136423,0.030288
4,alibadawy,1970-01-01 00:00:00.020,0.106720,-0.009007,0.210836,-0.013744,0.146603,0.027030
...,...,...,...,...,...,...,...,...
5275,zoz,1970-01-01 00:00:26.375,0.032646,0.028275,0.519662,0.135150,-0.022907,0.223494
5276,zoz,1970-01-01 00:00:26.380,-0.478584,-0.296353,0.069982,0.152254,-0.098041,0.268391
5277,zoz,1970-01-01 00:00:26.385,-0.897290,-0.563466,-0.287334,0.155308,-0.165234,0.318786
5278,zoz,1970-01-01 00:00:26.390,-1.035197,-0.655348,-0.474507,0.145534,-0.212269,0.362156
5279,zoz,1970-01-01 00:00:26.395,-0.902300,-0.544031,-0.451925,0.134234,-0.234260,0.385063

In [5]:
df_final_bp = pd.DataFrame(columns=['name','time','LA(x)', 'LA(y)', 'LA(z)','GY(x)', 'GY(y)', 'GY(z)'])
# directory = os.path.join(os.getcwd(), 'straightWalk')
directory = "D:/My_Dataset_Renamed/backpack"
x=1
firstTime = True
for filename in os.listdir(directory):
    if (filename.endswith(".csv")):
        filepath = os.path.join(directory, filename)
        df_original = pd.read_csv(filepath)
        
#         num_rows_before = df_original.shape[0]
    
#         twenty = num_rows_before * 0.20
#         twenty = math.ceil(twenty)
        
#         #test = test.iloc[fivePercent:]
#         df_original_remove20 = df_original.iloc[:-twenty]
        
         
       
        df_processed = preprocess(df_original, filename[:-4])

        df_final_bp = pd.concat([df_final_bp, df_processed])
        
# df_final_bp['name'] = df_final_bp['name'].astype(str) + "_bp"
df_final_bp

,name,time,LA(x),LA(y),LA(z),GY(x),GY(y),GY(z)
0,dinaelgendy,1970-01-01 00:00:00.000,-1.893261,1.146352,-4.273222,-0.368646,0.474934,-0.203488
1,dinaelgendy,1970-01-01 00:00:00.005,-2.662200,0.620083,-4.245460,-0.329858,0.490358,-0.265948
2,dinaelgendy,1970-01-01 00:00:00.010,-3.249278,0.504086,-3.678744,-0.209826,0.467909,-0.285647
3,dinaelgendy,1970-01-01 00:00:00.015,-3.462260,0.868586,-2.651723,-0.072996,0.412933,-0.277096
4,dinaelgendy,1970-01-01 00:00:00.020,-2.574140,2.175757,0.207520,0.077883,0.353375,-0.256327
...,...,...,...,...,...,...,...,...
5584,yusuf,1970-01-01 00:00:27.925,-1.028815,0.161180,3.087652,0.452994,0.177731,0.118937
5585,yusuf,1970-01-01 00:00:27.930,-0.959788,0.117171,2.443160,0.482518,0.198551,0.134717
5586,yusuf,1970-01-01 00:00:27.935,-0.632857,-0.021539,0.897996,0.482722,0.190610,0.144287
5587,yusuf,1970-01-01 00:00:27.940,-0.206635,0.006004,-0.099991,0.435381,0.135226,0.117817
5588,yusuf,1970-01-01 00:00:27.945,0.336707,0.063686,-0.883374,0.376740,0.077196,0.084526

In [6]:
df_final_st = pd.DataFrame(columns=['name','time','LA(x)', 'LA(y)', 'LA(z)','GY(x)', 'GY(y)', 'GY(z)'])
# directory = os.path.join(os.getcwd(), 'straightWalk')
directory = "D:/My_Dataset_Renamed/stairs"
x=1
firstTime = True
for filename in os.listdir(directory):
    if (filename.endswith(".csv")):
        filepath = os.path.join(directory, filename)
        df_original = pd.read_csv(filepath)
        
#         num_rows_before = df_original.shape[0]
    
#         twenty = num_rows_before * 0.20
#         twenty = math.ceil(twenty)
        
#         #test = test.iloc[fivePercent:]
#         df_original_remove20 = df_original.iloc[:-twenty]
        
         
       
        df_processed = preprocess(df_original, filename[:-4])

        df_final_st = pd.concat([df_final_st, df_processed])
        
df_final_st['name'] = df_final_st['name'].astype(str) + "_st"
df_final_st

,name,time,LA(x),LA(y),LA(z),GY(x),GY(y),GY(z)
0,ahmedamin_st,1970-01-01 00:00:00.000,1.017512,-0.197282,-0.216393,0.156835,0.085900,-0.139960
1,ahmedamin_st,1970-01-01 00:00:00.005,0.839003,-0.123386,-0.121983,0.155919,0.086817,-0.147291
2,ahmedamin_st,1970-01-01 00:00:00.010,0.632093,-0.073514,-0.174647,0.153781,0.075211,-0.146985
3,ahmedamin_st,1970-01-01 00:00:00.015,0.433957,-0.079890,-0.259684,0.157140,0.060550,-0.145458
4,ahmedamin_st,1970-01-01 00:00:00.020,0.301976,-0.120900,-0.183627,0.169765,0.042530,-0.142607
...,...,...,...,...,...,...,...,...
6011,yusuf_st,1970-01-01 00:00:30.060,1.170174,0.191718,0.244606,-0.037338,0.125758,0.035200
6012,yusuf_st,1970-01-01 00:00:30.065,1.003289,0.199782,-0.175847,-0.074600,0.113541,0.026037
6013,yusuf_st,1970-01-01 00:00:30.070,0.600925,0.281631,-0.559561,-0.121635,0.111709,0.030619
6014,yusuf_st,1970-01-01 00:00:30.075,0.195521,0.349347,-0.914096,-0.179055,0.121177,0.050166
6015,yusuf_st,1970-01-01 00:00:30.080,-0.111762,0.469113,-1.098810,-0.242277,0.153246,0.082235

In [7]:
df_final_h = pd.DataFrame(columns=['name','time','LA(x)', 'LA(y)', 'LA(z)','GY(x)', 'GY(y)', 'GY(z)'])
# directory = os.path.join(os.getcwd(), 'straightWalk')
directory = "D:/My_Dataset_Renamed/hand"
x=1
firstTime = True
for filename in os.listdir(directory):
    if (filename.endswith(".csv")):
        filepath = os.path.join(directory, filename)
        df_original = pd.read_csv(filepath)
        
#         num_rows_before = df_original.shape[0]
    
#         twenty = num_rows_before * 0.20
#         twenty = math.ceil(twenty)
        
#         #test = test.iloc[fivePercent:]
#         df_original_remove20 = df_original.iloc[:-twenty]
        
         
       
        df_processed = preprocess(df_original, filename[:-4])

        df_final_h = pd.concat([df_final_h, df_processed])
        
df_final_h['name'] = df_final_h['name'].astype(str) + "_h"
df_final_h

,name,time,LA(x),LA(y),LA(z),GY(x),GY(y),GY(z)
0,ahmedamir_h,1970-01-01 00:00:00.000,-0.609619,-0.017998,0.810964,-0.500131,0.039476,-1.357990
1,ahmedamir_h,1970-01-01 00:00:00.005,-0.756753,-0.250169,0.878092,-0.588704,0.104531,-1.409301
2,ahmedamir_h,1970-01-01 00:00:00.010,-0.937530,-0.642891,1.007172,-0.691734,0.187912,-1.463056
3,ahmedamir_h,1970-01-01 00:00:00.015,-1.106145,-1.037416,1.167536,-0.785702,0.274080,-1.507342
4,ahmedamir_h,1970-01-01 00:00:00.020,-1.205045,-1.327061,1.267284,-0.871526,0.365541,-1.542466
...,...,...,...,...,...,...,...,...
4835,yusuf_h,1970-01-01 00:00:24.175,0.424837,-0.259660,0.340178,-0.015424,-0.021151,-0.102393
4836,yusuf_h,1970-01-01 00:00:24.180,0.452574,-0.188061,0.120887,-0.044439,-0.018402,-0.104837
4837,yusuf_h,1970-01-01 00:00:24.185,0.449271,-0.198846,-0.057106,-0.086791,-0.016060,-0.106567
4838,yusuf_h,1970-01-01 00:00:24.190,0.442653,-0.248956,-0.151896,-0.115908,-0.010155,-0.109418
4839,yusuf_h,1970-01-01 00:00:24.195,0.341536,-0.301758,-0.155026,-0.129652,-0.014431,-0.110334

In [8]:
df_final = pd.concat([df_final_sw, df_final_bp, df_final_st, df_final_h], axis=0)
# df_final = pd.concat([df_final_sw, df_final_bp], axis=0)
# df_final = df_final_sw.copy()
df_final

,name,time,LA(x),LA(y),LA(z),GY(x),GY(y),GY(z)
0,alibadawy,1970-01-01 00:00:00.000,-0.268265,-0.005538,-0.071094,-0.016798,0.103233,0.033138
1,alibadawy,1970-01-01 00:00:00.005,-0.163861,-0.004340,0.122527,-0.017613,0.110563,0.034157
2,alibadawy,1970-01-01 00:00:00.010,-0.018824,-0.011455,0.059537,-0.018936,0.123697,0.031000
3,alibadawy,1970-01-01 00:00:00.015,0.043948,-0.010231,0.135187,-0.019445,0.136423,0.030288
4,alibadawy,1970-01-01 00:00:00.020,0.106720,-0.009007,0.210836,-0.013744,0.146603,0.027030
...,...,...,...,...,...,...,...,...
4835,yusuf_h,1970-01-01 00:00:24.175,0.424837,-0.259660,0.340178,-0.015424,-0.021151,-0.102393
4836,yusuf_h,1970-01-01 00:00:24.180,0.452574,-0.188061,0.120887,-0.044439,-0.018402,-0.104837
4837,yusuf_h,1970-01-01 00:00:24.185,0.449271,-0.198846,-0.057106,-0.086791,-0.016060,-0.106567
4838,yusuf_h,1970-01-01 00:00:24.190,0.442653,-0.248956,-0.151896,-0.115908,-0.010155,-0.109418
4839,yusuf_h,1970-01-01 00:00:24.195,0.341536,-0.301758,-0.155026,-0.129652,-0.014431,-0.110334

In [9]:
df_Xtime = df_final.drop(['time'], axis = 1).copy()
df_Xtime.shape

(514706, 7)

In [10]:
label = LabelEncoder()
df_Xtime['label'] = label.fit_transform(df_Xtime['name'])
df_Xtime

,name,LA(x),LA(y),LA(z),GY(x),GY(y),GY(z),label
0,alibadawy,-0.268265,-0.005538,-0.071094,-0.016798,0.103233,0.033138,2
1,alibadawy,-0.163861,-0.004340,0.122527,-0.017613,0.110563,0.034157,2
2,alibadawy,-0.018824,-0.011455,0.059537,-0.018936,0.123697,0.031000,2
3,alibadawy,0.043948,-0.010231,0.135187,-0.019445,0.136423,0.030288,2
4,alibadawy,0.106720,-0.009007,0.210836,-0.013744,0.146603,0.027030,2
...,...,...,...,...,...,...,...,...
4835,yusuf_h,0.424837,-0.259660,0.340178,-0.015424,-0.021151,-0.102393,65
4836,yusuf_h,0.452574,-0.188061,0.120887,-0.044439,-0.018402,-0.104837,65
4837,yusuf_h,0.449271,-0.198846,-0.057106,-0.086791,-0.016060,-0.106567,65
4838,yusuf_h,0.442653,-0.248956,-0.151896,-0.115908,-0.010155,-0.109418,65
4839,yusuf_h,0.341536,-0.301758,-0.155026,-0.129652,-0.014431,-0.110334,65

In [11]:
df_original = df_Xtime.drop("name", axis=1).copy()
# df_original

In [12]:
len(df_final_sw)

155302

In [13]:
num_classes = len(label.classes_)
num_classes

68

In [14]:

df_test = pd.DataFrame(columns=['LAx','LAy','LAz','GYx','GYy','GYz','label'])
df_train = pd.DataFrame(columns=['LAx','LAy','LAz','GYx','GYy','GYz','label'])

for i in range(0,num_classes):
    df_original_i = df_original[df_original['label'] == i]
    length = len(df_original_i)
    num_rows_70 = int(length*0.7)
    
    train_row = df_original_i[:num_rows_70]
    test_row = df_original_i[num_rows_70:]
    if df_train.empty:
        df_train = train_row
        df_test = test_row
    else:
        df_train = pd.concat([df_train, train_row], ignore_index=True)
        df_test = pd.concat([df_test, test_row], ignore_index=True)
    
    

df_train.shape, df_test.shape

((360262, 7), (154444, 7))

In [15]:
df_train

           LA(x)     LA(y)     LA(z)     GY(x)     GY(y)     GY(z)  label
0       1.017512 -0.197282 -0.216393  0.156835  0.085900 -0.139960      0
1       0.839003 -0.123386 -0.121983  0.155919  0.086817 -0.147291      0
2       0.632093 -0.073514 -0.174647  0.153781  0.075211 -0.146985      0
3       0.433957 -0.079890 -0.259684  0.157140  0.060550 -0.145458      0
4       0.301976 -0.120900 -0.183627  0.169765  0.042530 -0.142607      0
...          ...       ...       ...       ...       ...       ...    ...
360257 -0.632624 -1.281633 -1.105242  0.249378 -1.192068  0.163860     67
360258 -0.441176 -1.101094 -1.065564  0.214255 -1.213448  0.148894     67
360259 -0.259552 -0.963933 -0.961346  0.192264 -1.197871  0.129041     67
360260 -0.151862 -0.857123 -0.795906  0.185545 -1.155418  0.102470     67
360261 -0.018345 -0.795216 -0.558895  0.200816 -1.103496  0.067346     67

[360262 rows x 7 columns]

In [16]:
# X_train_notFramed = df_train[['LA(x)', 'LA(y)', 'LA(z)','GY(x)', 'GY(y)', 'GY(z)']].copy()
# y_train_notFramed = df_train['label'].copy()

# X_test_notFramed = df_test[['LA(x)', 'LA(y)', 'LA(z)','GY(x)', 'GY(y)', 'GY(z)']].copy()
# y_test_notFramed = df_test['label'].copy()
# X_train_notFramed.shape, X_test_notFramed.shape, y_train_notFramed.shape, y_test_notFramed.shape

In [17]:
# scaler = StandardScaler()
# X_transformed = X.copy()
# X_transformed = scaler.fit_transform(X_transformed)

# scaled_X = pd.DataFrame(data = X_transformed, columns = ['LA(x)', 'LA(y)', 'LA(z)','GY(x)', 'GY(y)', 'GY(z)'])
# scaled_X['label'] = y.values

# scaled_X

In [18]:
import scipy.stats as stats

Fs = 200
frame_size = int(Fs*3)
hop_size = int(Fs*1)

In [19]:
#!!!!! Manually Change last_value(num_values)

def get_frames(df, frame_size, hop_size):
    df_framed = pd.DataFrame(columns=['name','mean_LA(x)', 'mean_LA(y)', 'mean_LA(z)', 'mean_GY(x)', 'mean_GY(y)', 'mean_GY(z)','sd_LA(x)', 'sd_LA(y)', 'sd_LA(z)', 'sd_GY(x)', 'sd_GY(y)', 'sd_GY(z)'])
    
    last_value =  len(label.classes_)
    for j in range (0,last_value): 
        filtered_df = df[df['label'] == j]
        filtered_df = filtered_df.drop('label', axis = 1)
        for i in range(0, len(filtered_df) - frame_size, hop_size):
            frame = filtered_df[i: i + frame_size]

            new_row = [j
                       ,frame['LA(x)'].mean(), frame['LA(y)'].mean(), frame['LA(z)'].mean(),
                       frame['GY(x)'].mean(), frame['GY(y)'].mean(), frame['GY(z)'].mean(),
                       frame['LA(x)'].std(), frame['LA(y)'].std(), frame['LA(z)'].std(),
                       frame['GY(x)'].std(), frame['GY(y)'].std(), frame['GY(z)'].std()]



            df_framed.loc[len(df_framed)] = new_row


    return df_framed

In [20]:
df_framed_train = get_frames(df_train,frame_size,hop_size)
df_framed_test = get_frames(df_test,frame_size,hop_size)
df_framed_test

,name,mean_LA(x),mean_LA(y),mean_LA(z),mean_GY(x),mean_GY(y),mean_GY(z),sd_LA(x),sd_LA(y),sd_LA(z),sd_GY(x),sd_GY(y),sd_GY(z)
0,0.0,0.270074,-0.619490,0.633004,0.148261,0.083921,-0.011830,2.632443,4.297029,3.363867,1.563930,0.880832,0.538592
1,0.0,-0.006278,-0.267103,0.592745,0.123550,0.157367,0.003366,2.387140,4.092151,3.120615,1.258560,0.710893,0.473125
2,0.0,-0.008169,-0.140130,0.459343,-0.102142,0.045928,-0.067350,1.771270,2.565676,2.307547,1.030438,0.590497,0.436483
3,0.0,0.062938,0.024935,0.044980,-0.080455,0.013540,-0.029268,1.067203,1.553885,1.064602,0.444482,0.327683,0.318643
4,0.0,0.084937,-0.026935,-0.013451,0.048548,-0.023063,-0.016627,0.890931,1.704892,0.922491,0.410324,0.345058,0.313782
...,...,...,...,...,...,...,...,...,...,...,...,...,...
599,67.0,-0.140352,0.101156,-0.331859,-0.165171,-0.388858,-0.095856,1.664989,1.820685,1.861603,0.847170,1.006464,0.443322
600,67.0,0.013171,-0.015284,-0.236898,-0.251666,-0.852903,-0.189510,1.351287,1.440520,1.609197,0.720335,1.080255,0.387677
601,67.0,0.010613,0.029336,0.025371,-0.267219,-0.914928,-0.183259,1.114732,0.941501,1.483205,0.456522,0.994278,0.318549
602,67.0,0.214807,-0.056489,0.477065,-0.127615,-0.168364,-0.162664,1.332405,0.986660,1.451143,0.418208,1.465778,0.947868
603,67.0,0.274196,0.334740,0.408195,-0.276188,0.103168,-0.088438,1.608918,1.241528,1.416094,0.933777,1.346008,1.143092

In [21]:
df_shuffled_train = df_framed_train.sample(frac=1).reset_index(drop=True)
df_shuffled_test = df_framed_test.sample(frac=1).reset_index(drop=True)
df_shuffled_train.shape, df_shuffled_test.shape

((1634, 13), (604, 13))

In [22]:
df_shuffled_train[df_shuffled_train['name']==11]

,name,mean_LA(x),mean_LA(y),mean_LA(z),mean_GY(x),mean_GY(y),mean_GY(z),sd_LA(x),sd_LA(y),sd_LA(z),sd_GY(x),sd_GY(y),sd_GY(z)
134,11.0,0.817232,0.116119,0.600361,-0.150480,0.126942,0.108759,2.266270,1.881940,1.696754,0.750183,0.731902,0.849693
284,11.0,0.413762,-0.368749,0.909664,0.850803,-0.636192,-0.074686,2.153141,1.920166,2.095426,0.852893,0.780751,0.886740
640,11.0,-0.000961,-0.571417,0.432663,0.396638,-0.243107,-0.113706,1.821737,1.658407,1.465493,0.883024,0.708752,0.763403
667,11.0,0.471858,-0.218450,0.412520,0.004091,-0.120584,-0.079329,2.109286,1.676682,1.194781,0.622407,0.803884,0.853728
735,11.0,0.133548,-0.727621,0.544781,-0.049328,0.033789,0.048111,2.422102,2.115940,1.519056,0.513679,0.658460,1.047089
867,11.0,0.695859,-0.335587,0.846302,-0.697002,0.181884,0.025534,2.298755,2.268313,1.921994,1.304879,0.768686,0.981302
906,11.0,0.547919,-0.391412,0.357307,-0.072790,0.009513,0.065067,2.597420,2.179647,1.482316,0.676064,0.764684,1.028271
1275,11.0,0.028339,-1.071204,0.459834,-0.861612,0.278850,0.072709,2.173204,2.070610,1.826908,1.168802,0.660136,0.918694
1431,11.0,0.273214,-0.327656,0.120364,-0.246972,0.124799,0.064459,2.395674,1.708309,1.408390,0.809805,0.747400,0.832593
1432,11.0,0.236029,-0.272745,0.877110,0.799589,-0.578525,-0.060966,1.559390,1.594527,2.025374,0.920077,0.817267,0.647177
1487,11.0,0.595594,-0.269705,0.179821,0.061965,-0.131207,0.056489,2.722697,1.962056,1.371421,0.725901,0.725472,1.023596
1570,11.0,0.132302,-0.828723,0.838373,-1.004251,0.411045,-0.021911,2.526888,2.321457,1.981007,1.168738,0.634732,1.006724
1571,11.0,0.300401,-0.344272,1.056571,0.465164,-0.484262,-0.040389,2.125457,1.982166,1.978966,0.815478,0.907724,0.934985
1627,11.0,0.318428,-0.285643,0.387676,-0.054352,0.018901,0.171482,1.875819,1.807464,1.356714,0.535166,0.696152,0.840040

In [23]:
X_train = df_shuffled_train.drop('name', axis=1).copy() # Features (all columns except the target)
y_train = df_shuffled_train['name'].copy()  # Labels

In [24]:
X_test = df_shuffled_test.drop('name', axis=1).copy()  # Features (all columns except the target)
y_test = df_shuffled_test['name'].copy()  # Labels

In [25]:
X_train.shape, X_test.shape, y_train.shape, y_test.shape

((1634, 12), (604, 12), (1634,), (604,))

In [26]:
dtrain = xgb.DMatrix(X_train, label=y_train)
dtest = xgb.DMatrix(X_test)
#dval = xgb.DMatrix(X_validation, label=y_validation)
dtrain, dtest #, dval

(<xgboost.core.DMatrix at 0x23201f4af80>,
 <xgboost.core.DMatrix at 0x23201f2a080>)

In [27]:
params = {
    'max_depth': 7,
    'learning_rate': 0.3,
    'objective': 'multi:softmax',
    'num_class': len(label.classes_)
}
epochs = 25
evals_result = {}  # Initialize an empty dictionary to store the evaluation results

In [28]:
# model = xgb.train(params, dtrain, epochs,  verbose_eval=1)

In [29]:
model = xgb.train(params, dtrain, epochs, evals=[(dtrain, 'train')],
                  verbose_eval=1)

[0]	train-mlogloss:2.42083
[1]	train-mlogloss:1.75395
[2]	train-mlogloss:1.33715
[3]	train-mlogloss:1.04770
[4]	train-mlogloss:0.83555
[5]	train-mlogloss:0.67664
[6]	train-mlogloss:0.55242
[7]	train-mlogloss:0.45533
[8]	train-mlogloss:0.37866
[9]	train-mlogloss:0.31780
[10]	train-mlogloss:0.26917
[11]	train-mlogloss:0.23024
[12]	train-mlogloss:0.19897
[13]	train-mlogloss:0.17344
[14]	train-mlogloss:0.15236
[15]	train-mlogloss:0.13497
[16]	train-mlogloss:0.12062
[17]	train-mlogloss:0.10900
[18]	train-mlogloss:0.09901
[19]	train-mlogloss:0.09060
[20]	train-mlogloss:0.08345
[21]	train-mlogloss:0.07753
[22]	train-mlogloss:0.07243
[23]	train-mlogloss:0.06818
[24]	train-mlogloss:0.06441

In [30]:
predictions = model.predict(dtest)
accuracy_score(y_test, predictions)

0.5380794701986755