In [1]:
import tensorflow as tf
from tensorflow.keras import Sequential
from tensorflow.keras.layers import Flatten, Dense, Dropout, BatchNormalization
from tensorflow.keras.layers import Conv1D, MaxPooling1D
from tensorflow.keras.optimizers import Adam
print(tf.__version__)

2.12.0

In [2]:
import pandas as pd
import numpy as np
import os
import math
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, LabelEncoder

In [3]:
# filepath = "merged_u1-50_w001_resampled.csv"
filepath = "D:/online dataset csv files preprocessing/merged_u1-50_w001_resampled.csv"

df_original = pd.read_csv(filepath)

In [4]:
df_original

,timestamp,LAx,LAy,LAz,GYx,GYy,GYz,name
0,924313410000000,1.242813,-0.160181,-0.900440,0.194931,-0.004242,0.163818,1
1,924313420000000,1.117246,-0.187921,-1.529893,0.236458,0.076378,0.133293,1
2,924313430000000,0.912846,-0.192566,-1.570929,0.226074,0.012253,0.108246,1
3,924313440000000,0.874858,-0.227208,-1.453511,0.139336,-0.050667,0.085030,1
4,924313450000000,0.834022,-0.282976,-1.292671,-0.013374,-0.109314,0.078308,1
...,...,...,...,...,...,...,...,...
2055043,1368327120000000,-9.502644,-7.178468,4.246279,-2.834417,-0.120428,-0.987857,50
2055044,1368327130000000,-9.443804,-7.698220,3.059675,-2.638940,0.561997,-0.947715,50
2055045,1368327140000000,-8.345459,-6.805815,1.853457,-2.483606,1.225222,-0.954696,50
2055046,1368327150000000,-7.580540,-5.629017,1.559257,-2.429500,1.769765,-1.003565,50
2055047,1368327160000000,-6.952915,-4.589512,1.755390,-2.426010,2.099633,-0.980876,50

In [5]:
df_original.isnull().sum()

timestamp    0
LAx          0
LAy          0
LAz          0
GYx          0
GYy          0
GYz          0
name         0
dtype: int64

In [6]:
df_original.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2055048 entries, 0 to 2055047
Data columns (total 8 columns):
 #   Column     Dtype
---  ------     -----
 0   timestamp  int64
 1   LAx        float64
 2   LAy        float64
 3   LAz        float64
 4   GYx        float64
 5   GYy        float64
 6   GYz        float64
 7   name       int64
dtypes: float64(6), int64(2)
memory usage: 125.4 MB

In [7]:
df_original['name'].value_counts()

18    82714
47    65984
29    60052
8     60036
6     60005
9     59986
13    59984
41    59984
39    59958
3     59958
37    55050
32    52339
12    51686
2     48001
7     47947
11    47946
34    47824
49    47614
42    41946
19    41946
40    41946
35    41945
33    41945
27    41535
30    40959
24    35980
16    35974
20    35948
28    35947
31    35947
4     35946
23    34545
38    32186
44    31414
43    30100
17    29997
48    29990
50    29988
14    29950
46    29945
10    28892
1     26790
45    26022
25    25926
5     25792
22    25598
36    25173
26    23949
15    17985
21    15774
Name: name, dtype: int64

In [8]:
df_Xtime = df_original.copy()
df_Xtime = df_Xtime.drop(['timestamp'], axis = 1).copy()
df_Xtime.shape

(2055048, 7)

In [9]:
df_Xtime

              LAx       LAy       LAz       GYx       GYy       GYz  name
0        1.242813 -0.160181 -0.900440  0.194931 -0.004242  0.163818     1
1        1.117246 -0.187921 -1.529893  0.236458  0.076378  0.133293     1
2        0.912846 -0.192566 -1.570929  0.226074  0.012253  0.108246     1
3        0.874858 -0.227208 -1.453511  0.139336 -0.050667  0.085030     1
4        0.834022 -0.282976 -1.292671 -0.013374 -0.109314  0.078308     1
...           ...       ...       ...       ...       ...       ...   ...
2055043 -9.502644 -7.178468  4.246279 -2.834417 -0.120428 -0.987857    50
2055044 -9.443804 -7.698220  3.059675 -2.638940  0.561997 -0.947715    50
2055045 -8.345459 -6.805815  1.853457 -2.483606  1.225222 -0.954696    50
2055046 -7.580540 -5.629017  1.559257 -2.429500  1.769765 -1.003565    50
2055047 -6.952915 -4.589512  1.755390 -2.426010  2.099633 -0.980876    50

[2055048 rows x 7 columns]

In [10]:
X = df_Xtime[['LAx', 'LAy', 'LAz','GYx', 'GYy', 'GYz']].copy()
y = df_Xtime['name'].copy()

In [11]:
scaler = StandardScaler()
X_transformed = X.copy()
# X_transformed = scaler.fit_transform(X_transformed) #No_scalling

scaled_X = pd.DataFrame(data = X_transformed, columns = ['LAx', 'LAy', 'LAz','GYx', 'GYy', 'GYz'])
scaled_X['label'] = y.values

scaled_X

              LAx       LAy       LAz       GYx       GYy       GYz  label
0        1.242813 -0.160181 -0.900440  0.194931 -0.004242  0.163818      1
1        1.117246 -0.187921 -1.529893  0.236458  0.076378  0.133293      1
2        0.912846 -0.192566 -1.570929  0.226074  0.012253  0.108246      1
3        0.874858 -0.227208 -1.453511  0.139336 -0.050667  0.085030      1
4        0.834022 -0.282976 -1.292671 -0.013374 -0.109314  0.078308      1
...           ...       ...       ...       ...       ...       ...    ...
2055043 -9.502644 -7.178468  4.246279 -2.834417 -0.120428 -0.987857     50
2055044 -9.443804 -7.698220  3.059675 -2.638940  0.561997 -0.947715     50
2055045 -8.345459 -6.805815  1.853457 -2.483606  1.225222 -0.954696     50
2055046 -7.580540 -5.629017  1.559257 -2.429500  1.769765 -1.003565     50
2055047 -6.952915 -4.589512  1.755390 -2.426010  2.099633 -0.980876     50

[2055048 rows x 7 columns]

In [12]:
df_test = pd.DataFrame(columns=['LAx','LAy','LAz','GYx','GYy','GYz','label'])
df_train = pd.DataFrame(columns=['LAx','LAy','LAz','GYx','GYy','GYz','label'])

for i in range(1,51):
    df_original_i = scaled_X[scaled_X['label'] == i]
    length = len(df_original_i)
    num_rows_70 = int(length*0.7)
    
    train_row = df_original_i[:num_rows_70]
    test_row = df_original_i[num_rows_70:]
    
    df_train = df_train.append(train_row, ignore_index=True)
    df_test = df_test.append(test_row, ignore_index=True)

df_train.shape, df_test.shape

C:\Users\szizo\AppData\Local\Temp\ipykernel_7848\2597348167.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_train = df_train.append(train_row, ignore_index=True)
C:\Users\szizo\AppData\Local\Temp\ipykernel_7848\2597348167.py:13: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_test = df_test.append(test_row, ignore_index=True)

((1438511, 7), (616537, 7))

In [13]:
import scipy.stats as stats

Fs = 100
frame_size = Fs*6 
hop_size = Fs*2

In [14]:
def get_frames(df, frame_size, hop_size):
    N_FEATURES = 6

    frames = []
    labels = []
    
    last_value = df['label'].iloc[-1]
    for j in range (1,last_value+1): 
        filtered_df = df[df['label'] == j]
        filtered_df = filtered_df.drop('label', axis = 1)
        for i in range(0, len(filtered_df) - frame_size, hop_size):
            LAx = filtered_df['LAx'].values[i: i + frame_size]
            LAy = filtered_df['LAy'].values[i: i + frame_size]
            LAz = filtered_df['LAz'].values[i: i + frame_size]
            GYx = filtered_df['GYx'].values[i: i + frame_size]
            GYy = filtered_df['GYy'].values[i: i + frame_size]
            GYz = filtered_df['GYz'].values[i: i + frame_size]
            

            label = j

            frames.append([LAx, LAy, LAz, GYx, GYy , GYz])
            labels.append(label)

    frames = np.asarray(frames).reshape(-1, frame_size, N_FEATURES)
    labels = np.asarray(labels)
    
    return frames, labels

In [15]:
# X, y = get_frames(scaled_X,frame_size, hop_size)
# X.shape, y.shape

In [16]:
X_train_Unshuffeled,y_train_Unshuffeled = get_frames(df_train,frame_size,hop_size)
X_test, y_test = get_frames(df_test,frame_size,hop_size)
X_train_Unshuffeled.shape, X_test.shape, y_train_Unshuffeled.shape, y_test.shape

((7059, 600, 6), (2949, 600, 6), (7059,), (2949,))

In [17]:
# X_train_val, X_test, y_train_val, y_test = train_test_split(X, y, test_size = 0.3, random_state = 0, stratify = y)

X_train, X_validation, y_train, y_validation = train_test_split(X_train_Unshuffeled, y_train_Unshuffeled, test_size = 0.1, random_state = 0, stratify = y_train_Unshuffeled)
X_train.shape, X_test.shape, X_validation.shape

((6353, 600, 6), (2949, 600, 6), (706, 600, 6))

In [18]:
X_train[0].shape, X_test[0].shape, X_validation[0].shape

((600, 6), (600, 6), (600, 6))

In [19]:
num = df_original['name'].iloc[-1]
num

50

In [20]:
# Subtract 1 from each label in y_train
y_train = np.array(y_train) - 1
y_test = np.array(y_test) - 1
y_validation = np.array(y_validation) - 1

In [21]:
y_train.shape, y_test.shape, y_validation.shape

((6353,), (2949,), (706,))

In [22]:
y_train_o = np.eye(50)[y_train]
y_test_o = np.eye(50)[y_test]
y_validation_o = np.eye(50)[y_validation]

In [23]:
y_train_o.shape, y_validation_o.shape, y_validation_o.shape

((6353, 50), (706, 50), (706, 50))

In [24]:
# tut
# model = Sequential()
# model.add(Conv1D(filters=64, kernel_size=3, activation='relu', input_shape=X_train[0].shape))
# model.add(Conv1D(filters=64, kernel_size=3, activation='relu'))
# model.add(Dropout(0.5))
# model.add(MaxPooling1D(pool_size=2))
# model.add(Flatten())
# model.add(Dense(100, activation='relu'))
# model.add(Dense(50, activation='softmax'))

In [25]:
# chatgpt
model = Sequential()
model.add(Conv1D(filters=32, kernel_size=3, activation='relu', input_shape=X_train[0].shape))
model.add(MaxPooling1D(pool_size=2))
model.add(Conv1D(filters=64, kernel_size=3, activation='relu'))
model.add(MaxPooling1D(pool_size=2))
model.add(Conv1D(filters=128, kernel_size=3, activation='relu'))
model.add(MaxPooling1D(pool_size=2))
model.add(Flatten())
model.add(Dense(256, activation='relu'))
model.add(Dropout(0.5))
model.add(Dense(50, activation='softmax'))

In [26]:
model.summary(line_length = 75)

Model: "sequential"
___________________________________________________________________________
 Layer (type)                    Output Shape                  Param #
===========================================================================
 conv1d (Conv1D)                 (None, 598, 32)               608

 max_pooling1d (MaxPooling1D)    (None, 299, 32)               0

 conv1d_1 (Conv1D)               (None, 297, 64)               6208

 max_pooling1d_1 (MaxPooling1D)  (None, 148, 64)               0

 conv1d_2 (Conv1D)               (None, 146, 128)              24704

 max_pooling1d_2 (MaxPooling1D)  (None, 73, 128)               0

 flatten (Flatten)               (None, 9344)                  0

 dense (Dense)                   (None, 256)                   2392320

 dropout (Dropout)               (None, 256)                   0

 dense_1 (Dense)                 (None, 50)                    12850

===========================================================================
Total params: 2,436,690
Trainable params: 2,436,690
Non-trainable params: 0
___________________________________________________________________________

In [27]:
model.compile(optimizer=Adam(learning_rate = 0.001), loss=tf.keras.losses.SparseCategoricalCrossentropy(), metrics = ['accuracy'])

In [28]:
early_stopping = tf.keras.callbacks.EarlyStopping(
    monitor = 'val_loss',
    mode = 'auto',
    min_delta = 0,
    patience = 2,
    verbose = 0,
    restore_best_weights = True
)

In [29]:
history = model.fit(X_train, y_train, epochs = 30,callbacks = [early_stopping], 
                    validation_data= (X_validation, y_validation), verbose=1)

Epoch 1/30
199/199 [==============================] - 11s 49ms/step - loss: 2.5253 - accuracy: 0.3502 - val_loss: 0.5208 - val_accuracy: 0.8683
Epoch 2/30
199/199 [==============================] - 9s 47ms/step - loss: 0.6328 - accuracy: 0.7940 - val_loss: 0.1940 - val_accuracy: 0.9065
Epoch 3/30
199/199 [==============================] - 10s 51ms/step - loss: 0.3249 - accuracy: 0.8777 - val_loss: 0.1633 - val_accuracy: 0.9193
Epoch 4/30
199/199 [==============================] - 10s 50ms/step - loss: 0.2589 - accuracy: 0.8911 - val_loss: 0.1578 - val_accuracy: 0.9207
Epoch 5/30
199/199 [==============================] - 9s 47ms/step - loss: 0.2274 - accuracy: 0.9026 - val_loss: 0.1537 - val_accuracy: 0.9221
Epoch 6/30
199/199 [==============================] - 10s 48ms/step - loss: 0.1927 - accuracy: 0.9085 - val_loss: 0.1595 - val_accuracy: 0.9278
Epoch 7/30
199/199 [==============================] - 10s 49ms/step - loss: 0.1975 - accuracy: 0.9101 - val_loss: 0.1513 - val_accuracy: 0.9278
Epoch 8/30
199/199 [==============================] - 10s 49ms/step - loss: 0.1629 - accuracy: 0.9185 - val_loss: 0.1532 - val_accuracy: 0.9306
Epoch 9/30
199/199 [==============================] - 10s 50ms/step - loss: 0.1642 - accuracy: 0.9197 - val_loss: 0.1480 - val_accuracy: 0.9136
Epoch 10/30
199/199 [==============================] - 9s 47ms/step - loss: 0.1441 - accuracy: 0.9233 - val_loss: 0.1552 - val_accuracy: 0.9292
Epoch 11/30
199/199 [==============================] - 9s 46ms/step - loss: 0.1525 - accuracy: 0.9216 - val_loss: 0.1484 - val_accuracy: 0.9249

In [30]:
test_loss, test_accuracy = model.evaluate(X_test, y_test)
print('Test loss: {0: .4f}. Test accuracy: {1: .2f}%'.format(test_loss, test_accuracy*100))

93/93 [==============================] - 1s 11ms/step - loss: 0.1858 - accuracy: 0.9176
Test loss:  0.1858. Test accuracy:  91.76%

In [35]:
len(np.unique(y_test))

50

In [32]:

unique_users = np.unique(y_test)
acc = np.empty(len(unique_users))
for user in unique_users:
    print(user)
    indices = np.where(y_test == user)
    user_y = y_test[indices]
    user_X= X_test[indices]
    test_loss, test_accuracy = model.evaluate(user_X, user_y)
    acc[user] = test_accuracy
acc

0
2/2 [==============================] - 0s 16ms/step - loss: 0.1688 - accuracy: 0.9474
1
3/3 [==============================] - 0s 7ms/step - loss: 1.7949e-06 - accuracy: 1.0000
2
3/3 [==============================] - 0s 8ms/step - loss: 4.1107e-09 - accuracy: 1.0000
3
2/2 [==============================] - 0s 15ms/step - loss: 0.0010 - accuracy: 1.0000
4
2/2 [==============================] - 0s 9ms/step - loss: 0.3476 - accuracy: 0.9167
5
3/3 [==============================] - 0s 16ms/step - loss: 0.2495 - accuracy: 0.8636
6
3/3 [==============================] - 0s 6ms/step - loss: 2.2390e-04 - accuracy: 1.0000
7
3/3 [==============================] - 0s 11ms/step - loss: 4.9887e-06 - accuracy: 1.0000
8
3/3 [==============================] - 0s 9ms/step - loss: 0.1366 - accuracy: 0.9885
9
2/2 [==============================] - 0s 16ms/step - loss: 0.2518 - accuracy: 0.9268
10
3/3 [==============================] - 0s 8ms/step - loss: 0.0014 - accuracy: 1.0000
11
3/3 [==============================] - 0s 8ms/step - loss: 0.5007 - accuracy: 0.9067
12
3/3 [==============================] - 0s 8ms/step - loss: 6.0216e-05 - accuracy: 1.0000
13
2/2 [==============================] - 0s 0s/step - loss: 7.5276e-05 - accuracy: 1.0000
14
1/1 [==============================] - 0s 32ms/step - loss: 0.0028 - accuracy: 1.0000
15
2/2 [==============================] - 0s 0s/step - loss: 7.5462e-05 - accuracy: 1.0000
16
2/2 [==============================] - 0s 0s/step - loss: 3.6313e-04 - accuracy: 1.0000
17
4/4 [==============================] - 0s 16ms/step - loss: 9.2983e-05 - accuracy: 1.0000
18
2/2 [==============================] - 0s 11ms/step - loss: 9.9401e-04 - accuracy: 1.0000
19
2/2 [==============================] - 0s 16ms/step - loss: 1.1687e-08 - accuracy: 1.0000
20
1/1 [==============================] - 0s 31ms/step - loss: 0.1942 - accuracy: 0.9524
21
2/2 [==============================] - 0s 16ms/step - loss: 0.2395 - accuracy: 0.9444
22
2/2 [==============================] - 0s 16ms/step - loss: 0.0033 - accuracy: 1.0000
23
2/2 [==============================] - 0s 3ms/step - loss: 4.2791e-04 - accuracy: 1.0000
24
2/2 [==============================] - 0s 0s/step - loss: 0.2600 - accuracy: 0.9722
25
2/2 [==============================] - 0s 16ms/step - loss: 0.1395 - accuracy: 0.9697
26
2/2 [==============================] - 0s 0s/step - loss: 0.0472 - accuracy: 0.9833
27
2/2 [==============================] - 0s 0s/step - loss: 0.7322 - accuracy: 0.4706
28
3/3 [==============================] - 0s 13ms/step - loss: 1.6256e-08 - accuracy: 1.0000
29
2/2 [==============================] - 0s 16ms/step - loss: 0.0954 - accuracy: 0.9661
30
2/2 [==============================] - 0s 0s/step - loss: 0.6732 - accuracy: 0.5294
31
3/3 [==============================] - 0s 8ms/step - loss: 0.2276 - accuracy: 0.9079
32
2/2 [==============================] - 0s 16ms/step - loss: 0.4728 - accuracy: 0.9167
33
3/3 [==============================] - 0s 8ms/step - loss: 2.2703e-05 - accuracy: 1.0000
34
2/2 [==============================] - 0s 16ms/step - loss: 1.0088 - accuracy: 0.0833
35
2/2 [==============================] - 0s 0s/step - loss: 0.1080 - accuracy: 0.9714
36
3/3 [==============================] - 0s 8ms/step - loss: 0.7953 - accuracy: 0.7875
37
2/2 [==============================] - 0s 0s/step - loss: 0.5320 - accuracy: 0.9565
38
3/3 [==============================] - 0s 8ms/step - loss: 2.5958e-04 - accuracy: 1.0000
39
2/2 [==============================] - 0s 16ms/step - loss: 0.6494 - accuracy: 0.7333
40
3/3 [==============================] - 0s 8ms/step - loss: 0.0337 - accuracy: 0.9885
41
2/2 [==============================] - 0s 16ms/step - loss: 0.7480 - accuracy: 0.2667
42
2/2 [==============================] - 0s 16ms/step - loss: 0.4263 - accuracy: 0.9535
43
2/2 [==============================] - 0s 0s/step - loss: 0.3472 - accuracy: 0.9556
44
2/2 [==============================] - 0s 0s/step - loss: 0.5679 - accuracy: 0.8919
45
2/2 [==============================] - 0s 19ms/step - loss: 5.3065e-04 - accuracy: 1.0000
46
3/3 [==============================] - 0s 16ms/step - loss: 8.4646e-04 - accuracy: 1.0000
47
2/2 [==============================] - 0s 0s/step - loss: 6.2293e-04 - accuracy: 1.0000
48
3/3 [==============================] - 0s 8ms/step - loss: 3.3367e-05 - accuracy: 1.0000
49
2/2 [==============================] - 0s 16ms/step - loss: 8.2223e-06 - accuracy: 1.0000

array([0.94736844, 1.        , 1.        , 1.        , 0.91666669,
       0.86363637, 1.        , 1.        , 0.98850572, 0.92682928,
       1.        , 0.9066667 , 1.        , 1.        , 1.        ,
       1.        , 1.        , 1.        , 1.        , 1.        ,
       0.95238096, 0.94444442, 1.        , 1.        , 0.97222221,
       0.969697  , 0.98333335, 0.47058824, 1.        , 0.96610171,
       0.52941179, 0.90789473, 0.91666669, 1.        , 0.08333334,
       0.97142857, 0.78750002, 0.95652175, 1.        , 0.73333335,
       0.98850572, 0.26666668, 0.95348835, 0.95555556, 0.8918919 ,
       1.        , 1.        , 1.        , 1.        , 1.        ])

In [33]:
outlier_indices = np.where(acc < 0.80)
outlier_indices

(array([27, 30, 34, 36, 39, 41], dtype=int64),)