In [1]:
import tensorflow as tf
from tensorflow.keras import Sequential
from tensorflow.keras.layers import Flatten, Dense, Dropout, BatchNormalization
from tensorflow.keras.layers import Conv1D, MaxPooling1D
from tensorflow.keras.optimizers import Adam
print(tf.__version__)

2.12.0

In [2]:
import pandas as pd
import numpy as np
import os
import math
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, LabelEncoder

In [151]:
from sklearn.svm import OneClassSVM

In [3]:
# filepath = "merged_u1-50_w001_resampled.csv"
filepath = "D:/online dataset csv files preprocessing/merged_u1-50_w001_resampled.csv"

df_original = pd.read_csv(filepath)

In [4]:
df_original

,timestamp,LAx,LAy,LAz,GYx,GYy,GYz,name
0,924313410000000,1.242813,-0.160181,-0.900440,0.194931,-0.004242,0.163818,1
1,924313420000000,1.117246,-0.187921,-1.529893,0.236458,0.076378,0.133293,1
2,924313430000000,0.912846,-0.192566,-1.570929,0.226074,0.012253,0.108246,1
3,924313440000000,0.874858,-0.227208,-1.453511,0.139336,-0.050667,0.085030,1
4,924313450000000,0.834022,-0.282976,-1.292671,-0.013374,-0.109314,0.078308,1
...,...,...,...,...,...,...,...,...
2055043,1368327120000000,-9.502644,-7.178468,4.246279,-2.834417,-0.120428,-0.987857,50
2055044,1368327130000000,-9.443804,-7.698220,3.059675,-2.638940,0.561997,-0.947715,50
2055045,1368327140000000,-8.345459,-6.805815,1.853457,-2.483606,1.225222,-0.954696,50
2055046,1368327150000000,-7.580540,-5.629017,1.559257,-2.429500,1.769765,-1.003565,50
2055047,1368327160000000,-6.952915,-4.589512,1.755390,-2.426010,2.099633,-0.980876,50

In [5]:
df_original.isnull().sum()

timestamp    0
LAx          0
LAy          0
LAz          0
GYx          0
GYy          0
GYz          0
name         0
dtype: int64

In [6]:
df_original.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2055048 entries, 0 to 2055047
Data columns (total 8 columns):
 #   Column     Dtype
---  ------     -----
 0   timestamp  int64
 1   LAx        float64
 2   LAy        float64
 3   LAz        float64
 4   GYx        float64
 5   GYy        float64
 6   GYz        float64
 7   name       int64
dtypes: float64(6), int64(2)
memory usage: 125.4 MB

In [7]:
df_original['name'].value_counts()

18    82714
47    65984
29    60052
8     60036
6     60005
9     59986
13    59984
41    59984
39    59958
3     59958
37    55050
32    52339
12    51686
2     48001
7     47947
11    47946
34    47824
49    47614
42    41946
19    41946
40    41946
35    41945
33    41945
27    41535
30    40959
24    35980
16    35974
20    35948
28    35947
31    35947
4     35946
23    34545
38    32186
44    31414
43    30100
17    29997
48    29990
50    29988
14    29950
46    29945
10    28892
1     26790
45    26022
25    25926
5     25792
22    25598
36    25173
26    23949
15    17985
21    15774
Name: name, dtype: int64

In [8]:
df_Xtime = df_original.copy()
df_Xtime = df_Xtime.drop(['timestamp'], axis = 1).copy()
df_Xtime.shape

(2055048, 7)

In [9]:
df_Xtime

              LAx       LAy       LAz       GYx       GYy       GYz  name
0        1.242813 -0.160181 -0.900440  0.194931 -0.004242  0.163818     1
1        1.117246 -0.187921 -1.529893  0.236458  0.076378  0.133293     1
2        0.912846 -0.192566 -1.570929  0.226074  0.012253  0.108246     1
3        0.874858 -0.227208 -1.453511  0.139336 -0.050667  0.085030     1
4        0.834022 -0.282976 -1.292671 -0.013374 -0.109314  0.078308     1
...           ...       ...       ...       ...       ...       ...   ...
2055043 -9.502644 -7.178468  4.246279 -2.834417 -0.120428 -0.987857    50
2055044 -9.443804 -7.698220  3.059675 -2.638940  0.561997 -0.947715    50
2055045 -8.345459 -6.805815  1.853457 -2.483606  1.225222 -0.954696    50
2055046 -7.580540 -5.629017  1.559257 -2.429500  1.769765 -1.003565    50
2055047 -6.952915 -4.589512  1.755390 -2.426010  2.099633 -0.980876    50

[2055048 rows x 7 columns]

In [10]:
X = df_Xtime[['LAx', 'LAy', 'LAz','GYx', 'GYy', 'GYz']].copy()
y = df_Xtime['name'].copy()

In [11]:
scaler = StandardScaler()
X_transformed = X.copy()
# X_transformed = scaler.fit_transform(X_transformed) #No_scalling

scaled_X = pd.DataFrame(data = X_transformed, columns = ['LAx', 'LAy', 'LAz','GYx', 'GYy', 'GYz'])
scaled_X['label'] = y.values

scaled_X

              LAx       LAy       LAz       GYx       GYy       GYz  label
0        1.242813 -0.160181 -0.900440  0.194931 -0.004242  0.163818      1
1        1.117246 -0.187921 -1.529893  0.236458  0.076378  0.133293      1
2        0.912846 -0.192566 -1.570929  0.226074  0.012253  0.108246      1
3        0.874858 -0.227208 -1.453511  0.139336 -0.050667  0.085030      1
4        0.834022 -0.282976 -1.292671 -0.013374 -0.109314  0.078308      1
...           ...       ...       ...       ...       ...       ...    ...
2055043 -9.502644 -7.178468  4.246279 -2.834417 -0.120428 -0.987857     50
2055044 -9.443804 -7.698220  3.059675 -2.638940  0.561997 -0.947715     50
2055045 -8.345459 -6.805815  1.853457 -2.483606  1.225222 -0.954696     50
2055046 -7.580540 -5.629017  1.559257 -2.429500  1.769765 -1.003565     50
2055047 -6.952915 -4.589512  1.755390 -2.426010  2.099633 -0.980876     50

[2055048 rows x 7 columns]

In [32]:
df_unk = scaled_X[scaled_X['label'].isin([2, 11,23,34,45,49,6])]
scaled_X_known = scaled_X[~scaled_X['label'].isin([2, 11,23,34,45,49,6])]
df_unk.shape, scaled_X_known.shape

((311957, 7), (1743091, 7))

In [13]:
df_test = pd.DataFrame(columns=['LAx','LAy','LAz','GYx','GYy','GYz','label'])
df_train = pd.DataFrame(columns=['LAx','LAy','LAz','GYx','GYy','GYz','label'])

for i in range(1,51):
    df_original_i = scaled_X_known[scaled_X_known['label'] == i]
    length = len(df_original_i)
    num_rows_70 = int(length*0.7)
    
    train_row = df_original_i[:num_rows_70]
    test_row = df_original_i[num_rows_70:]
    
    df_train = df_train.append(train_row, ignore_index=True)
    df_test = df_test.append(test_row, ignore_index=True)

df_train.shape, df_test.shape

C:\Users\szizo\AppData\Local\Temp\ipykernel_4968\3930309154.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_train = df_train.append(train_row, ignore_index=True)
C:\Users\szizo\AppData\Local\Temp\ipykernel_4968\3930309154.py:13: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_test = df_test.append(test_row, ignore_index=True)

((1220145, 7), (522946, 7))

In [14]:
import scipy.stats as stats

Fs = 100
frame_size = Fs*6 
hop_size = Fs*2

In [15]:
def get_frames(df, frame_size, hop_size):
    N_FEATURES = 6

    frames = []
    labels = []
    
    last_value = df['label'].iloc[-1]
    for j in range (1,last_value+1): 
        filtered_df = df[df['label'] == j]
        filtered_df = filtered_df.drop('label', axis = 1)
        for i in range(0, len(filtered_df) - frame_size, hop_size):
            LAx = filtered_df['LAx'].values[i: i + frame_size]
            LAy = filtered_df['LAy'].values[i: i + frame_size]
            LAz = filtered_df['LAz'].values[i: i + frame_size]
            GYx = filtered_df['GYx'].values[i: i + frame_size]
            GYy = filtered_df['GYy'].values[i: i + frame_size]
            GYz = filtered_df['GYz'].values[i: i + frame_size]
            

            label = j

            frames.append([LAx, LAy, LAz, GYx, GYy , GYz])
            labels.append(label)

    frames = np.asarray(frames).reshape(-1, frame_size, N_FEATURES)
    labels = np.asarray(labels)
    
    return frames, labels

In [16]:
# X, y = get_frames(scaled_X,frame_size, hop_size)
# X.shape, y.shape

In [17]:
X_train_Unshuffeled,y_train_Unshuffeled = get_frames(df_train,frame_size,hop_size)
X_test, y_test = get_frames(df_test,frame_size,hop_size)
X_train_Unshuffeled.shape, X_test.shape, y_train_Unshuffeled.shape, y_test.shape

((5985, 600, 6), (2498, 600, 6), (5985,), (2498,))

In [18]:
# X_train_val, X_test, y_train_val, y_test = train_test_split(X, y, test_size = 0.3, random_state = 0, stratify = y)

X_train, X_validation, y_train, y_validation = train_test_split(X_train_Unshuffeled, y_train_Unshuffeled, test_size = 0.1, random_state = 0, stratify = y_train_Unshuffeled)
X_train.shape, X_test.shape, X_validation.shape

((5386, 600, 6), (2498, 600, 6), (599, 600, 6))

In [19]:
X_train[0].shape, X_test[0].shape, X_validation[0].shape

((600, 6), (600, 6), (600, 6))

In [20]:
num = df_original['name'].iloc[-1]
num

50

In [21]:
# Subtract 1 from each label in y_train
y_train = np.array(y_train) - 1
y_test = np.array(y_test) - 1
y_validation = np.array(y_validation) - 1

In [22]:
y_train.shape, y_test.shape, y_validation.shape

((5386,), (2498,), (599,))

In [23]:
y_train_o = np.eye(50)[y_train]
y_test_o = np.eye(50)[y_test]
y_validation_o = np.eye(50)[y_validation]

In [24]:
y_train_o.shape, y_validation_o.shape, y_validation_o.shape

((5386, 50), (599, 50), (599, 50))

In [25]:
# tut
# model = Sequential()
# model.add(Conv1D(filters=64, kernel_size=3, activation='relu', input_shape=X_train[0].shape))
# model.add(Conv1D(filters=64, kernel_size=3, activation='relu'))
# model.add(Dropout(0.5))
# model.add(MaxPooling1D(pool_size=2))
# model.add(Flatten())
# model.add(Dense(100, activation='relu'))
# model.add(Dense(50, activation='softmax'))

In [289]:
# num_classes = 51  # Including the unknown class

# # Convert your labels to include the unknown class
# y_train_with_unknown = y_train.copy()  # Make a copy of the original labels
# y_train_with_unknown[y_train_with_unknown > num_classes-2] = num_classes-1  # Set labels above num_classes-2 to the unknown class label

In [290]:
# chatgpt
model = Sequential()
model.add(Conv1D(filters=32, kernel_size=3, activation='relu', input_shape=X_train[0].shape))
model.add(MaxPooling1D(pool_size=2))
model.add(Conv1D(filters=64, kernel_size=3, activation='relu'))
model.add(MaxPooling1D(pool_size=2))
model.add(Conv1D(filters=128, kernel_size=3, activation='relu'))
model.add(MaxPooling1D(pool_size=2))
model.add(Flatten())
model.add(Dense(256, activation='relu'))
model.add(Dropout(0.5))
model.add(Dense(50, activation='softmax'))

In [291]:
model.summary(line_length = 75)

Model: "sequential_1"
___________________________________________________________________________
 Layer (type)                    Output Shape                  Param #
===========================================================================
 conv1d_3 (Conv1D)               (None, 598, 32)               608

 max_pooling1d_3 (MaxPooling1D)  (None, 299, 32)               0

 conv1d_4 (Conv1D)               (None, 297, 64)               6208

 max_pooling1d_4 (MaxPooling1D)  (None, 148, 64)               0

 conv1d_5 (Conv1D)               (None, 146, 128)              24704

 max_pooling1d_5 (MaxPooling1D)  (None, 73, 128)               0

 flatten_1 (Flatten)             (None, 9344)                  0

 dense_2 (Dense)                 (None, 256)                   2392320

 dropout_1 (Dropout)             (None, 256)                   0

 dense_3 (Dense)                 (None, 51)                    13107

===========================================================================
Total params: 2,436,947
Trainable params: 2,436,947
Non-trainable params: 0
___________________________________________________________________________

In [292]:
model.compile(optimizer=Adam(learning_rate = 0.001), loss=tf.keras.losses.SparseCategoricalCrossentropy(), metrics = ['accuracy'])

In [293]:
early_stopping = tf.keras.callbacks.EarlyStopping(
    monitor = 'val_loss',
    mode = 'auto',
    min_delta = 0,
    patience = 2,
    verbose = 0,
    restore_best_weights = True
)

In [294]:
history = model.fit(X_train, y_train, epochs = 30,callbacks = [early_stopping], 
                    validation_data= (X_validation, y_validation), verbose=1)

Epoch 1/30
169/169 [==============================] - 9s 48ms/step - loss: 2.2552 - accuracy: 0.4226 - val_loss: 0.5143 - val_accuracy: 0.8514
Epoch 2/30
169/169 [==============================] - 8s 47ms/step - loss: 0.5680 - accuracy: 0.8171 - val_loss: 0.2251 - val_accuracy: 0.8948
Epoch 3/30
169/169 [==============================] - 8s 47ms/step - loss: 0.2983 - accuracy: 0.8784 - val_loss: 0.1962 - val_accuracy: 0.8998
Epoch 4/30
169/169 [==============================] - 8s 47ms/step - loss: 0.2108 - accuracy: 0.9005 - val_loss: 0.1840 - val_accuracy: 0.9032
Epoch 5/30
169/169 [==============================] - 8s 47ms/step - loss: 0.1782 - accuracy: 0.9087 - val_loss: 0.1771 - val_accuracy: 0.9065
Epoch 6/30
169/169 [==============================] - 8s 47ms/step - loss: 0.1582 - accuracy: 0.9137 - val_loss: 0.1703 - val_accuracy: 0.9165
Epoch 7/30
169/169 [==============================] - 8s 48ms/step - loss: 0.1477 - accuracy: 0.9228 - val_loss: 0.1645 - val_accuracy: 0.9149
Epoch 8/30
169/169 [==============================] - 8s 50ms/step - loss: 0.1479 - accuracy: 0.9172 - val_loss: 0.1794 - val_accuracy: 0.9165
Epoch 9/30
169/169 [==============================] - 8s 49ms/step - loss: 0.1377 - accuracy: 0.9196 - val_loss: 0.1659 - val_accuracy: 0.9165

In [295]:
test_loss, test_accuracy = model.evaluate(X_test, y_test)
print('Test loss: {0: .4f}. Test accuracy: {1: .2f}%'.format(test_loss, test_accuracy*100))

79/79 [==============================] - 1s 10ms/step - loss: 0.2210 - accuracy: 0.9107
Test loss:  0.2210. Test accuracy:  91.07%

In [296]:
X_unk,y_unk = get_frames(df_unk,frame_size,hop_size)
X_unk.shape, y_unk.shape

((1544, 600, 6), (1544,))

In [297]:
y_unk = y_unk -1

In [304]:
y_unk_done = np.full(len(y_unk), 49)

In [305]:
y_unk_done.shape

(1544,)

In [306]:
test_loss, test_accuracy = model.evaluate(X_unk, y_unk_done)
print('Test loss: {0: .4f}. Test accuracy: {1: .2f}%'.format(test_loss, test_accuracy*100))

49/49 [==============================] - 1s 10ms/step - loss: 15.0269 - accuracy: 0.0000e+00
Test loss:  15.0269. Test accuracy:  0.00%

In [307]:
unique_names_known = np.unique(y_test)
# unique_names_known = unique_names_known-1
len(unique_names_known)

43

In [49]:
unique_names_known

array([ 0,  2,  3,  4,  6,  7,  8,  9, 11, 12, 13, 14, 15, 16, 17, 18, 19,
       20, 21, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 34, 35, 36, 37, 38,
       39, 40, 41, 42, 43, 45, 46, 47, 49])

In [ ]:
# indices = np.where(y_test == user)[0]
#     X_test_user = X_test[indices]
#     y_test_user = y_test[indices]
#     test_loss, test_accuracy = model.evaluate(X_test_user, y_test_user)
#     arr[user] = test_accuracy

In [54]:
# arr = np.empty(50)
# for user in unique_names_known:
#     indices = np.where(y_test == user)[0]
#     X_test_user = X_test[indices]
#     y_test_user = y_test[indices]
#     test_loss, test_accuracy = model.evaluate(X_test_user, y_test_user)
#     arr[user] = test_accuracy

In [53]:
# arr.shape

(50,)

In [89]:
predictions_proba = model.predict(X_test)
predictions.shape

79/79 [==============================] - 1s 13ms/step

(2498, 50)

In [90]:
y_test[0]

0

In [91]:
predictions_proba[0]

array([1.00000000e+00, 0.00000000e+00, 2.40253554e-25, 1.63552695e-25,
       9.16039009e-24, 0.00000000e+00, 1.61275418e-30, 3.11709696e-37,
       1.03245021e-26, 4.41093350e-35, 0.00000000e+00, 2.32445184e-20,
       2.48606725e-22, 2.68766194e-35, 1.06965480e-17, 2.72452650e-26,
       1.06759319e-30, 4.87621929e-29, 9.29568363e-36, 3.28672704e-29,
       2.26505938e-36, 6.61106047e-38, 2.03429147e-38, 0.00000000e+00,
       1.74271527e-27, 5.81762587e-20, 8.21298508e-38, 4.11225777e-35,
       7.13469258e-31, 1.43977799e-33, 3.78488105e-34, 2.56915427e-15,
       6.54696365e-23, 0.00000000e+00, 1.13264371e-21, 8.54595114e-31,
       1.01538533e-19, 5.46232633e-25, 6.11921731e-33, 3.85719710e-31,
       4.18221404e-35, 1.94080619e-33, 4.24575686e-28, 0.00000000e+00,
       0.00000000e+00, 3.03950783e-35, 5.57566585e-20, 1.04083925e-23,
       5.09482440e-34, 0.00000000e+00], dtype=float32)

In [121]:
##Known
predictions_proba = model.predict(X_test)
predictions.shape

true_pred_prob = []
false_pred_prob = []
true_pred_sec_prob = []
true_pred_third_prob = []
true_pred_fourth_prob = []
false_pred_sec_prob = []
true_pred_diff_f_s = []
false_pred_diff_f_s = []
for i in range (0,predictions_proba.shape[0]):
    probs_i = predictions_proba[i]
    pred_class = np.argmax(probs_i)
    true_class = y_test[i]##manual
    pred = probs_i[pred_class]
    probs_i[pred_class] = np.min(probs_i) - 1
    sec_pred = np.max(probs_i)
    
    sec_pred_class = np.argmax(probs_i)
    probs_i[sec_pred_class] = np.min(probs_i) - 1
    third_pred = np.max(probs_i)
    
    third_pred_class = np.argmax(probs_i)
    probs_i[third_pred_class] = np.min(probs_i) - 1
    fourth_pred = np.max(probs_i)
    
    
    if(pred_class == true_class):#true_pred
        true_pred_prob.append(pred)
        true_pred_sec_prob.append(sec_pred)
        
        true_pred_third_prob.append(third_pred)
        true_pred_fourth_prob.append(fourth_pred)
        
        true_pred_diff_f_s.append(pred-sec_pred)
    else:
        false_pred_prob.append(pred)
        false_pred_sec_prob.append(sec_pred)
        false_pred_diff_f_s.append(pred-sec_pred)

79/79 [==============================] - 1s 13ms/step

In [122]:
np.mean(true_pred_fourth_prob)

0.0002736781

In [118]:
predictions_proba_unk = model.predict(X_unk)
predictions_proba_unk.shape

49/49 [==============================] - 1s 13ms/step

(1544, 50)

In [119]:
# ##UNKnown
# predictions_proba_unk = model.predict(X_unk)
# predictions_proba_unk.shape

# true_pred_prob_unk = []
# false_pred_prob_unk = []
# true_pred_sec_prob_unk = []
# false_pred_sec_prob_unk = []
# false_pred_third_prob_unk = []
# false_pred_fourth_prob_unk = []
# true_pred_diff_f_s_unk = []
# false_pred_diff_f_s_unk = []
# for i_unk in range(0, predictions_proba_unk.shape[0]):
#     probs_i_unk = predictions_proba_unk[i_unk]
#     pred_class_unk = np.argmax(probs_i_unk)
#     true_class_unk = y_unk[i_unk]##manual_unk
#     pred_unk = probs_i_unk[pred_class_unk]
#     probs_i_unk[probs_i_unk == pred_unk] = np.min(probs_i_unk) - 1
#     sec_pred_unk = np.max(probs_i_unk)
#     if pred_class_unk == true_class_unk:  # true_pred_unk
#         true_pred_prob_unk.append(pred_unk)
#         true_pred_sec_prob_unk.append(sec_pred_unk)
#         true_pred_diff_f_s_unk.append(pred_unk - sec_pred_unk)
#     else:
#         false_pred_prob_unk.append(pred_unk)
#         false_pred_sec_prob_unk.append(sec_pred_unk)
#         false_pred_diff_f_s_unk.append(pred_unk - sec_pred_unk)

In [123]:
##UNKnown
predictions_proba_unk = model.predict(X_unk)
predictions_proba_unk.shape

true_pred_prob_unk = []
false_pred_prob_unk = []
true_pred_sec_prob_unk = []
false_pred_third_prob_unk = []
false_pred_fourth_prob_unk = []
false_pred_sec_prob_unk = []
true_pred_diff_f_s_unk = []
false_pred_diff_f_s_unk = []
for i_unk in range(0, predictions_proba_unk.shape[0]):
    probs_i_unk = predictions_proba_unk[i_unk]
    pred_class_unk = np.argmax(probs_i_unk)
    true_class_unk = y_unk[i_unk]##manual_unk
    pred_unk = probs_i_unk[pred_class_unk]
    probs_i_unk[pred_class_unk] = np.min(probs_i_unk) - 1
    sec_pred_unk = np.max(probs_i_unk)
    
    sec_pred_class_unk = np.argmax(probs_i_unk)
    probs_i_unk[sec_pred_class_unk] = np.min(probs_i_unk) - 1
    third_pred_unk = np.max(probs_i_unk)
    
    third_pred_class_unk = np.argmax(probs_i_unk)
    probs_i_unk[third_pred_class_unk] = np.min(probs_i_unk) - 1
    fourth_pred_unk = np.max(probs_i_unk)
    
    
    if pred_class_unk == true_class_unk:  # true_pred_unk
        true_pred_prob_unk.append(pred_unk)
        true_pred_sec_prob_unk.append(sec_pred_unk)
        
        true_pred_third_prob_unk.append(third_pred_unk)
        true_pred_fourth_prob_unk.append(fourth_pred_unk)
        
        true_pred_diff_f_s_unk.append(pred_unk - sec_pred_unk)
    else:
        false_pred_prob_unk.append(pred_unk)
        false_pred_sec_prob_unk.append(sec_pred_unk)
        
        false_pred_third_prob_unk.append(third_pred_unk)
        false_pred_fourth_prob_unk.append(fourth_pred_unk)
        
        false_pred_diff_f_s_unk.append(pred_unk - sec_pred_unk)

49/49 [==============================] - 1s 13ms/step

In [208]:
np.mean(false_pred_prob)

0.573191

In [207]:
np.mean(false_pred_sec_prob)

0.36867774

In [209]:
np.mean(false_pred_diff_f_s)

0.20451327

In [126]:
np.mean(true_pred_third_prob)

0.00074953766

In [111]:
np.mean(true_pred_prob)

0.961404

In [112]:
np.mean(true_pred_sec_prob)

0.036883198

In [113]:
np.mean(true_pred_diff_f_s)

0.92452085

In [129]:
len(true_pred_sec_prob)

2281

In [133]:
true_pred_sec_prob[34]

3.3393174e-08

In [142]:
known_stats = pd.DataFrame(columns=['1st prob','2nd prob','3rd prob', '4th prob', '1st 2nd diff'])
known_stats

Empty DataFrame
Columns: [1st prob, 2nd prob, 3rd prob, 4th prob, 1st 2nd diff]
Index: []

In [143]:
known_stats['1st prob'] = true_pred_prob
known_stats['2nd prob'] = true_pred_sec_prob
known_stats['3rd prob'] = true_pred_third_prob
known_stats['4th prob'] = true_pred_fourth_prob
known_stats['1st 2nd diff'] = true_pred_diff_f_s

In [144]:
known_stats

      1st prob      2nd prob      3rd prob      4th prob  1st 2nd diff
0     1.000000  2.569154e-15  1.069655e-17  1.015385e-19      1.000000
1     1.000000  9.181203e-17  4.764545e-17  1.831186e-18      1.000000
2     1.000000  9.366868e-15  3.185045e-15  7.938947e-16      1.000000
3     1.000000  5.921017e-13  1.916357e-13  3.490659e-17      1.000000
4     1.000000  1.900935e-14  1.765402e-15  1.011946e-15      1.000000
...        ...           ...           ...           ...           ...
2276  0.999850  1.383062e-04  5.963480e-06  5.255395e-06      0.999711
2277  0.999855  1.249712e-04  1.687434e-05  2.360714e-06      0.999730
2278  0.999981  1.786674e-05  9.050912e-07  5.556957e-07      0.999963
2279  0.999975  2.034598e-05  2.545200e-06  1.944344e-06      0.999954
2280  0.999894  8.487685e-05  1.118650e-05  8.344163e-06      0.999809

[2281 rows x 5 columns]

In [148]:
unknown_stats = pd.DataFrame(columns=['1st prob','2nd prob','3rd prob', '4th prob', '1st 2nd diff'])
unknown_stats

Empty DataFrame
Columns: [1st prob, 2nd prob, 3rd prob, 4th prob, 1st 2nd diff]
Index: []

In [149]:
unknown_stats['1st prob'] = false_pred_prob_unk
unknown_stats['2nd prob'] = false_pred_sec_prob_unk
unknown_stats['3rd prob'] = false_pred_third_prob_unk
unknown_stats['4th prob'] = false_pred_fourth_prob_unk
unknown_stats['1st 2nd diff'] = false_pred_diff_f_s_unk

In [150]:
unknown_stats

      1st prob  2nd prob  3rd prob  4th prob  1st 2nd diff
0     0.593002  0.345912  0.038111  0.013211      0.247090
1     0.541978  0.420911  0.015476  0.011653      0.121067
2     0.347032  0.334195  0.269061  0.033845      0.012837
3     0.437309  0.355056  0.119867  0.059642      0.082253
4     0.413710  0.357595  0.102216  0.072062      0.056115
...        ...       ...       ...       ...           ...
1539  0.586925  0.114638  0.056713  0.047052      0.472287
1540  0.572853  0.088673  0.082685  0.058648      0.484179
1541  0.447126  0.131973  0.116881  0.087790      0.315153
1542  0.199276  0.162259  0.141670  0.079875      0.037018
1543  0.418776  0.088122  0.078106  0.077210      0.330654

[1544 rows x 5 columns]

In [152]:
known_stats_train, known_stats_test = train_test_split(known_stats, test_size = 0.3, random_state = 0)

In [284]:
# Create an instance of OneClassSVM
svm = OneClassSVM(kernel='linear', nu=0.2)  # You can adjust the hyperparameters as per your needs

# Train the model using your training data
svm.fit(known_stats_train)

# Predict the labels for your test data


# The predictions will contain +1 for inliers (normal instances) and -1 for outliers (anomalous instances)

OneClassSVM(kernel='linear', nu=0.2)

In [285]:
predictions = svm.predict(known_stats_test)
known_false, known_true= np.count_nonzero(predictions == -1), np.count_nonzero(predictions == 1)
known_true, known_false

(574, 111)

In [286]:
predictions_unk = svm.predict(unknown_stats)
unk_true, unk_false =np.count_nonzero(predictions_unk == -1), np.count_nonzero(predictions_unk == 1)
unk_true, unk_false

(1513, 31)

In [287]:
acc_known = (known_true/(known_true+known_false))*100
acc_unk = (unk_true/(unk_true+unk_false))*100
acc_known, acc_unk

(83.7956204379562, 97.99222797927462)

In [203]:
np.unique(y_test)

array([ 0,  2,  3,  4,  6,  7,  8,  9, 11, 12, 13, 14, 15, 16, 17, 18, 19,
       20, 21, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 34, 35, 36, 37, 38,
       39, 40, 41, 42, 43, 45, 46, 47, 49])

In [205]:
unique_values, counts = np.unique(y_test, return_counts=True)


# Print the counts
for value, count in zip(unique_values, counts):
    print(f"{value}: {count}")

0: 38
2: 87
3: 51
4: 36
6: 69
7: 88
8: 87
9: 41
11: 75
12: 87
13: 42
14: 24
15: 51
16: 42
17: 122
18: 60
19: 51
20: 21
21: 36
23: 51
24: 36
25: 33
26: 60
27: 51
28: 88
29: 59
30: 51
31: 76
32: 60
34: 60
35: 35
36: 80
37: 46
38: 87
39: 60
40: 87
41: 60
42: 43
43: 45
45: 42
46: 96
47: 42
49: 42

In [206]:
np.mean(counts)

58.093023255813954

In [278]:
##Known
def preds(df):
    true_count=0
    predictions_proba = model.predict(df)#df instead of X_test
    print(predictions_proba.shape)

    true_pred_prob = []
    false_pred_prob = []
    true_pred_sec_prob = []
    true_pred_third_prob = []
    true_pred_fourth_prob = []
    false_pred_sec_prob = []
    true_pred_diff_f_s = []
    false_pred_diff_f_s = []
    for i in range (0,predictions_proba.shape[0]):
        probs_i = predictions_proba[i]
        pred_class = np.argmax(probs_i)
        true_class = y_test[i]##manual
        pred = probs_i[pred_class]
        probs_i[pred_class] = np.min(probs_i) - 1
        sec_pred = np.max(probs_i)

        sec_pred_class = np.argmax(probs_i)
        probs_i[sec_pred_class] = np.min(probs_i) - 1
        third_pred = np.max(probs_i)

        third_pred_class = np.argmax(probs_i)
        probs_i[third_pred_class] = np.min(probs_i) - 1
        fourth_pred = np.max(probs_i)


        if(pred_class == true_class):#true_pred
            true_pred_prob.append(pred)
            true_pred_sec_prob.append(sec_pred)

            true_pred_third_prob.append(third_pred)
            true_pred_fourth_prob.append(fourth_pred)

            true_pred_diff_f_s.append(pred-sec_pred)
            true_count = true_count+1
            print(true_count)
#             else:
#                 false_pred_prob.append(pred)
#                 false_pred_sec_prob.append(sec_pred)
#                 false_pred_diff_f_s.append(pred-sec_pred)
    return true_pred_prob, true_pred_sec_prob, true_pred_third_prob, true_pred_fourth_prob, true_pred_diff_f_s

In [280]:

f_pred_user=[]
s_pred_user=[]
t_pred_user=[]
fo_pred_user=[]
d_pred_user=[]
unique_users = np.unique(y_test)
for user in unique_users:
    indices = np.where(y_test == user)
    user_frames= X_test[indices]
    print(user_frames[:6].shape)

    f_pred, s_pred, t_pred, fo_pred, d_pred =preds(user_frames)  
    
    f_pred_user.append(f_pred)
    s_pred_user.append(s_pred)
    t_pred_user.append(t_pred)
    fo_pred_user.append(fo_pred)
    d_pred_user.append(d_pred)

(6, 600, 6)
2/2 [==============================] - 0s 4ms/step
(38, 50)
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
(6, 600, 6)
3/3 [==============================] - 0s 9ms/step
(87, 50)
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
(6, 600, 6)
2/2 [==============================] - 0s 7ms/step
(51, 50)
(6, 600, 6)
2/2 [==============================] - 0s 4ms/step
(36, 50)
(6, 600, 6)
3/3 [==============================] - 0s 9ms/step
(69, 50)
(6, 600, 6)
3/3 [==============================] - 0s 11ms/step
(88, 50)
(6, 600, 6)
3/3 [==============================] - 0s 12ms/step
(87, 50)
(6, 600, 6)
2/2 [==============================] - 0s 5ms/step
(41, 50)
(6, 600, 6)
3/3 [==============================] - 0s 8ms/step
(75, 50)
(6, 600, 6)
3/3 [==============================] - 0s 11ms/step
(87, 50)
(6, 600, 6)
2/2 [==============================] - 0s 6ms/step
(42, 50)
(6, 600, 6)
1/1 [==============================] - 0s 28ms/step
(24, 50)
(6, 600, 6)
2/2 [==============================] - 0s 8ms/step
(51, 50)
(6, 600, 6)
2/2 [==============================] - 0s 6ms/step
(42, 50)
(6, 600, 6)
4/4 [==============================] - 0s 11ms/step
(122, 50)
(6, 600, 6)
2/2 [==============================] - 0s 12ms/step
(60, 50)
(6, 600, 6)
2/2 [==============================] - 0s 7ms/step
(51, 50)
(6, 600, 6)
1/1 [==============================] - 0s 27ms/step
(21, 50)
(6, 600, 6)
2/2 [==============================] - 0s 5ms/step
(36, 50)
(6, 600, 6)
2/2 [==============================] - 0s 9ms/step
(51, 50)
(6, 600, 6)
2/2 [==============================] - 0s 5ms/step
(36, 50)
(6, 600, 6)
2/2 [==============================] - 0s 5ms/step
(33, 50)
(6, 600, 6)
2/2 [==============================] - 0s 14ms/step
(60, 50)
(6, 600, 6)
2/2 [==============================] - 0s 8ms/step
(51, 50)
(6, 600, 6)
3/3 [==============================] - 0s 11ms/step
(88, 50)
(6, 600, 6)
2/2 [==============================] - 0s 9ms/step
(59, 50)
(6, 600, 6)
2/2 [==============================] - 0s 7ms/step
(51, 50)
(6, 600, 6)
3/3 [==============================] - 0s 8ms/step
(76, 50)
(6, 600, 6)
2/2 [==============================] - 0s 14ms/step
(60, 50)
(6, 600, 6)
2/2 [==============================] - 0s 10ms/step
(60, 50)
(6, 600, 6)
2/2 [==============================] - 0s 6ms/step
(35, 50)
(6, 600, 6)
3/3 [==============================] - 0s 9ms/step
(80, 50)
(6, 600, 6)
2/2 [==============================] - 0s 7ms/step
(46, 50)
(6, 600, 6)
3/3 [==============================] - 0s 10ms/step
(87, 50)
(6, 600, 6)
2/2 [==============================] - 0s 10ms/step
(60, 50)
(6, 600, 6)
3/3 [==============================] - 0s 10ms/step
(87, 50)
(6, 600, 6)
2/2 [==============================] - 0s 11ms/step
(60, 50)
(6, 600, 6)
2/2 [==============================] - 0s 5ms/step
(43, 50)
(6, 600, 6)
2/2 [==============================] - 0s 7ms/step
(45, 50)
(6, 600, 6)
2/2 [==============================] - 0s 6ms/step
(42, 50)
(6, 600, 6)
3/3 [==============================] - 0s 12ms/step
(96, 50)
(6, 600, 6)
2/2 [==============================] - 0s 6ms/step
(42, 50)
(6, 600, 6)
2/2 [==============================] - 0s 7ms/step
(42, 50)

In [263]:
mean_values = []
svm_pred=[]
user_stats = pd.DataFrame(columns=['1st prob','2nd prob','3rd prob', '4th prob', '1st 2nd diff'])
for i in range(0, len(f_pred_user)):
    f_pred = f_pred_user[i]
    s_pred = s_pred_user[i]
    t_pred = t_pred_user[i]
    fo_pred = fo_pred_user[i]
    d_pred = d_pred_user[i]
    user_stats['1st prob'] = f_pred
    user_stats['2nd prob'] = s_pred
    user_stats['3rd prob'] = t_pred
    user_stats['4th prob'] = fo_pred
    user_stats['1st 2nd diff'] = d_pred
    preds_user = svm.predict(user_stats)
    svm_pred.append(preds_user)
svm_pred

ValueError: Length of values (0) does not match length of index (6)

In [258]:
svm_mean=[]
for arr in svm_pred:
    svm_mean.append(np.mean(arr))
# svm_mean
unique_values, counts = np.unique(svm_mean, return_counts=True)

# Print the counts
for value, count in zip(unique_values, counts):
    print(f"{value}: {count}")

-1.0: 7
-0.3333333333333333: 1
0.3333333333333333: 3
0.6666666666666666: 2
1.0: 30